{"swagger":"2.0","info":{"description":"# 小象直播API文档","version":"1.0","termsOfService":"http://www.elelive.tv/"},"host":"camel-api-gateway05.svc.elelive.cn","basePath":"/account-service","tags":[{"name":"admin-ads-controller","description":"Admin Ads Controller"},{"name":"admin-anchor-notice-controller","description":"Admin Anchor Notice Controller"},{"name":"admin-chat-white-text-controller","description":"Admin Chat White Text Controller"},{"name":"admin-chat-white-users-controller","description":"Admin Chat White Users Controller"},{"name":"admin-diamond-controller","description":"Admin Diamond Controller"},{"name":"admin-forbid-sensitive-words-controller","description":"Admin Forbid Sensitive Words Controller"},{"name":"admin-forbidden-users-controller","description":"Admin Forbidden Users Controller"},{"name":"admin-name-sensitive-words-controller","description":"Admin Name Sensitive Words Controller"},{"name":"admin-sensitive-words-controller","description":"Admin Sensitive Words Controller"},{"name":"admin-web-banner-controller","description":"Admin Web Banner Controller"},{"name":"admin-withdraw-controller","description":"Admin Withdraw Controller"},{"name":"block-speak-controller","description":"Block Speak Controller"},{"name":"captcha-controller","description":"Captcha Controller"},{"name":"device-controller","description":"Device Controller"},{"name":"diamond-controller","description":"Diamond Controller"},{"name":"ee-cache-controller","description":"Ee Cache Controller"},{"name":"ee-client-controller","description":"Ee Client Controller"},{"name":"ee-redis-controller","description":"Ee Redis Controller"},{"name":"ee-user-info-controller","description":"Ee User Info Controller"},{"name":"feedback-controller","description":"Feedback Controller"},{"name":"file-upload-controller","description":"File Upload Controller"},{"name":"mimo-controller","description":"Mimo Controller"},{"name":"payment-controller","description":"Payment Controller"},{"name":"push-inner-controller","description":"Push Inner Controller"},{"name":"region-controller","description":"Region Controller"},{"name":"relationship-controller","description":"Relationship Controller"},{"name":"silver-diamond-controller","description":"Silver Diamond Controller"},{"name":"sms-controller","description":"SMS Controller"},{"name":"unsubscribe-controller","description":"Unsubscribe Controller"},{"name":"user-login-controller","description":"User Login Controller"},{"name":"user-profile-cache-controller","description":"User Profile Cache Controller"},{"name":"version-controller","description":"Version Controller"},{"name":"商品管理","description":"Goods Controller"},{"name":"广告","description":"Ads Controller"},{"name":"版本信息","description":"Ee Version Controller"},{"name":"装扮管理","description":"Dress Up Controller"}],"paths":{"/admin/ads/activity/save":{"post":{"tags":["admin-ads-controller"],"summary":"saveActivity","operationId":"saveActivityUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/广告活动","originalRef":"广告活动"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/ads/advertiser/del":{"post":{"tags":["admin-ads-controller"],"summary":"delAdvertiser","operationId":"delAdvertiserUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/ads/advertiser/save":{"post":{"tags":["admin-ads-controller"],"summary":"saveAdvertiser","operationId":"saveAdvertiserUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/AdAdvertiserSaveDTO","originalRef":"AdAdvertiserSaveDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/ads/material/del":{"post":{"tags":["admin-ads-controller"],"summary":"delMaterial","operationId":"delMaterialUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/ads/material/save":{"post":{"tags":["admin-ads-controller"],"summary":"saveMaterial","operationId":"saveMaterialUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/AdMaterialSaveDTO","originalRef":"AdMaterialSaveDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/anchorNotice/save":{"post":{"tags":["admin-anchor-notice-controller"],"summary":"save","operationId":"saveUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/SaveAnchorNoticeDTO","originalRef":"SaveAnchorNoticeDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/chatWhiteText/add":{"post":{"tags":["admin-chat-white-text-controller"],"summary":"add","operationId":"addUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/StringKeyValueDTO","originalRef":"StringKeyValueDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/chatWhiteText/del":{"post":{"tags":["admin-chat-white-text-controller"],"summary":"del","operationId":"delUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/chatWhiteUsers/add":{"post":{"tags":["admin-chat-white-users-controller"],"summary":"add","operationId":"addUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/StringKeyValueDTO","originalRef":"StringKeyValueDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/chatWhiteUsers/del":{"post":{"tags":["admin-chat-white-users-controller"],"summary":"del","operationId":"delUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/diamond/account":{"post":{"tags":["admin-diamond-controller"],"summary":"账户","operationId":"accountUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«DiamondAccountDTO»","originalRef":"结果响应«DiamondAccountDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/diamond/account/detail":{"post":{"tags":["admin-diamond-controller"],"summary":"账户详情（累计获得/消耗）","operationId":"accountDetailUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«账户详情返回»","originalRef":"结果响应«账户详情返回»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/diamond/addGoldDiamond":{"post":{"tags":["admin-diamond-controller"],"summary":"增加骆驼币(金钻)","operationId":"addGoldDiamondUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/增加骆驼币(金钻)请求","originalRef":"增加骆驼币(金钻)请求"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«增加骆驼币(金钻)响应»","originalRef":"结果响应«增加骆驼币(金钻)响应»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/diamond/freeze":{"post":{"tags":["admin-diamond-controller"],"summary":"银钻/金钻/红钻账户冻结或解冻","operationId":"freezeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/DiamondFreezeDTO","originalRef":"DiamondFreezeDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Void»","originalRef":"结果响应«Void»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/diamond/transferDiamond":{"post":{"tags":["admin-diamond-controller"],"summary":"扣钻(扣金钻加红钻)","operationId":"transferDiamondUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/扣钻请求","originalRef":"扣钻请求"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«扣钻响应»","originalRef":"结果响应«扣钻响应»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/diamond/withdraw/account/get":{"post":{"tags":["admin-diamond-controller"],"summary":"查询提现账户","operationId":"getWithdrawAccountUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«提现账户»","originalRef":"结果响应«提现账户»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/diamond/withdraw/confirmPay":{"post":{"tags":["admin-diamond-controller"],"summary":"确认提现打款（置为SUCCESS）","operationId":"confirmWithdrawPayUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/确认提现打款请求","originalRef":"确认提现打款请求"}},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Void»","originalRef":"结果响应«Void»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/diamond/withdraw/reject":{"post":{"tags":["admin-diamond-controller"],"summary":"拒绝提现（置为FAILED）","operationId":"rejectWithdrawUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/拒绝提现请求","originalRef":"拒绝提现请求"}},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Void»","originalRef":"结果响应«Void»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/forbidSensitiveWords/add":{"post":{"tags":["admin-forbid-sensitive-words-controller"],"summary":"add","operationId":"addUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/StringKeyValueDTO","originalRef":"StringKeyValueDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/forbidSensitiveWords/del":{"post":{"tags":["admin-forbid-sensitive-words-controller"],"summary":"del","operationId":"delUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/forbiddenUsers/add":{"post":{"tags":["admin-forbidden-users-controller"],"summary":"add","operationId":"addUsingPOST_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/StringKeyValueDTO","originalRef":"StringKeyValueDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/forbiddenUsers/addForbiddenUser":{"post":{"tags":["admin-forbidden-users-controller"],"summary":"禁言-加禁言用户","operationId":"addForbiddenUserUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/ForbiddenUsersAddReq","originalRef":"ForbiddenUsersAddReq"}},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/forbiddenUsers/del":{"post":{"tags":["admin-forbidden-users-controller"],"summary":"del","operationId":"delUsingPOST_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/forbiddenUsers/reverse":{"post":{"tags":["admin-forbidden-users-controller"],"summary":"reverse","operationId":"reverseUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/ForbiddenReverseReq","originalRef":"ForbiddenReverseReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应","originalRef":"结果响应"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/nameSensitiveWords/add":{"post":{"tags":["admin-name-sensitive-words-controller"],"summary":"add","operationId":"addUsingPOST_4","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/StringKeyValueDTO","originalRef":"StringKeyValueDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/nameSensitiveWords/del":{"post":{"tags":["admin-name-sensitive-words-controller"],"summary":"del","operationId":"delUsingPOST_4","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/sensitiveWords/add":{"post":{"tags":["admin-sensitive-words-controller"],"summary":"add","operationId":"addUsingPOST_5","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/StringKeyValueDTO","originalRef":"StringKeyValueDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/sensitiveWords/del":{"post":{"tags":["admin-sensitive-words-controller"],"summary":"del","operationId":"delUsingPOST_5","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/webBanner/del":{"post":{"tags":["admin-web-banner-controller"],"summary":"del","operationId":"delUsingPOST_6","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/webBanner/save":{"post":{"tags":["admin-web-banner-controller"],"summary":"save","operationId":"saveUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/SaveWebBannerDTO","originalRef":"SaveWebBannerDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/withdraw/audit":{"post":{"tags":["admin-withdraw-controller"],"summary":"提现审核","operationId":"auditUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/提现审核请求","originalRef":"提现审核请求"}},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Void»","originalRef":"结果响应«Void»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/withdraw/list":{"post":{"tags":["admin-withdraw-controller"],"summary":"提现订单列表","operationId":"listUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/提现订单列表查询请求","originalRef":"提现订单列表查询请求"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«List«提现订单信息»»","originalRef":"结果响应«List«提现订单信息»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/withdraw/stats":{"post":{"tags":["admin-withdraw-controller"],"summary":"提现统计（全量）","operationId":"statsUsingPOST","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«提现统计»","originalRef":"结果响应«提现统计»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/captcha/check":{"get":{"tags":["captcha-controller"],"summary":"根据前端回传的验证码内容，返回是否有效","description":"根据前端回传的验证码内容，返回是否有效","operationId":"checkUsingGET","produces":["*/*"],"parameters":[{"name":"imgVerifyCode","in":"query","description":"图形验证码","required":true,"type":"string"},{"name":"uuid","in":"query","description":"唯一性请求标记","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/captcha/generate":{"get":{"tags":["captcha-controller"],"summary":"生成图形验证码","description":"生成图形验证码,每一次调用都会对原有信息进行捆绑","operationId":"generateUsingGET","produces":["application/octet-stream","image/jpeg"],"parameters":[{"name":"uuid","in":"query","description":"唯一性请求标记","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string","format":"byte"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/captcha/generate/v2":{"post":{"tags":["captcha-controller"],"summary":"生成图形验证码","operationId":"generateV2UsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/UuidDTO","originalRef":"UuidDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/captcha/generateCode":{"get":{"tags":["captcha-controller"],"summary":"生成图形验证码","operationId":"generateCodeUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CapCodeDTO","originalRef":"CapCodeDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/ads/activity/get":{"post":{"tags":["广告"],"summary":"广告列表","operationId":"getUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Accept-Language","in":"header","description":"Accept-Language","required":true,"type":"string","default":"en"},{"name":"deviceId","in":"header","description":"deviceId","required":true,"type":"string"},{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/广告活动","originalRef":"广告活动"}},{"name":"uid","in":"header","description":"uid","required":false,"type":"string"},{"name":"X-Real-IP","in":"header","description":"X-Real-IP","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«AdActivityGetResp»","originalRef":"结果响应«AdActivityGetResp»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/ads/activity/read":{"post":{"tags":["广告"],"summary":"广告已读","operationId":"readUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"deviceId","in":"header","description":"deviceId","required":true,"type":"string"},{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/已读广告活动请求","originalRef":"已读广告活动请求"}},{"name":"uid","in":"header","description":"uid","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/block_speak/do":{"post":{"tags":["block-speak-controller"],"summary":"block","operationId":"blockUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"targetUid","in":"query","description":"targetUid","required":true,"type":"string"},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«int»","originalRef":"结果响应«int»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/block_speak/list":{"post":{"tags":["block-speak-controller"],"summary":"list","operationId":"listUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«List«string»»","originalRef":"结果响应«List«string»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/cache/refreshAllNode":{"get":{"tags":["ee-cache-controller"],"summary":"refreshAllNode","operationId":"refreshAllNodeUsingGET","produces":["*/*"],"parameters":[{"name":"data","in":"query","description":"data","required":false,"type":"string"},{"name":"formKey","in":"query","description":"formKey","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/addForbiddenUser":{"post":{"tags":["ee-client-controller"],"summary":"禁言-加禁言用户","operationId":"addForbiddenUserUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/ForbiddenUsersAddReq","originalRef":"ForbiddenUsersAddReq"}},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/addReportUser":{"post":{"tags":["ee-client-controller"],"summary":"举报用户","operationId":"addReportUserUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/ReportUsersAddReq","originalRef":"ReportUsersAddReq"}},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«ReportUsersAddResp»","originalRef":"结果响应«ReportUsersAddResp»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/allCamelAdmin":{"post":{"tags":["ee-client-controller"],"summary":"allCamelAdmin","operationId":"allCamelAdminUsingPOST","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Set«string»»","originalRef":"结果响应«Set«string»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/canWebLive":{"get":{"tags":["ee-client-controller"],"summary":"能否在web开播","operationId":"canWebLiveUsingGET","produces":["*/*"],"parameters":[{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/demo/changeForgetPwd":{"post":{"tags":["ee-client-controller"],"summary":"忘记密码时改新密码(手机)","operationId":"changeForgetPwdUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"countryCode","in":"query","description":"countryCode","required":true,"type":"string"},{"name":"mobile","in":"query","description":"mobile","required":true,"type":"string"},{"name":"password","in":"query","description":"password","required":true,"type":"string"},{"name":"smsVerifyCode","in":"query","description":"smsVerifyCode","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/demo/changeForgetPwdForEmail":{"post":{"tags":["ee-client-controller"],"summary":"忘记密码时改新密码(邮件)","operationId":"changeForgetPwdForEmailUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"email","in":"query","description":"email","required":true,"type":"string"},{"name":"password","in":"query","description":"password","required":true,"type":"string"},{"name":"smsVerifyCode","in":"query","description":"smsVerifyCode","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/demo/emailByWeb":{"post":{"tags":["ee-client-controller"],"summary":"注册并登录(邮箱)","operationId":"emailByWebUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Device","in":"header","description":"Device","required":false,"type":"string","default":"WEB","enum":["ANDROID","IOS","WEB"]},{"name":"email","in":"query","description":"email","required":true,"type":"string"},{"name":"nickname","in":"query","description":"nickname","required":false,"type":"string"},{"name":"password","in":"query","description":"password","required":true,"type":"string"},{"name":"smsVerifyCode","in":"query","description":"smsVerifyCode","required":true,"type":"string"},{"name":"utm","in":"query","description":"utm","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Map»","originalRef":"结果响应«Map»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/demo/forgetPwd":{"post":{"tags":["ee-client-controller"],"summary":"忘记密码时发验证码(手机)","operationId":"forgetPwdUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"clientip","in":"header","description":"clientip","required":false,"type":"string"},{"name":"countryCode","in":"query","description":"手机号码所在国家区号","required":true,"type":"string","pattern":"^\\d+$"},{"name":"imageVerifyCode","in":"query","description":"发短信时需要先触发图形验证码","required":true,"type":"string"},{"name":"mobile","in":"query","description":"目标手机号码","required":true,"type":"string","pattern":"^\\d+$"},{"name":"uuid","in":"query","description":"请求图形验证码时的UUID值","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/demo/forgetPwdForEmail":{"post":{"tags":["ee-client-controller"],"summary":"忘记密码时发验证码(邮件)","operationId":"forgetPwdForEmailUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"clientip","in":"header","description":"clientip","required":false,"type":"string"},{"name":"email","in":"query","description":"email","required":true,"type":"string"},{"name":"imageVerifyCode","in":"query","description":"发短信时需要先触发图形验证码","required":true,"type":"string"},{"name":"uuid","in":"query","description":"请求图形验证码时的UUID值","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/demo/login":{"post":{"tags":["ee-client-controller"],"summary":"手机号密码登录","operationId":"loginUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"countryCode","in":"query","description":"countryCode","required":true,"type":"string"},{"name":"Device","in":"header","description":"Device","required":false,"type":"string","default":"WEB","enum":["ANDROID","IOS","WEB"]},{"name":"mobile","in":"query","description":"mobile","required":true,"type":"string"},{"name":"password","in":"query","description":"password","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Map»","originalRef":"结果响应«Map»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/demo/loginForEmail":{"post":{"tags":["ee-client-controller"],"summary":"邮箱密码登录","operationId":"loginUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Device","in":"header","description":"Device","required":false,"type":"string","default":"WEB","enum":["ANDROID","IOS","WEB"]},{"name":"email","in":"query","description":"email","required":true,"type":"string"},{"name":"password","in":"query","description":"password","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Map»","originalRef":"结果响应«Map»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/demo/mobileByWeb":{"post":{"tags":["ee-client-controller"],"summary":"注册并登录(手机)","operationId":"mobileByWebUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"countryCode","in":"query","description":"countryCode","required":true,"type":"string"},{"name":"Device","in":"header","description":"Device","required":false,"type":"string","default":"WEB","enum":["ANDROID","IOS","WEB"]},{"name":"mobile","in":"query","description":"mobile","required":true,"type":"string"},{"name":"nickname","in":"query","description":"nickname","required":false,"type":"string"},{"name":"password","in":"query","description":"password","required":true,"type":"string"},{"name":"smsVerifyCode","in":"query","description":"smsVerifyCode","required":true,"type":"string"},{"name":"utm","in":"query","description":"utm","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Map»","originalRef":"结果响应«Map»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/demo/sendEmail":{"post":{"tags":["ee-client-controller"],"summary":"注册时发送验证码(邮件)","operationId":"sendEmailUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"clientip","in":"header","description":"clientip","required":false,"type":"string"},{"name":"email","in":"query","description":"email","required":true,"type":"string"},{"name":"imageVerifyCode","in":"query","description":"发短信时需要先触发图形验证码","required":true,"type":"string"},{"name":"uuid","in":"query","description":"请求图形验证码时的UUID值","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/demo/sendSms":{"post":{"tags":["ee-client-controller"],"summary":"注册时发送验证码(手机)","operationId":"sendSmsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"clientip","in":"header","description":"clientip","required":false,"type":"string"},{"name":"countryCode","in":"query","description":"手机号码所在国家区号","required":true,"type":"string","pattern":"^\\d+$"},{"name":"imageVerifyCode","in":"query","description":"发短信时需要先触发图形验证码","required":true,"type":"string"},{"name":"mobile","in":"query","description":"目标手机号码","required":true,"type":"string","pattern":"^\\d+$"},{"name":"uuid","in":"query","description":"请求图形验证码时的UUID值","required":true,"type":"string"},{"name":"X-Real-IP","in":"header","description":"X-Real-IP","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/demo/webBanner":{"post":{"tags":["ee-client-controller"],"summary":"webBanner","operationId":"webBannerUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"bannerType","in":"query","description":"类型,1首页，2直播间","required":true,"type":"integer","format":"int32"},{"name":"channel","in":"query","description":"展示渠道：pc,h5,app","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«List«WebBannerDTO»»","originalRef":"结果响应«List«WebBannerDTO»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/dialogForbiddenUser":{"get":{"tags":["ee-client-controller"],"summary":"禁言-管理员禁言弹窗","operationId":"dialogForbiddenUserUsingGET","produces":["*/*"],"parameters":[{"name":"forbiddenUserId","in":"query","description":"forbiddenUserId","required":true,"type":"string"},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«ForbiddenUsersDialogDTO»","originalRef":"结果响应«ForbiddenUsersDialogDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/general":{"get":{"tags":["ee-client-controller"],"summary":"general","operationId":"generalUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Map«string,object»»","originalRef":"结果响应«Map«string,object»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/getCountryCode":{"get":{"tags":["ee-client-controller"],"summary":"从ip获取对应的手机区号","operationId":"getCountryCodeUsingGET","produces":["*/*"],"parameters":[{"name":"clientip","in":"header","description":"clientip","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«string»","originalRef":"结果响应«string»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/getForbiddenUser":{"get":{"tags":["ee-client-controller"],"summary":"禁言-当前用户禁言信息","operationId":"getForbiddenUserUsingGET","produces":["*/*"],"parameters":[{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«ForbiddenUsersDTO»","originalRef":"结果响应«ForbiddenUsersDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/getHistoryMessage":{"post":{"tags":["ee-client-controller"],"summary":"获取直播间历史消息","operationId":"getHistoryMessageUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/GetHistoryMessageDTO","originalRef":"GetHistoryMessageDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«List«string»»","originalRef":"结果响应«List«string»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/ipLog":{"get":{"tags":["ee-client-controller"],"summary":"ipLog","operationId":"ipLogUsingGET","produces":["*/*"],"parameters":[{"name":"clientip","in":"header","description":"clientip","required":false,"type":"string"},{"name":"X-Real-IP","in":"header","description":"X-Real-IP","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«string»","originalRef":"结果响应«string»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/isCamelAdmin":{"post":{"tags":["ee-client-controller"],"summary":"是否管理账号","operationId":"isCamelAdminUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/logout":{"post":{"tags":["ee-client-controller"],"summary":"logout","operationId":"logoutUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/querySmsLimitConf":{"get":{"tags":["ee-client-controller"],"summary":"querySmsLimitConf","operationId":"querySmsLimitConfUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Page«SmsLimitDTO»»","originalRef":"结果响应«Page«SmsLimitDTO»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/sendBarrage":{"post":{"tags":["ee-client-controller"],"summary":"发弹幕","operationId":"sendBarrageUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/WebBarrageDTO","originalRef":"WebBarrageDTO"}},{"name":"Node","in":"header","description":"Node","required":false,"type":"string"},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«int»","originalRef":"结果响应«int»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/setCamelAdmin":{"post":{"tags":["ee-client-controller"],"summary":"setCamelAdmin","operationId":"setCamelAdminUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"enable","in":"query","description":"enable","required":true,"type":"integer","format":"int32"},{"name":"uid","in":"query","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/setSmsLimitConf":{"post":{"tags":["ee-client-controller"],"summary":"setSmsLimitConf","operationId":"setSmsLimitConfUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"confNum","in":"query","description":"confNum","required":true,"type":"integer","format":"int32"},{"name":"countryCode","in":"query","description":"countryCode","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/updateUserInfo":{"post":{"tags":["ee-client-controller"],"summary":"更新用户信息","operationId":"updateUserInfoUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/用户信息","originalRef":"用户信息"}},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/uploadAvatar":{"post":{"tags":["ee-client-controller"],"summary":"上传头像信息,类型主要是JPG，GIF，PNG,最大为10MB","operationId":"uploadAvatarUsingPOST","consumes":["multipart/form-data"],"produces":["*/*"],"parameters":[{"in":"body","name":"avatar","description":"头像文件","required":true,"schema":{"type":"string","format":"binary"}},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«string»","originalRef":"结果响应«string»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/userInfo":{"get":{"tags":["ee-client-controller"],"summary":"userInfo","operationId":"userInfoUsingGET","produces":["*/*"],"parameters":[{"name":"userId","in":"query","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«ClientUserInfoDTO»","originalRef":"结果响应«ClientUserInfoDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/web/getAnchorNoticeMapper":{"post":{"tags":["ee-client-controller"],"summary":"获取主播公告","operationId":"getAnchorNoticeMapperUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Accept-Language","in":"header","description":"Accept-Language","required":false,"type":"string"},{"name":"anchorId","in":"query","description":"anchorId","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«string»","originalRef":"结果响应«string»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/web/getCsURL":{"post":{"tags":["ee-client-controller"],"summary":"客服地址","operationId":"getCsURLUsingPOST","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«List«string»»","originalRef":"结果响应«List«string»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/ee/client/web/saveAnchorNoticeMapper":{"post":{"tags":["ee-client-controller"],"summary":"保存主播公告","operationId":"saveAnchorNoticeMapperUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/AnchorNoticeDTO","originalRef":"AnchorNoticeDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/web/uploadPic":{"post":{"tags":["ee-client-controller"],"summary":"上传图片,类型是png、jpg、gif","operationId":"uploadPicUsingPOST","consumes":["multipart/form-data"],"produces":["*/*"],"parameters":[{"in":"body","name":"avatar","description":"avatar","required":true,"schema":{"type":"string","format":"binary"}},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«string»","originalRef":"结果响应«string»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/diamond/account":{"post":{"tags":["diamond-controller"],"summary":"账户","operationId":"accountUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«DiamondAccountDTO»","originalRef":"结果响应«DiamondAccountDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/diamond/account/stats":{"post":{"tags":["diamond-controller"],"summary":"账户统计","operationId":"accountStatsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«账户统计»","originalRef":"结果响应«账户统计»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/diamond/gold/trans":{"post":{"tags":["diamond-controller"],"summary":"金钻(骆驼币)流水","operationId":"goldTransUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/分页基础参数","originalRef":"分页基础参数"}},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«List«TransactionLogDTO»»","originalRef":"结果响应«List«TransactionLogDTO»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/diamond/red/income/daily":{"post":{"tags":["diamond-controller"],"summary":"每日红钻(绿钻)收益","operationId":"redIncomeDailyPageUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":false,"schema":{"$ref":"#/definitions/每日红钻收益分页请求(BasePage)","originalRef":"每日红钻收益分页请求(BasePage)"}},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«每日红钻收益统计»","originalRef":"结果响应«每日红钻收益统计»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/diamond/withdraw/account/get":{"post":{"tags":["diamond-controller"],"summary":"查询提现账户","operationId":"getWithdrawAccountUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«提现账户»","originalRef":"结果响应«提现账户»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/diamond/withdraw/account/set":{"post":{"tags":["diamond-controller"],"summary":"设置提现账户","operationId":"setWithdrawAccountUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/设置提现账户请求","originalRef":"设置提现账户请求"}},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«提现账户»","originalRef":"结果响应«提现账户»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/diamond/withdraw/autoApplyForUser":{"get":{"tags":["diamond-controller"],"summary":"[测试]触发提现","operationId":"autoApplyForUserUsingGET","produces":["*/*"],"parameters":[{"name":"userId","in":"query","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Void»","originalRef":"结果响应«Void»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/diamond/withdraw/myOrders":{"post":{"tags":["diamond-controller"],"summary":"我的提现记录","operationId":"myOrdersUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/提现订单列表查询请求","originalRef":"提现订单列表查询请求"}},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«我的提现记录响应»","originalRef":"结果响应«我的提现记录响应»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/dress_up/add":{"post":{"tags":["装扮管理"],"summary":"addDressUp","operationId":"addDressUpUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/DressUpDTO","originalRef":"DressUpDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Void»","originalRef":"结果响应«Void»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/dress_up/addUserDressUp":{"post":{"tags":["装扮管理"],"summary":"addUserDressUp","operationId":"addUserDressUpUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/AdminUserDressUpDTO","originalRef":"AdminUserDressUpDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Void»","originalRef":"结果响应«Void»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/dress_up/del":{"post":{"tags":["装扮管理"],"summary":"del","operationId":"delUsingPOST_7","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Void»","originalRef":"结果响应«Void»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/dress_up/delUserDressUp":{"post":{"tags":["装扮管理"],"summary":"delUserDressUp","operationId":"delUserDressUpUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Void»","originalRef":"结果响应«Void»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/dress_up/mine":{"get":{"tags":["装扮管理"],"summary":"我的装扮","operationId":"pageMyDressUpUsingGET","produces":["*/*"],"parameters":[{"name":"page","in":"query","description":"page","required":false,"type":"integer","default":1,"format":"int32"},{"name":"size","in":"query","description":"size","required":false,"type":"integer","default":10,"format":"int32"},{"name":"type","in":"query","description":"type","required":true,"type":"integer","format":"int32"},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Page«UserDressUpDTO»»","originalRef":"结果响应«Page«UserDressUpDTO»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/dress_up/unwear":{"post":{"tags":["装扮管理"],"summary":"卸下","operationId":"unwearUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"integer","format":"int64"},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Void»","originalRef":"结果响应«Void»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/dress_up/wear":{"post":{"tags":["装扮管理"],"summary":"佩戴","operationId":"wearUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"integer","format":"int64"},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«WearDressUpResp»","originalRef":"结果响应«WearDressUpResp»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/feedback/commit":{"post":{"tags":["feedback-controller"],"summary":"提交意见反馈","operationId":"commitFeedbackUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/FeedbackReq","originalRef":"FeedbackReq"}},{"name":"uid","in":"header","description":"uid","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Void»","originalRef":"结果响应«Void»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/goods/add":{"post":{"tags":["商品管理"],"summary":"addGoods","operationId":"addGoodsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/AdminGoodsDTO","originalRef":"AdminGoodsDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Void»","originalRef":"结果响应«Void»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/goods/buy":{"post":{"tags":["商品管理"],"summary":"购买","operationId":"buyUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"integer","format":"int64"},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«BuyGoodsResp»","originalRef":"结果响应«BuyGoodsResp»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/goods/buy_record":{"get":{"tags":["商品管理"],"summary":"购买记录","operationId":"pageGoodsBuyRecordUsingGET","produces":["*/*"],"parameters":[{"name":"page","in":"query","description":"page","required":false,"type":"integer","default":1,"format":"int32"},{"name":"size","in":"query","description":"size","required":false,"type":"integer","default":10,"format":"int32"},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Page«GoodsBuyRecordDTO»»","originalRef":"结果响应«Page«GoodsBuyRecordDTO»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/goods/list":{"get":{"tags":["商品管理"],"summary":"商品列表","operationId":"pageAvailableGoodsUsingGET","produces":["*/*"],"parameters":[{"name":"page","in":"query","description":"page","required":false,"type":"integer","default":1,"format":"int32"},{"name":"size","in":"query","description":"size","required":false,"type":"integer","default":10,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Page«GoodsDTO»»","originalRef":"结果响应«Page«GoodsDTO»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/goods/one":{"get":{"tags":["商品管理"],"summary":"单个商品","operationId":"getByIdUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«GoodsDTO»","originalRef":"结果响应«GoodsDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/redis/clear":{"get":{"tags":["ee-redis-controller"],"summary":"clear","operationId":"clearUsingGET","produces":["*/*"],"parameters":[{"name":"patternPrefix","in":"query","description":"patternPrefix","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/redis/expired":{"get":{"tags":["ee-redis-controller"],"summary":"expired","operationId":"expiredUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/redis/get":{"get":{"tags":["ee-redis-controller"],"summary":"get","operationId":"getUsingGET","produces":["*/*"],"parameters":[{"name":"key","in":"query","description":"key","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«string»","originalRef":"结果响应«string»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/redis/hGetAll":{"get":{"tags":["ee-redis-controller"],"summary":"hGetAll","operationId":"hGetAllUsingGET","produces":["*/*"],"parameters":[{"name":"key","in":"query","description":"key","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Map«string,string»»","originalRef":"结果响应«Map«string,string»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/redis/hget":{"get":{"tags":["ee-redis-controller"],"summary":"hget","operationId":"hgetUsingGET","produces":["*/*"],"parameters":[{"name":"field","in":"query","description":"field","required":true,"type":"string"},{"name":"key","in":"query","description":"key","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«string»","originalRef":"结果响应«string»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/redis/hmultiGet":{"get":{"tags":["ee-redis-controller"],"summary":"hmultiGet","operationId":"hmultiGetUsingGET","produces":["*/*"],"parameters":[{"name":"fields","in":"query","description":"fields","required":true,"type":"string"},{"name":"key","in":"query","description":"key","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«List«string»»","originalRef":"结果响应«List«string»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/redis/multiGet":{"get":{"tags":["ee-redis-controller"],"summary":"multiGet","operationId":"multiGetUsingGET","produces":["*/*"],"parameters":[{"name":"keys","in":"query","description":"keys","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«List«string»»","originalRef":"结果响应«List«string»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/redis/top":{"get":{"tags":["ee-redis-controller"],"summary":"top","operationId":"topUsingGET","produces":["*/*"],"parameters":[{"name":"key","in":"query","description":"key","required":true,"type":"string"},{"name":"num","in":"query","description":"num","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Set«TypedTuple«string»»»","originalRef":"结果响应«Set«TypedTuple«string»»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/redis/zget":{"get":{"tags":["ee-redis-controller"],"summary":"zget","operationId":"zgetUsingGET","produces":["*/*"],"parameters":[{"name":"key","in":"query","description":"key","required":true,"type":"string"},{"name":"member","in":"query","description":"member","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«double»","originalRef":"结果响应«double»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/redis/zmultiGet":{"get":{"tags":["ee-redis-controller"],"summary":"zmultiGet","operationId":"zmultiGetUsingGET","produces":["*/*"],"parameters":[{"name":"key","in":"query","description":"key","required":true,"type":"string"},{"name":"members","in":"query","description":"members","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«List«string»»","originalRef":"结果响应«List«string»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/silverDiamond/account":{"post":{"tags":["silver-diamond-controller"],"summary":"账户信息","operationId":"accountUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«SilverDiamondAccountDTO»","originalRef":"结果响应«SilverDiamondAccountDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/silverDiamond/decrease":{"post":{"tags":["silver-diamond-controller"],"summary":"扣减银钻","operationId":"decreaseUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/SilverDiamondDecreaseReq","originalRef":"SilverDiamondDecreaseReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应","originalRef":"结果响应"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/silverDiamond/event":{"post":{"tags":["silver-diamond-controller"],"summary":"测试-任务事件","operationId":"eventUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Void»","originalRef":"结果响应«Void»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/silverDiamond/freeze":{"post":{"tags":["silver-diamond-controller"],"summary":"freeze","operationId":"freezeUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/FreezeSilverDiamondDTO","originalRef":"FreezeSilverDiamondDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Void»","originalRef":"结果响应«Void»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/silverDiamond/increase":{"post":{"tags":["silver-diamond-controller"],"summary":"加银钻","operationId":"decreaseUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/SilverDiamondIncreaseReq","originalRef":"SilverDiamondIncreaseReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应","originalRef":"结果响应"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/silverDiamond/invite/home":{"post":{"tags":["silver-diamond-controller"],"summary":"邀请信息","operationId":"inviteUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"uid","in":"header","description":"uid","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«SilverDiamondUserInviteDTO»","originalRef":"结果响应«SilverDiamondUserInviteDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/silverDiamond/invite/recordList":{"post":{"tags":["silver-diamond-controller"],"summary":"邀请记录","operationId":"inviterListUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"page","description":"page","required":true,"schema":{"$ref":"#/definitions/分页基础参数0","originalRef":"分页基础参数0"}},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«List«UserInviteDTO»»","originalRef":"结果响应«List«UserInviteDTO»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/silverDiamond/task":{"post":{"tags":["silver-diamond-controller"],"summary":"任务信息","operationId":"taskUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"uid","in":"header","description":"uid","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«SilverDiamondTaskHomeDTO»","originalRef":"结果响应«SilverDiamondTaskHomeDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/silverDiamond/task/initTemplate":{"post":{"tags":["silver-diamond-controller"],"summary":"测试-任务模版","operationId":"initTaskTemplateUsingPOST","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Void»","originalRef":"结果响应«Void»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/silverDiamond/trans":{"post":{"tags":["silver-diamond-controller"],"summary":"交易流水","operationId":"tarnsLogUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/分页基础参数","originalRef":"分页基础参数"}},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«List«TransactionLogDTO»»","originalRef":"结果响应«List«TransactionLogDTO»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/userinfo/getOne":{"get":{"tags":["ee-user-info-controller"],"summary":"获取单个用户信息","operationId":"getOneUsingGET","produces":["*/*"],"parameters":[{"name":"userId","in":"query","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«用户基本信息»","originalRef":"结果响应«用户基本信息»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/version/lang":{"get":{"tags":["版本信息"],"summary":"lang","operationId":"langUsingGET","produces":["*/*"],"parameters":[{"name":"Accept-Language","in":"header","description":"Accept-Language","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«string»","originalRef":"结果响应«string»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/version/version":{"get":{"tags":["版本信息"],"summary":"version","operationId":"versionUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«string»","originalRef":"结果响应«string»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/inner/push/send":{"post":{"tags":["push-inner-controller"],"summary":"发送推送信息(内部调用)","description":"发送推送信息(内部调用)","operationId":"sendPushUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"msg","description":"msg","required":true,"schema":{"$ref":"#/definitions/LocalMessageDTO","originalRef":"LocalMessageDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/login/anonymous/web":{"post":{"tags":["user-login-controller"],"summary":"匿名用户登录，返回值中的Key为UserId,Value:IMToken","operationId":"loginForWebUsingPOST","consumes":["application/x-www-form-urlencoded"],"produces":["*/*"],"parameters":[{"name":"appCode","in":"formData","required":false,"type":"string"},{"name":"clientip","in":"header","description":"客户端IP","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/login/apple":{"post":{"tags":["user-login-controller"],"summary":"Apple登录","operationId":"appleUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Device","in":"header","description":"Device","required":false,"type":"string","default":"WEB","enum":["ANDROID","IOS","WEB"]},{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/TokenDTO","originalRef":"TokenDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Map»","originalRef":"结果响应«Map»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/login/apple/callback":{"post":{"tags":["user-login-controller"],"summary":"Apple Callback","operationId":"appleCallbackUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"json","description":"json","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应","originalRef":"结果响应"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/login/googleMailLogin":{"post":{"tags":["user-login-controller"],"summary":"谷歌邮箱登录","operationId":"googleMailLoginUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Device","in":"header","description":"Device","required":false,"type":"string","default":"WEB","enum":["ANDROID","IOS","WEB"]},{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/TokenDTO","originalRef":"TokenDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Map»","originalRef":"结果响应«Map»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/login/invite/google/bind":{"post":{"tags":["user-login-controller"],"summary":"绑定邀请关系(google账户)","operationId":"inviterBindUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/TokenDTO","originalRef":"TokenDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应","originalRef":"结果响应"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/mimo/sendPerson":{"post":{"tags":["mimo-controller"],"summary":"sendPerson","operationId":"sendPersonUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"msg","description":"msg","required":true,"schema":{"$ref":"#/definitions/MimoPersonMsgDTO","originalRef":"MimoPersonMsgDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/mimo/sendRoom":{"post":{"tags":["mimo-controller"],"summary":"sendRoom","operationId":"sendRoomUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"msg","description":"msg","required":true,"schema":{"$ref":"#/definitions/MimoRoomMsgDTO","originalRef":"MimoRoomMsgDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/oss/ee/upload/cdn":{"post":{"tags":["file-upload-controller"],"summary":"文件上传接口，同时返回CDN地址.ossUrl为OSS地址，cdnUrl为CDN地址","operationId":"eeUploadWithCDNUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"uploadDTO","description":"uploadDTO","required":true,"schema":{"$ref":"#/definitions/UploadDTO","originalRef":"UploadDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应","originalRef":"结果响应"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/oss/newFiles":{"post":{"tags":["file-upload-controller"],"summary":"文件上传接口","operationId":"newUploadFileUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"uploadDTO","description":"uploadDTO","required":true,"schema":{"$ref":"#/definitions/UploadDTO","originalRef":"UploadDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UploadedUrlResult","originalRef":"UploadedUrlResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/oss/removeByURL":{"post":{"tags":["file-upload-controller"],"summary":"根据所属的URL，直接移除","operationId":"removeByURLUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"urls","in":"query","description":"URL路径","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/oss/upload":{"post":{"tags":["file-upload-controller"],"summary":"文件上传接口","operationId":"uploadUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"uploadDTO","description":"uploadDTO","required":true,"schema":{"$ref":"#/definitions/UploadDTO","originalRef":"UploadDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UploadedUrlResult","originalRef":"UploadedUrlResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/oss/upload/cdn":{"post":{"tags":["file-upload-controller"],"summary":"文件上传接口，同时返回CDN地址.Key为OSS地址，Value为CDN地址","operationId":"uploadWithCDNUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"uploadDTO","description":"uploadDTO","required":true,"schema":{"$ref":"#/definitions/UploadDTO","originalRef":"UploadDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/payment/recharge":{"post":{"tags":["payment-controller"],"summary":"recharge","operationId":"rechargeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/RechargeDTO","originalRef":"RechargeDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/payment/rechargeForTest":{"post":{"tags":["payment-controller"],"summary":"rechargeForTest","operationId":"rechargeForTestUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/RechargeDTO","originalRef":"RechargeDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/profile/cache/batch/load/userAvatar":{"post":{"tags":["user-profile-cache-controller"],"summary":"batchLoadUserAvatar","operationId":"batchLoadUserAvatarUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"userIds","description":"userIds","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«List«UserAvatarDTO»»","originalRef":"结果响应«List«UserAvatarDTO»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/profile/cache/batch/load/userInfo":{"post":{"tags":["user-profile-cache-controller"],"summary":"由服务端间批量加载某个用户的基本信息","operationId":"loadUserInfoByCacheUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"userIds","description":"userIds","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«List«用户基本信息»»","originalRef":"结果响应«List«用户基本信息»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/profile/cache/load/userAvatar":{"get":{"tags":["user-profile-cache-controller"],"summary":"loadUserAvatar","operationId":"loadUserAvatarUsingGET","produces":["*/*"],"parameters":[{"name":"userId","in":"query","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«UserAvatarDTO»","originalRef":"结果响应«UserAvatarDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/profile/cache/load/userInfo":{"get":{"tags":["user-profile-cache-controller"],"summary":"由服务端间加载某个用户的信息","operationId":"loadByCacheUsingGET","produces":["*/*"],"parameters":[{"name":"userId","in":"query","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«用户基本信息»","originalRef":"结果响应«用户基本信息»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/push/changeLanguage":{"post":{"tags":["device-controller"],"summary":"修改用户国际化语言","operationId":"changeLanguageUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"language","in":"query","description":"language","required":true,"type":"string"},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/push/device/add":{"post":{"tags":["device-controller"],"summary":"上报设备信息","operationId":"addUsingPOST_6","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Accept-Language","in":"header","description":"Accept-Language","required":true,"type":"string"},{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/DeviceAddReq","originalRef":"DeviceAddReq"}},{"name":"uid","in":"header","description":"uid","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/region/country":{"get":{"tags":["region-controller"],"summary":"根据国家代码返回所属区域,如果没有不填写，则默认以客户端所在IP地址进行解析","operationId":"findByCountryUsingGET","produces":["*/*"],"parameters":[{"name":"Accept-Language","in":"header","description":"Accept-Language","required":false,"type":"string"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string"},{"name":"clientip","in":"header","description":"clientip","required":true,"type":"string"},{"name":"country","in":"query","description":"country","required":false,"type":"string"},{"name":"deviceId","in":"header","description":"deviceId","required":true,"type":"string"},{"name":"X-Forwarded-For","in":"header","description":"X-Forwarded-For","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/region/hasChinaMainLandIp":{"get":{"tags":["region-controller"],"summary":"根据xForward判断包含中国大陆IP","operationId":"hasChinaMainLandIpUsingGET","produces":["*/*"],"parameters":[{"name":"xForward","in":"query","description":"xForward","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult«boolean»","originalRef":"BaseResult«boolean»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/region/ip":{"get":{"tags":["region-controller"],"summary":"根据IP返回所属区域(注意这个 港，澳，台，大陆 是返回TW 的 ，默认返回 马来的，不能用于区域限制判断的。)","operationId":"findByIpUsingGET","produces":["*/*"],"parameters":[{"name":"ip","in":"query","description":"ip","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/region/ipOrNull":{"get":{"tags":["region-controller"],"summary":"根据IP返回所属区域(明确返回所属区域region，识别不了，整个对象返回null)","operationId":"ipOrNullUsingGET","produces":["*/*"],"parameters":[{"name":"ip","in":"query","description":"ip","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/region/isChinaMainLand":{"get":{"tags":["region-controller"],"summary":"根据IP判断是否中国大陆","operationId":"isChinaMainLandUsingGET","produces":["*/*"],"parameters":[{"name":"ip","in":"query","description":"ip","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/region/queryRegionName":{"get":{"tags":["region-controller"],"summary":"根据IP返回对应国家的区域名称,返回：台湾","operationId":"queryRegionNameUsingGET","produces":["*/*"],"parameters":[{"name":"ip","in":"query","description":"ip","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«string»","originalRef":"结果响应«string»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/region/refreshDB":{"post":{"tags":["region-controller"],"summary":"更新IP地址库","operationId":"refreshDBUsingPOST","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/relationship/init":{"post":{"tags":["relationship-controller"],"summary":"init","operationId":"initUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/StringKeyValueDTO","originalRef":"StringKeyValueDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/relationship/webFollow":{"post":{"tags":["relationship-controller"],"summary":"webFollow","operationId":"webFollowUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/RelationFollowReq","originalRef":"RelationFollowReq"}},{"name":"uid","in":"header","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/relationship/webFollowed":{"get":{"tags":["relationship-controller"],"summary":"webFollowed","operationId":"webFollowedUsingGET","produces":["*/*"],"parameters":[{"name":"targetUserId","in":"query","description":"targetUserId","required":true,"type":"string"},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/relationship/webFollowers":{"get":{"tags":["relationship-controller"],"summary":"webFollowers","operationId":"webFollowersUsingGET","produces":["*/*"],"parameters":[{"name":"targetUserId","in":"query","description":"targetUserId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/relationship/webSubscriptions":{"get":{"tags":["relationship-controller"],"summary":"webSubscriptions","operationId":"webSubscriptionsUsingGET","produces":["*/*"],"parameters":[{"name":"page","in":"query","description":"分页 页码，默认值为0","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"分页尺寸，默认值为10","required":false,"type":"integer","default":10,"format":"int32"},{"name":"uid","in":"header","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/relationship/webUnfollow":{"post":{"tags":["relationship-controller"],"summary":"取消关注动作(web)","description":"取消关注动作","operationId":"webUnfollowUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/RelationUnFollowReq","originalRef":"RelationUnFollowReq"}},{"name":"uid","in":"header","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/sms/check":{"get":{"tags":["sms-controller"],"summary":"根据前端回传的验证码内容，返回是否有效","operationId":"checkUsingGET_1","produces":["*/*"],"parameters":[{"name":"clientip","in":"header","description":"客户端IP,由于服务端调用,则不强制输入","required":false,"type":"string"},{"name":"countryCode","in":"query","description":"手机号码所在国家区号","required":true,"type":"string","pattern":"^\\d+$"},{"name":"mobile","in":"query","description":"目标手机号码","required":true,"type":"string","pattern":"^\\d+$"},{"name":"module","in":"query","description":"短信模块","required":true,"type":"string","enum":["ADMIN_LOGIN","ASSOCIATION_ADMIN_LOGIN","CAMEL_MOBILE_LOGIN","CAMEL_PASSWORD_FORGET","COIN_TRADER_RECHARGE","MOBILE_BINDING","MOBILE_LOGIN","MOBILE_RE_BINDING","MOBILE_UN_BINDING","PASSWORD_FORGET","PASSWORD_SET"]},{"name":"smsCode","in":"query","description":"短信验证码","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/sms/inner/send":{"post":{"tags":["sms-controller"],"summary":"发送短信（内部调用）","operationId":"innerSendSmsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"countryCode","in":"query","description":"手机号码所在国家区号","required":true,"type":"string","pattern":"^\\d+$"},{"name":"imageVerifyCode","in":"query","description":"发短信时需要先触发图形验证码","required":true,"type":"string"},{"name":"mobile","in":"query","description":"目标手机号码","required":true,"type":"string","pattern":"^\\d+$"},{"name":"module","in":"query","description":"短信模块,对于登陆则是：MOBILE_LOGIN,如果是因为忘记密码，需要重置则是：PASSWORD_FORGET","required":true,"type":"string","enum":["ADMIN_LOGIN","ASSOCIATION_ADMIN_LOGIN","CAMEL_MOBILE_LOGIN","CAMEL_PASSWORD_FORGET","COIN_TRADER_RECHARGE","MOBILE_BINDING","MOBILE_LOGIN","MOBILE_RE_BINDING","MOBILE_UN_BINDING","PASSWORD_FORGET","PASSWORD_SET"]},{"name":"sendType","in":"query","description":"发送类型，1普通，2注册","required":false,"type":"integer","format":"int32"},{"name":"uuid","in":"query","description":"请求图形验证码时的UUID值","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/sms/remove":{"post":{"tags":["sms-controller"],"summary":"短信验证码删除","description":"由于验证码有一个时效，需要业务调用方完成后，明确调用","operationId":"removeVerifyCodeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"countryCode","in":"query","description":"手机号码所在国家区号","required":true,"type":"string","pattern":"^\\d+$"},{"name":"mobile","in":"query","description":"目标手机号码","required":true,"type":"string","pattern":"^\\d+$"},{"name":"module","in":"query","description":"短信模块","required":true,"type":"string","enum":["ADMIN_LOGIN","ASSOCIATION_ADMIN_LOGIN","CAMEL_MOBILE_LOGIN","CAMEL_PASSWORD_FORGET","COIN_TRADER_RECHARGE","MOBILE_BINDING","MOBILE_LOGIN","MOBILE_RE_BINDING","MOBILE_UN_BINDING","PASSWORD_FORGET","PASSWORD_SET"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/unsubscribe/apply":{"get":{"tags":["unsubscribe-controller"],"summary":"注销用户申请(1：表示注销申请成功)","operationId":"applyUsingGET","produces":["*/*"],"parameters":[{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«int»","originalRef":"结果响应«int»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/version/app/check":{"get":{"tags":["version-controller"],"summary":"APP检查更新","description":"APP检查更新","operationId":"checkAppVersionUsingGET","produces":["*/*"],"parameters":[{"name":"Accept-Language","in":"header","description":"Accept-Language","required":true,"type":"string"},{"name":"appStoreChannel","in":"header","description":"appStoreChannel","required":false,"type":"string","default":"official","enum":["huawei","official"]},{"name":"internalVersion","in":"query","description":"APP内部版本号","required":true,"type":"integer","format":"int64"},{"name":"terminal","in":"query","description":"终端类型","required":true,"type":"string","enum":["ANDROID","IOS","WEB"]},{"name":"uid","in":"header","description":"用户ID","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«新版本信息»","originalRef":"结果响应«新版本信息»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/version/app/release":{"post
[...]
