{"openapi":"3.0.1","info":{"title":"小象直播API文档","description":"# 小象直播API文档","termsOfService":"http://www.elelive.tv/","version":"1.0"},"servers":[{"url":"http://camel-api-gateway05.svc.elelive.cn","description":"Generated server url"}],"paths":{"/ee/sports_live/u/stop_push":{"post":{"tags":["sports-live-controller"],"operationId":"stopPush","parameters":[{"name":"uid","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultVoid"}}}}}}},"/ee/sports_live/u/start_push":{"post":{"tags":["sports-live-controller"],"operationId":"startPush","parameters":[{"name":"uid","in":"header","required":true,"schema":{"type":"string"}},{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"matchId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultInteger"}}}}}}},"/ee/sports_live/u/gen_stream":{"post":{"tags":["sports-live-controller"],"operationId":"genUserStream","parameters":[{"name":"clientip","in":"header","required":true,"schema":{"type":"string"}},{"name":"uid","in":"header","required":true,"schema":{"type":"string"}},{"name":"matchId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultGenUserStreamResp"}}}}}}},"/ee/sports_live/test_goal_event":{"post":{"tags":["sports-live-controller"],"operationId":"testGoalEvent","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GoalEventResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultVoid"}}}}}}},"/ee/sports_live/set_logo":{"post":{"tags":["sports-live-controller"],"operationId":"setLogo","parameters":[{"name":"uid","in":"header","required":true,"schema":{"type":"string"}},{"name":"logo","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultVoid"}}}}}}},"/ee/sports_live/set_hd":{"post":{"tags":["sports-live-controller"],"operationId":"setHd","parameters":[{"name":"uid","in":"header","required":true,"schema":{"type":"string"}},{"name":"matchId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultVoid"}}}}}}},"/ee/sports_live/select_match":{"post":{"tags":["sports-live-controller"],"operationId":"selectMatch","parameters":[{"name":"uid","in":"header","required":true,"schema":{"type":"string"}},{"name":"matchId","in":"query","required":true,"schema":{"type":"string"}},{"name":"footballStream","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultVoid"}}}}}}},"/ee/sports_live/player/stat":{"post":{"tags":["球员"],"summary":"统计","operationId":"stat","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlayerQueryStatReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultSeasonPlayerStatDTO"}}}}}}},"/ee/sports_live/player/match":{"post":{"tags":["球员"],"summary":"比赛","operationId":"match","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlayerQueryMatchReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultQueryMatchDiaryResp"}}}}}}},"/ee/sports_live/p/football/match/diary":{"post":{"tags":["sports-live-controller"],"operationId":"pFootballMatchDiary","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryMatchDiaryReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultQueryMatchDiaryResp"}}}}}}},"/ee/sports_live/news_status":{"post":{"tags":["sports-live-controller"],"operationId":"newsStatus","parameters":[{"name":"uid","in":"header","required":true,"schema":{"type":"string"}},{"name":"id","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultNewsStatus"}}}}}}},"/ee/sports_live/news/read":{"post":{"tags":["sports-live-controller"],"operationId":"read","parameters":[{"name":"uid","in":"header","required":false,"schema":{"type":"string","default":""}},{"name":"id","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResult"}}}}}}},"/ee/sports_live/list_favorite_team":{"post":{"tags":["sports-live-controller"],"operationId":"listFavoriteTeam","parameters":[{"name":"uid","in":"header","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultPageTeamDTO"}}}}}}},"/ee/sports_live/list_favorite_player":{"post":{"tags":["sports-live-controller"],"operationId":"listFavoritePlayer","parameters":[{"name":"uid","in":"header","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultPagePlayerDTO"}}}}}}},"/ee/sports_live/list_favorite_news":{"post":{"tags":["sports-live-controller"],"operationId":"listFavoriteNews","parameters":[{"name":"uid","in":"header","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultPageNewsDTO"}}}}}}},"/ee/sports_live/list_favorite_competition":{"post":{"tags":["sports-live-controller"],"operationId":"listFavoriteCompetition","parameters":[{"name":"uid","in":"header","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultPageCompetitionDTO"}}}}}}},"/ee/sports_live/like":{"post":{"tags":["sports-live-controller"],"operationId":"like","parameters":[{"name":"uid","in":"header","required":true,"schema":{"type":"string"}},{"name":"id","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultLikeResp"}}}}}}},"/ee/sports_live/heartbeat":{"post":{"tags":["sports-live-controller"],"operationId":"heartbeat","parameters":[{"name":"uid","in":"header","required":false,"schema":{"type":"string","default":""}},{"name":"matchId","in":"query","required":true,"schema":{"type":"string"}},{"name":"streamName","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"count","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResult"}}}}}}},"/ee/sports_live/football/match/gen_stream":{"post":{"tags":["sports-live-controller"],"operationId":"genStream","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultObject"}}}}}}},"/ee/sports_live/football/match/del_stream":{"post":{"tags":["sports-live-controller"],"operationId":"delStream","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultVoid"}}}}}}},"/ee/sports_live/favorite":{"post":{"tags":["sports-live-controller"],"operationId":"favorite","parameters":[{"name":"uid","in":"header","required":true,"schema":{"type":"string"}},{"name":"objType","in":"query","required":true,"schema":{"type":"string","enum":["Competition","Team","News","Player"]}},{"name":"objId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultFavoriteResp"}}}}}}},"/ee/sports_live/competition_agg_page":{"post":{"tags":["sports-live-controller"],"operationId":"competitionAggPage","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultCompetitionAggPageResp"}}}}}}},"/ee/sports_live/cancel_hd":{"post":{"tags":["sports-live-controller"],"operationId":"cancelHd","parameters":[{"name":"uid","in":"header","required":true,"schema":{"type":"string"}},{"name":"matchId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultVoid"}}}}}}},"/ee/sports_live/batch_get_like_num":{"post":{"tags":["sports-live-controller"],"operationId":"batchGetLikeNum","parameters":[{"name":"ids","in":"query","required":true,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultListSportsNewsLikeNumDTO"}}}}}}},"/ee/search/synonyms/cou":{"post":{"tags":["搜索"],"operationId":"mapping","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultVoid"}}}}}}},"/ee/search/recommend":{"post":{"tags":["搜索"],"summary":"推荐搜索","operationId":"recommend","parameters":[{"name":"keyword","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultRecommendResp"}}}}}}},"/ee/search/query_match_for_article":{"post":{"tags":["搜索"],"operationId":"searchMatchForArticle","parameters":[{"name":"content","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultListMatchInfo"}}}}}}},"/ee/search/query":{"post":{"tags":["搜索"],"summary":"综合搜索","operationId":"query","parameters":[{"name":"Accept-Language","in":"header","required":true,"schema":{"type":"string"}},{"name":"req","in":"query","required":true,"schema":{"$ref":"#/components/schemas/SearchReq"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultSearchResp"}}}}}}},"/ee/search/m/q":{"post":{"tags":["搜索"],"operationId":"query_1","parameters":[{"name":"path","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/ee/search/m/c":{"post":{"tags":["搜索"],"operationId":"mapping_1","parameters":[{"name":"k","in":"query","required":true,"schema":{"type":"string"}},{"name":"i","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultVoid"}}}}}}},"/ee/search/m/af":{"post":{"tags":["搜索"],"operationId":"addField","parameters":[{"name":"k","in":"query","required":true,"schema":{"type":"string"}},{"name":"i","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultVoid"}}}}}}},"/ee/search/hot":{"post":{"tags":["搜索"],"summary":"热门搜索","operationId":"hot","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultHotSearchResp"}}}}}}},"/ee/search/batchAddTeamToEs":{"post":{"tags":["搜索"],"operationId":"batchAddTeamToEs","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultVoid"}}}}}}},"/ee/search/batchAddPlayerToEs":{"post":{"tags":["搜索"],"operationId":"batchAddPlayerToEs","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultVoid"}}}}}}},"/ee/search/batchAddNewsToEs":{"post":{"tags":["搜索"],"operationId":"batchAddNewsToEs","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultVoid"}}}}}}},"/ee/search/batchAddMatchToEs":{"post":{"tags":["搜索"],"operationId":"batchAddMatchToEs","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultVoid"}}}}}}},"/ee/search/batchAddCompetitionToEs":{"post":{"tags":["搜索"],"operationId":"batchAddCompetitionToEs","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultVoid"}}}}}}},"/ee/replay/callback":{"post":{"tags":["match-replay-controller"],"operationId":"callback","requestBody":{"content":{"application/json":{"schema":{"type":"object"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultVoid"}}}}}}},"/ee/news/save":{"post":{"tags":["news-controller"],"operationId":"save","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NewsDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultVoid"}}}}}}},"/ee/news/related":{"post":{"tags":["news-controller"],"operationId":"findRelatedNews","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultListNewsDTO"}}}}}}},"/ee/news/list_visible":{"post":{"tags":["news-controller"],"operationId":"listNewsVisible","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormDataPageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultPageNewsDTO"}}}}}}},"/ee/news/list":{"post":{"tags":["news-controller"],"operationId":"listNews","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormDataPageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultPageNewsDTO"}}}}}}},"/ee/news/audit_pass_all":{"post":{"tags":["news-controller"],"operationId":"auditPassAll","parameters":[{"name":"auditBy","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultVoid"}}}}}}},"/ee/news/audit":{"post":{"tags":["news-controller"],"operationId":"audit","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuditNewsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultVoid"}}}}}}},"/ee/news/aggregate_news_kind":{"post":{"tags":["news-controller"],"operationId":"aggregateNewsKind","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultListAggregateNewsKindDTO"}}}}}}},"/ee/forecast/user_list":{"post":{"tags":["预测比赛"],"summary":"用户记录","operationId":"userList","parameters":[{"name":"uid","in":"header","description":"用户ID","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserForecastReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultUserForecastResp"}}}}}}},"/ee/forecast/stop_bet":{"post":{"tags":["预测比赛"],"summary":"[测试]停止下注","operationId":"stop_bet","parameters":[{"name":"actId","in":"query","description":"活动ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResult"}}}}}}},"/ee/forecast/settle":{"post":{"tags":["预测比赛"],"summary":"[测试]结算","operationId":"settle","parameters":[{"name":"actId","in":"query","description":"活动ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResult"}}}}}}},"/ee/forecast/match_list":{"post":{"tags":["预测比赛"],"summary":"预测比赛列表","operationId":"matchList","parameters":[{"name":"uid","in":"header","description":"用户ID","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForecastMatchReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultForecastMatchResp"}}}}}}},"/ee/forecast/done":{"post":{"tags":["预测比赛"],"summary":"[测试]准备开奖","operationId":"done","parameters":[{"name":"actId","in":"query","description":"活动ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"betStatus","in":"query","description":"下注状态","required":true,"schema":{"type":"string","enum":["HOME","AWAY","DRAW"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResult"}}}}}}},"/ee/forecast/cancel":{"post":{"tags":["预测比赛"],"summary":"[测试]撤销比赛","operationId":"cancel","parameters":[{"name":"actId","in":"query","description":"活动ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResult"}}}}}}},"/ee/forecast/bet":{"post":{"tags":["预测比赛"],"summary":"下注","operationId":"bet","parameters":[{"name":"uid","in":"header","description":"用户ID","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForecastBetReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultForecastBetResp"}}}}}}},"/ee/faq/upsert":{"post":{"tags":["faq-controller"],"operationId":"upsert","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FAQ"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultVoid"}}}}}}},"/ee/faq/delete":{"post":{"tags":["faq-controller"],"operationId":"delete","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultVoid"}}}}}}},"/ee/article/translate":{"post":{"tags":["article-controller"],"operationId":"translate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TranslateDTO"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultTranslateResp"}}}}}}},"/ee/article/sub":{"post":{"tags":["article-controller"],"operationId":"sub","parameters":[{"name":"uid","in":"header","required":false,"schema":{"type":"string","default":""}},{"name":"authorId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultInteger"}}}}}}},"/ee/article/save_and_audit":{"post":{"tags":["article-controller"],"operationId":"saveAndAudit","parameters":[{"name":"uid","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveArticleReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultAppAuditArticleResp"}}}}}}},"/ee/article/save":{"post":{"tags":["article-controller"],"operationId":"save_1","parameters":[{"name":"uid","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveArticleReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultLong"}}}}}}},"/ee/article/calc_result":{"post":{"tags":["article-controller"],"operationId":"calcResult","parameters":[{"name":"matchId","in":"query","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultVoid"}}}}}}},"/ee/article/calc_author_stats":{"post":{"tags":["article-controller"],"operationId":"calcAuthorStats","parameters":[{"name":"authorIds","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultVoid"}}}}}}},"/ee/article/buy":{"post":{"tags":["article-controller"],"operationId":"buy","parameters":[{"name":"uid","in":"header","required":false,"schema":{"type":"string","default":""}},{"name":"articleId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultInteger"}}}}}}},"/ee/article/admin_save_and_audit":{"post":{"tags":["article-controller"],"operationId":"adminSaveAndAudit","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveArticleReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultAppAuditArticleResp"}}}}}}},"/ee/article/admin_save":{"post":{"tags":["article-controller"],"operationId":"adminSave","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveArticleReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultLong"}}}}}}},"/ee/activity/stream/admin_save":{"post":{"tags":["activity-stream-controller"],"operationId":"adminSave_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminActivityStreamDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultVoid"}}}}}}},"/ee/activity/market_value_change/init":{"post":{"tags":["market-value-change-controller"],"operationId":"init","parameters":[{"name":"insert","in":"query","required":false,"schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultVoid"}}}}}}},"/ee/version/version":{"get":{"tags":["ee-version-controller"],"operationId":"version","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultString"}}}}}}},"/ee/version/refreshAllNode":{"get":{"tags":["ee-version-controller"],"operationId":"refreshAllNode","parameters":[{"name":"formKey","in":"query","required":true,"schema":{"type":"string"}},{"name":"data","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultBoolean"}}}}}}},"/ee/test/matchpush":{"get":{"tags":["Test"],"summary":"比赛推送消息","operationId":"matchpush","parameters":[{"name":"matchId","in":"query","description":"比赛ID","required":true,"schema":{"type":"string"}},{"name":"minis","in":"query","description":"分钟数","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResult"}}}}}}},"/ee/stream_stats/quality":{"get":{"tags":["stream-stats-controller"],"operationId":"quality","parameters":[{"name":"matchId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"streamId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"recentHours","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultListStats"}}}}}}},"/ee/sports_live/view_match":{"get":{"tags":["sports-live-controller"],"operationId":"viewMatch","parameters":[{"name":"matchId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResult"}}}}}}},"/ee/sports_live/v_stream":{"get":{"tags":["sports-live-controller"],"operationId":"footballVideoStream","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultListResult"}}}}}}},"/ee/sports_live/v_origin_stream":{"get":{"tags":["sports-live-controller"],"operationId":"originFootballVideoStream","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultListObject"}}}}}}},"/ee/sports_live/u/push_state_v2":{"get":{"tags":["sports-live-controller"],"operationId":"getUserPushStateV2","parameters":[{"name":"uid","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultUserStreamResp"}}}}}}},"/ee/sports_live/u/push_state":{"get":{"tags":["sports-live-controller"],"operationId":"getUserPushState","parameters":[{"name":"uid","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultInteger"}}}}}}},"/ee/sports_live/u/permission list":{"get":{"tags":["sports-live-controller"],"operationId":"queryPermissions","parameters":[{"name":"uid","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultPermissionListResp"}}}}}}},"/ee/sports_live/token":{"get":{"tags":["sports-live-controller"],"operationId":"signV2","parameters":[{"name":"streamName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultSignDTO"}}}}}}},"/ee/sports_live/test_sign":{"get":{"tags":["sports-live-controller"],"operationId":"testSign","parameters":[{"name":"streamName","in":"query","required":true,"schema":{"type":"string"}},{"name":"key","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultObject"}}}}}}},"/ee/sports_live/team_page_has_data":{"get":{"tags":["sports-live-controller"],"operationId":"teamPageHasData","parameters":[{"name":"teamName","in":"query","required":true,"schema":{"type":"string"}},{"name":"competitionId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"tab","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultMapStringObject"}}}}}}},"/ee/sports_live/sync_team":{"get":{"tags":["sports-live-controller"],"operationId":"syncTeam","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultVoid"}}}}}}},"/ee/sports_live/sync_competition":{"get":{"tags":["sports-live-controller"],"operationId":"syncCompetition","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultVoid"}}}}}}},"/ee/sports_live/stream/online_nums":{"get":{"tags":["sports-live-controller"],"operationId":"streamOnlineNums","parameters":[{"name":"streamName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultInteger"}}}}}}},"/ee/sports_live/reHandleMatchLineup":{"get":{"tags":["sports-live-controller"],"operationId":"reHandleMatchLineup","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultVoid"}}}}}}},"/ee/sports_live/player/syncSeasonPlayer":{"get":{"tags":["球员"],"summary":"同步赛季球员[测试]","operationId":"syncSeasonPlayer","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResult"}}}}}}},"/ee/sports_live/player/syncPlayerSeasonStat":{"get":{"tags":["球员"],"summary":"同步赛季球员统计[测试]","operationId":"syncPlayerSeasonStat","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResult"}}}}}}},"/ee/sports_live/player/syncNationalPlayer":{"get":{"tags":["球员"],"summary":"同步国家队球员[测试]","operationId":"syncNationalPlayer","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResult"}}}}}}},"/ee/sports_live/player/querySeasons":{"get":{"tags":["球员"],"summary":"赛季","operationId":"querySeasons","parameters":[{"name":"playerId","in":"query","description":"球员ID","required":true,"schema":{"type":"string"}},{"name":"competitionId","in":"query","description":"联赛id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultListFullSeasonDTO"}}}}}}},"/ee/sports_live/player/hot-players":{"get":{"tags":["球员"],"summary":"热门球员","operationId":"hotPlayers","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultListHotPlayerDTO"}}}}}}},"/ee/sports_live/player/getTransferHistory":{"get":{"tags":["球员"],"summary":"球员转会历史[测试]","operationId":"getTransferHistory","parameters":[{"name":"playerId","in":"query","description":"球员ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResult"}}}}}}},"/ee/sports_live/player/getCompetition":{"get":{"tags":["球员"],"summary":"球员联赛","operationId":"getCompetition","parameters":[{"name":"playerId","in":"query","description":"球员ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultListCompetitionDTO"}}}}}}},"/ee/sports_live/player/basic":{"get":{"tags":["球员"],"summary":"球员信息","operationId":"basic","parameters":[{"name":"Accept-Language","in":"header","required":false,"schema":{"type":"string","default":"en"}},{"name":"uid","in":"header","required":false,"schema":{"type":"string"}},{"name":"playerId","in":"query","description":"球员ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultPlayerBasicDTO"}}}}}}},"/ee/sports_live/news/getLikeCountByToday":{"get":{"tags":["sports-live-controller"],"operationId":"getLikeCountByToday","parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultLong"}}}}}}},"/ee/sports_live/names/{type}":{"get":{"tags":["sports-live-controller"],"operationId":"getNames","parameters":[{"name":"ids","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"type","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultListObject"}}}}}}},"/ee/sports_live/loadAnchorsByMatchId":{"get":{"tags":["sports-live-controller"],"operationId":"loadAnchorsByMatchId","parameters":[{"name":"matchId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResult"}}}}}}},"/ee/sports_live/living_group_match":{"get":{"tags":["sports-live-controller"],"operationId":"livingGroupMatch","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultGroupedMatchResp"}}}}}}},"/ee/sports_live/list_hot_team_match":{"get":{"tags":["sports-live-controller"],"operationId":"listHotTeamMatch","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultHotTeamMatchResp"}}}}}}},"/ee/sports_live/list_faceoff":{"get":{"tags":["sports-live-controller"],"operationId":"listFaceoff","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultFaceoffResp"}}}}}}},"/ee/sports_live/list_competition":{"get":{"tags":["sports-live-controller"],"operationId":"listCompetition","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultCompetitionResp"}}}}}}},"/ee/sports_live/init_season_stats":{"get":{"tags":["sports-live-controller"],"operationId":"initSeasonStats","parameters":[{"name":"type","in":"query","required":false,"schema":{"type":"string","default":"all"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultVoid"}}}}}}},"/ee/sports_live/init_name2id":{"get":{"tags":["sports-live-controller"],"operationId":"initName2id","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultVoid"}}}}}}},"/ee/sports_live/init_language":{"get":{"tags":["sports-live-controller"],"operationId":"initLanguage","parameters":[{"name":"types","in":"query","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int32"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultVoid"}}}}}}},"/ee/sports_live/init_basic_info":{"get":{"tags":["sports-live-controller"],"operationId":"initBasicInfo","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultVoid"}}}}}}},"/ee/sports_live/hot_team":{"get":{"tags":["sports-live-controller"],"operationId":"hotTeam","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultListTeamDTO"}}}}}}},"/ee/sports_live/hot_match":{"get":{"tags":["sports-live-controller"],"operationId":"hotMatch","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultHomeResp"}}}}}}},"/ee/sports_live/hot_group_match":{"get":{"tags":["sports-live-controller"],"operationId":"hotGroupMatch","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultGroupedMatchResp"}}}}}}},"/ee/sports_live/home_match_by_group":{"get":{"tags":["sports-live-controller"],"operationId":"homeMatchByGroup","parameters":[{"name":"day","in":"query","required":true,"schema":{"type":"string"}},{"name":"group","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultGroupedMatchResp"}}}}}}},"/ee/sports_live/home_match":{"get":{"tags":["sports-live-controller"],"operationId":"homeMatch","parameters":[{"name":"day","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultGroupedMatchResp"}}}}}}},"/ee/sports_live/home_favorite":{"get":{"tags":["sports-live-controller"],"operationId":"homeFavorite","parameters":[{"name":"uid","in":"header","required":true,"schema":{"type":"string"}},{"name":"day","in":"query","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultGroupedMatchResp"}}}}}}},"/ee/sports_live/home":{"get":{"tags":["sports-live-controller"],"operationId":"home","parameters":[{"name":"req","in":"query","required":true,"schema":{"$ref":"#/components/schemas/HomeReq"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultHomeResp"}}}}}}},"/ee/sports_live/grouped_hot_competition":{"get":{"tags":["sports-live-controller"],"operationId":"groupedHotCompetition","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultHotCompetitionGroupResp"}}}}}}},"/ee/sports_live/group_competition":{"get":{"tags":["sports-live-controller"],"operationId":"groupCompetition","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultGroupedCompetitionResp"}}}}}}},"/ee/sports_live/get_team_by_name":{"get":{"tags":["sports-live-controller"],"operationId":"getTeamByName","parameters":[{"name":"name","in":"query","required":true,"schema":{"type":"string"}},{"name":"id","in":"query","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultTeamWithCompetitionsDTO"}}}}}}},"/ee/sports_live/get_team":{"get":{"tags":["sports-live-controller"],"operationId":"getTeam","parameters":[{"name":"ids","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultListTeamDTO"}}}}}}},"/ee/sports_live/get_competition_by_name":{"get":{"tags":["sports-live-controller"],"operationId":"getCompetitionByName","parameters":[{"name":"name","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultCompetitionWithSeasonDTO"}}}}}}},"/ee/sports_live/get_competition":{"get":{"tags":["sports-live-controller"],"operationId":"getCompetition_1","parameters":[{"name":"ids","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultListCompetitionDTO"}}}}}}},"/ee/sports_live/football/v5/matches":{"get":{"tags":["sports-live-controller"],"operationId":"footballV5Matches","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultObject"}}}}}}},"/ee/sports_live/football/v5/match/trends":{"get":{"tags":["sports-live-controller"],"operationId":"footballV5MatchTrends","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultObject"}}}}}}},"/ee/sports_live/football/v5/match/texts":{"get":{"tags":["sports-live-controller"],"operationId":"footballV5MatchTexts","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultObject"}}}}}}},"/ee/sports_live/football/v5/match/team/statistics":{"get":{"tags":["sports-live-controller"],"operationId":"footballV5MatchTeamStatistics","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultObject"}}}}}}},"/ee/sports_live/football/v5/match/player/statistics":{"get":{"tags":["sports-live-controller"],"operationId":"footballV5MatchPlayerStatistics","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultObject"}}}}}}},"/ee/sports_live/football/v5/match/missing":{"get":{"tags":["sports-live-controller"],"operationId":"footballV5MatchMissing","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultObject"}}}}}}},"/ee/sports_live/football/v5/match/lineups":{"get":{"tags":["sports-live-controller"],"operationId":"footballV5MatchLineups","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultObject"}}}}}}},"/ee/sports_live/football/v5/match/lineup/players":{"get":{"tags":["sports-live-controller"],"operationId":"footballV5MatchLineupPlayers","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultObject"}}}}}}},"/ee/sports_live/football/v5/match/events":{"get":{"tags":["sports-live-controller"],"operationId":"footballV5MatchEvents","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultObject"}}}}}}},"/ee/sports_live/football/team_lineup":{"get":{"tags":["sports-live-controller"],"operationId":"queryTeamLineup","parameters":[{"name":"teamId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultQueryTeamLineupResp"}}}}}}},"/ee/sports_live/football/stream":{"get":{"tags":["sports-live-controller"],"operationId":"footballStream","parameters":[{"name":"matchId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultObject"}}}}}}},"/ee/sports_live/football/season/recent/team/stat":{"get":{"tags":["sports-live-controller"],"operationId":"querySeasonTeam","parameters":[{"name":"competitionId","in":"query","required":true,"schema":{"type":"string"}},{"name":"seasonId","in":"query","required":false,"schema":{"type":"string"}},{"name":"sortField","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultSeasonTeamResp"}}}}}}},"/ee/sports_live/football/season/recent/table/detail":{"get":{"tags":["sports-live-controller"],"operationId":"querySeasonTable","parameters":[{"name":"competitionId","in":"query","required":true,"schema":{"type":"string"}},{"name":"seasonId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultSeasonTableResp"}}}}}}},"/ee/sports_live/football/season/recent/shooter/stat":{"get":{"tags":["sports-live-controller"],"operationId":"querySeasonShooter","parameters":[{"name":"competitionId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"seasonId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"teamId","in":"query","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultSeasonShooterResp"}}}}}}},"/ee/sports_live/football/season/recent/player/stat":{"get":{"tags":["sports-live-controller"],"operationId":"querySeasonPlayer","parameters":[{"name":"competitionId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"seasonId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"teamId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"sortField","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultSeasonPlayerResp"}}}}}}},"/ee/sports_live/football/season/match":{"get":{"tags":["sports-live-controller"],"operationId":"querySeasonMatch","parameters":[{"name":"competitionId","in":"query","required":true,"schema":{"type":"string"}},{"name":"seasonId","in":"query","required":false,"schema":{"type":"string"}},{"name":"matchTimeStart","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"matchTimeEnd","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultQueryMatchDiaryResp"}}}}}}},"/ee/sports_live/football/season/match/stats":{"get":{"tags":["sports-live-controller"],"operationId":"querySeasonMatchStats","parameters":[{"name":"competitionId","in":"query","required":true,"schema":{"type":"string"}},{"name":"seasonId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultSeasonMatchStatsResp"}}}}}}},"/ee/sports_live/football/match/trend/detail":{"get":{"tags":["sports-live-controller"],"operationId":"matchTrendDetail","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultObject"}}}}}}},"/ee/sports_live/football/match/time":{"get":{"tags":["sports-live-controller"],"operationId":"getMatchTime","parameters":[{"name":"matchId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultLong"}}}}}}},"/ee/sports_live/football/match/team_stats/list":{"get":{"tags":["sports-live-controller"],"operationId":"queryMatchTeamStats","parameters":[{"name":"matchId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultResult"}}}}}}},"/ee/sports_live/football/match/lineup":{"get":{"tags":["sports-live-controller"],"operationId":"queryMatchLineup","parameters":[{"name":"matchId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultMatchLineupResp"}}}}}}},"/ee/sports_live/football/match/lineup/detail":{"get":{"tags":["sports-live-controller"],"operationId":"matchLineupDetail","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultObject"}}}}}}},"/ee/sports_live/football/match/diary":{"get":{"tags":["sports-live-controller"],"operationId":"footballMatchDiary","parameters":[{"name":"req","in":"query","required":true,"schema":{"$ref":"#/components/schemas/QueryMatchDiaryReq"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultQueryMatchDiaryResp"}}}}}}},"/ee/sports_live/football/match/diary/one_by_faceoff":{"get":{"tags":["sports-live-controller"],"operationId":"oneMatchDiaryByFaceoff","parameters":[{"name":"faceoffId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultQueryMatchDiaryResp"}}}}}}},"/ee/sports_live/football/match/diary/one":{"get":{"tags":["sports-live-controller"],"operationId":"oneMatchDiary","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultQueryMatchDiaryResp"}}}}}}},"/ee/sports_live/football/match/detail_live":{"get":{"tags":["sports-live-controller"],"operationId":"queryMatchDetailLive","parameters":[{"name":"matchId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultResult"}}}}}}},"/ee/sports_live/football/match/analysis":{"get":{"tags":["sports-live-controller"],"operationId":"queryMatchAnalysis","parameters":[{"name":"matchId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultMatchAnalysisResp"}}}}}}},"/ee/sports_live/football/lineup_player":{"get":{"tags":["sports-live-controller"],"operationId":"queryLineupPlayer","parameters":[{"name":"competitionId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"seasonId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"teamId","in":"query","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultLineupPlayerResp"}}}}}}},"/ee/sports_live/closeHalfAds":{"get":{"tags":["sports-live-controller"],"operationId":"closeHalfAds","parameters":[{"name":"uid","in":"header","required":true,"schema":{"type":"string"}},{"name":"matchId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResult"}}}}}}},"/ee/sports_live/block_competitions":{"get":{"tags":["sports-live-controller"],"operationId":"blockCidList","parameters":[{"name":"blockType","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultCollectionString"}}}}}}},"/ee/setting":{"get":{"tags":["setting-controller"],"operationId":"setting","parameters":[{"name":"category","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultListKonfiSettingDTO"}}}}}}},"/ee/replay/sign":{"get":{"tags":["match-replay-controller"],"operationId":"sign","parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultSignDTO"}}}}}}},"/ee/replay/more":{"get":{"tags":["match-replay-controller"],"operationId":"more","parameters":[{"name":"excludeId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultListReplayDTO"}}}}}}},"/ee/replay/list":{"get":{"tags":["match-replay-controller"],"operationId":"page","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultPageRespReplayDTO"}}}}}}},"/ee/replay/get":{"get":{"tags":["match-replay-controller"],"operationId":"getById","parameters":[{"name":"id","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultReplayDTO"}}}}}}},"/ee/redis/zmultiGet":{"get":{"tags":["ee-redis-controller"],"operationId":"zmultiGet","parameters":[{"name":"key","in":"query","required":true,"schema":{"type":"string"}},{"name":"members","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultListString"}}}}}}},"/ee/redis/zget":{"get":{"tags":["ee-redis-controller"],"operationId":"zget","parameters":[{"name":"key","in":"query","required":true,"schema":{"type":"string"}},{"name":"member","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultDouble"}}}}}}},"/ee/redis/multiGet":{"get":{"tags":["ee-redis-controller"],"operationId":"multiGet","parameters":[{"name":"keys","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultListString"}}}}}}},"/ee/redis/hmultiGet":{"get":{"tags":["ee-redis-controller"],"operationId":"hmultiGet","parameters":[{"name":"key","in":"query","required":true,"schema":{"type":"string"}},{"name":"fields","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultListString"}}}}}}},"/ee/redis/hget":{"get":{"tags":["ee-redis-controller"],"operationId":"hget","parameters":[{"name":"key","in":"query","required":true,"schema":{"type":"string"}},{"name":"field","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultString"}}}}}}},"/ee/redis/get":{"get":{"tags":["ee-redis-controller"],"operationId":"get","parameters":[{"name":"key","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultString"}}}}}}},"/ee/redis/clear":{"get":{"tags":["ee-redis-controller"],"operationId":"clear","parameters":[{"name":"patternPrefix","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultBoolean"}}}}}}},"/ee/news_kind/list":{"get":{"tags":["news-kind-controller"],"operationId":"list","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultListNewsKindDTO"}}}}}}},"/ee/news/grouped_get":{"get":{"tags":["news-controller"],"operationId":"groupedGet","parameters":[{"name":"groupId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultListNewsDTO"}}}}}}},"/ee/news/get_visible":{"get":{"tags":["news-controller"],"operationId":"getByIdVisible","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultNewsDTO"}}}}}}},"/ee/news/get":{"get":{"tags":["news-controller"],"operationId":"getById_1","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultNewsDTO"}}}}}}},"/ee/forecast/realtime/odds":{"get":{"tags":["预测比赛"],"summary":"预测活动实时赔率","operationId":"realtime","parameters":[{"name":"actId","in":"query","description":"活动ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultForecastMatchOddsDTO"}}}}}}},"/ee/forecast/queryOddsSummaryByMatchId":{"get":{"tags":["预测比赛"],"summary":"获取odds(大小球，让球，胜负平)","operationId":"queryOddsSummaryByMatchId","parameters":[{"name":"matchId","in":"query","description":"比赛ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultMatchOddsSummaryResp"}}}}}}},"/ee/forecast/pushOddsIm":{"get":{"tags":["预测比赛"],"summary":"[测试]推送指数更新IM","operationId":"pushOddsIm","parameters":[{"name":"matchId","in":"query","description":"比赛ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResult"}}}}}}},"/ee/forecast/initActData":{"get":{"tags":["预测比赛"],"summary":"初始化比赛活动","operationId":"initActData","parameters":[{"name":"dayNum","in":"query","description":"天数","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResult"}}}}}}},"/ee/forecast/index":{"get":{"tags":["预测比赛"],"summary":"预测活动主页","operationId":"index","parameters":[{"name":"uid","in":"header","description":"用户ID","required":false,"schema":{"type":"string"}},{"name":"matchId","in":"query","description":"比赛ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultForecastIndexDTO"}}}}}}},"/ee/fifa/sync/matchOdds":{"get":{"tags":["fifa-controller"],"operationId":"syncFifaMatchOdds","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResult"}}}}}}},"/ee/fifa/football/season/match":{"get":{"tags":["fifa-controller"],"operationId":"querySeasonMatch_1","parameters":[{"name":"competitionId","in":"query","required":true,"schema":{"type":"string"}},{"name":"matchTimeStart","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"matchTimeEnd","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"teamId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultQueryMatchDiaryWithOddsResp"}}}}}}},"/ee/fifa/football/bracket/season":{"get":{"tags":["fifa-controller"],"operationId":"queryBracketSeason","parameters":[{"name":"seasonId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultBracketSeasonResp"}}}}}}},"/ee/faq/one":{"get":{"tags":["faq-controller"],"operationId":"one","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultFAQ"}}}}}}},"/ee/faq/list":{"get":{"tags":["faq-controller"],"operationId":"list_1","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultPageFAQ"}}}}}}},"/ee/faq/get_full":{"get":{"tags":["faq-controller"],"operationId":"getFull","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultFAQ"}}}}}}},"/ee/article/refund_activity_state":{"get":{"tags":["article-controller"],"operationId":"refundActivityState","parameters":[{"name":"uid","in":"header","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultRefundActivityStateResp"}}}}}}},"/ee/article/read":{"get":{"tags":["article-controller"],"operationId":"read_1","parameters":[{"name":"uid","in":"header","required":false,"schema":{"type":"string","default":""}},{"name":"articleId","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":0}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultVoid"}}}}}}},"/ee/article/price_range":{"get":{"tags":["article-controller"],"operationId":"priceRange","parameters":[{"name":"authorId","in":"query","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultString[]"}}}}}}},"/ee/article/my_sub_authors":{"get":{"tags":["article-controller"],"operationId":"mySubAuthors","parameters":[{"name":"uid","in":"header","required":false,"schema":{"type":"string","default":""}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultPageRespUserAvatarDTO"}}}}}}},"/ee/article/my_sub":{"get":{"tags":["article-controller"],"operationId":"mySub","parameters":[{"name":"uid","in":"header","required":false,"schema":{"type":"string","default":""}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultPageRespArticleDTO"}}}}}}},"/ee/article/my_buys":{"get":{"tags":["article-controller"],"operationId":"myBuys","parameters":[{"name":"uid","in":"header","required":false,"schema":{"type":"string","default":""}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultPageRespArticleDTO"}}}}}}},"/ee/article/my_article_detail":{"get":{"tags":["article-controller"],"operationId":"myArticleDetail","parameters":[{"name":"uid","in":"header","required":false,"schema":{"type":"string","default":""}},{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultEditableArticleDTO"}}}}}}},"/ee/article/my_article":{"get":{"tags":["article-controller"],"operationId":"myArticle","parameters":[{"name":"uid","in":"header","required":false,"schema":{"type":"string","default":""}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultPageRespSimpleArticleDTO"}}}}}}},"/ee/article/match":{"get":{"tags":["article-controller"],"operationId":"match_1","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":10}},{"name":"matchId","in":"query","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultPageRespArticleDTO"}}}}}}},"/ee/article/kind_list":{"get":{"tags":["article-controller"],"operationId":"kindList","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultListArticleKindDTO"}}}}}}},"/ee/article/is_author":{"get":{"tags":["article-controller"],"operationId":"isAuthor","parameters":[{"name":"uid","in":"header","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultBoolean"}}}}}}},"/ee/article/home":{"get":{"tags":["article-controller"],"operationId":"home_1","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":10}},{"name":"kindId","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":0}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultPageRespArticleDTO"}}}}}}},"/ee/article/detail":{"get":{"tags":["article-controller"],"operationId":"detail","parameters":[{"name":"uid","in":"header","required":false,"schema":{"type":"string","default":""}},{"name":"articleId","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":0}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultArticleDTO"}}}}}}},"/ee/article/competition":{"get":{"tags":["article-controller"],"operationId":"competition","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":10}},{"name":"competitionId","in":"query","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultPageRespArticleDTO"}}}}}}},"/ee/article/author_others":{"get":{"tags":["article-controller"],"operationId":"authorOthers","parameters":[{"name":"articleId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"authorId","in":"query","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultPageRespArticleDTO"}}}}}}},"/ee/article/author_info":{"get":{"tags":["article-controller"],"operationId":"authorInfo","parameters":[{"name":"uid","in":"header","required":false,"schema":{"type":"string","default":""}},{"name":"authorId","in":"query","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultAuthorInfo"}}}}}}},"/ee/article/author_full_history":{"get":{"tags":["article-controller"],"operationId":"authorFullHistory","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":10}},{"name":"authorId","in":"query","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultPageRespArticleDTO"}}}}}}},"/ee/article/author_day_yield":{"get":{"tags":["article-controller"],"operationId":"authorDayYield","parameters":[{"name":"authorId","in":"query","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultListDayYieldDTO"}}}}}}},"/ee/article/author_active":{"get":{"tags":["article-controller"],"operationId":"authorActive","parameters":[{"name":"authorId","in":"query","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultPageRespArticleDTO"}}}}}}},"/ee/article/app_author_stats":{"get":{"tags":["article-controller"],"operationId":"appAuthorStats","parameters":[{"name":"authorId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultAppAuthorStatsDTO"}}}}}}},"/ee/article/active_authors":{"get":{"tags":["article-controller"],"operationId":"listActiveAuthor","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultListAuthorInfo"}}}}}}},"/ee/activity/transfer/rumours/list":{"get":{"tags":["transfer-controller"],"operationId":"pageTransferRumours","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultClientTransferResp"}}}}}}},"/ee/activity/transfer/list":{"get":{"tags":["transfer-controller"],"operationId":"pageTransfer","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultClientTransferResp"}}}}}}},"/ee/activity/stream/get":{"get":{"tags":["activity-stream-controller"],"operationId":"getByStreamName","parameters":[{"name":"streamName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultActivityStreamDTO"}}}}}}},"/ee/activity/stream/admin_get":{"get":{"tags":["activity-stream-controller"],"operationId":"adminGet","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultAdminActivityStreamDTO"}}}}}}},"/ee/activity/market_value_change/list":{"get":{"tags":["market-value-change-controller"],"operationId":"pageMarketValueChange","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"sign","in":"query","required":false,"schema":{"type":"string","format":"byte","default":"MA=="}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultClientTransferResp"}}}}}}}},"components":{"schemas":{"EeResultVoid":{"type":"object","properties":{"traceId":{"type":"string"},"timestamp":{"type":"integer","format":"int64"},"status":{"type":"integer","format":"int32"},"data":{"type":"object"},"msg":{"type":"string"}}},"EeResultInteger":{"type":"object","properties":{"traceId":{"type":"string"},"timestamp":{"type":"integer","format":"int64"},"status":{"type":"integer","format":"int32"},"data":{"type":"integer","format":"int32"},"msg":{"type":"string"}}},"EeResultGenUserStreamResp":{"type":"object","properties":{"traceId":{"type":"string"},"timestamp":{"type":"integer","format":"int64"},"status":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/GenUserStreamResp"},"msg":{"type":"string"}}},"GenUserStreamResp":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"matchId":{"type":"string"},"pushUrl":{"type":"string"}}},"GoalEventResource":{"type":"object","properties":{"id":{"type":"string"},"homeTeamNames":{"type":"object","additionalProperties":{"type":"string"}},"awayTeamNames":{"type":"object","additionalProperties":{"type":"string"}},"playerNames":{"type":"object","additionalProperties":{"type":"string"}},"position":{"type":"integer","format":"int32"},"time":{"type":"integer","format":"int32"},"homeScore":{"type":"integer","format":"int32"},"awayScore":{"type":"integer","format":"int32"},"needJump":{"type":"boolean"},"userId":{"type":"string"}}},"PlayerQueryStatReq":{"type":"object","properties":{"playerId":{"type":"string"},"competitionId":{"type":"string"},"seasonId":{"type":"string"}}},"EeResultSeasonPlayerStatDTO":{"type":"object","properties":{"traceId":{"type":"string"},"timestamp":{"type":"integer","format":"int64"},"status":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/SeasonPlayerStatDTO"},"msg":{"type":"string"}}},"SeasonPlayerStatDTO":{"type":"object","properties":{"playerId":{"type":"string","description":"球员ID"},"seasonId":{"type":"string","description":"赛季ID"},"matchesTotalPlayed":{"type":"number","description":"出场次数"},"matchesStarted":{"type":"number","description":"首发次数"},"matchesMinutesPerGame":{"type":"number","description":"场均时间"},"matchesTotalMinutesPlayed":{"type":"number","description":"总出场时间"},"attackingGoals":{"type":"number","description":"进球数"},"attackingScoringFrequency":{"type":"number","description":"进球频率(分钟/球)"},"attackingGoalsPerGame":{"type":"number","description":"场均进球"},"attackingShotsPerGame":{"type":"number","description":"场均射门"},"attackingShotsOnTarget":{"type":"number","description":"射正数"},"attackingShots":{"type":"number","description":"射门数"},"attackingShotsOnTargetPerGame":{"type":"number","description":"场均射正"},"passesAssists":{"type":"number","description":"助攻数"},"passesTotal":{"type":"number","description":"传球总数"},"passesKeyPasses":{"type":"number","description":"关键传球"},"passesKeyPassesPerGame":{"type":"number","description":"场均关键传球"},"passesAccPerGame":{"type":"number","description":"场均传球"},"longBallsPerGame":{"type":"number","description":"场均长传"},"longCrossesPerGame":{"type":"number","description":"场均传中"},"passesAccRate":{"type":"number","description":"传球成功率"},"longBallsRate":{"type":"number","description":"长传成功率"},"longCrossesRate":{"type":"number","description":"传中成功率"},"defendingInterceptionsPerGame":{"type":"number","description":"场均拦截"},"defendingTacklesPerGame":{"type":"number","description":"场均抢断"},"defendingDribbledPastPerGame":{"type":"number","description":"场均被过"},"defendingClearancesPerGame":{"type":"number","description":"场均解围"},"defendingBlockedShotsPerGame":{"type":"number","description":"场均封堵"},"cardsYellow":{"type":"integer","description":"黄牌","format":"int32"},"cardsYellowRed":{"type":"integer","description":"两黄变红","format":"int32"},"cardsRed":{"type":"integer","description":"红牌","format":"int32"}},"description":"球员赛季统计数据"},"PlayerQueryMatchReq":{"type":"object","properties":{"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"playerId":{"type":"string"},"teamId":{"type":"string"},"nationalTeamId":{"type":"string"},"competitionId":{"type":"string"},"seasonId":{"type":"string"}}},"CompetitionDTO":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"logo":{"type":"string"},"name_en":{"type":"string"}}},"Coverage":{"type":"object","properties":{"has_stream":{"type":"integer","format":"int32"},"mlive":{"type":"integer","format":"int32"},"lineup":{"type":"integer","format":"int32"}}},"EeResultQueryMatchDiaryResp":{"type":"object","properties":{"traceId":{"type":"string"},"timestamp":{"type":"integer","format":"int64"},"status":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/QueryMatchDiaryResp"},"msg":{"type":"string"}}},"MatchDiaryResultDTO":{"type":"object","properties":{"coverage":{"$ref":"#/components/schemas/Coverage"},"round":{"$ref":"#/components/schemas/Round"},"environment":{"type":"object"},"competition":{"$ref":"#/components/schemas/CompetitionDTO"},"user":{"$ref":"#/components/schemas/UserDTO"},"pv":{"type":"integer","format":"int32"},"id":{"type":"string"},"season_id":{"type":"string"},"competition_id":{"type":"string"},"home_team_id":{"type":"string"},"away_team_id":{"type":"string"},"status_id":{"type":"integer","format":"int32"},"match_time":{"type":"integer","format":"int64"},"venue_id":{"type":"string"},"referee_id":{"type":"string"},"neutral":{"type":"integer","format":"int32"},"note":{"type":"string"},"home_scores":{"type":"array","items":{"type":"integer","format":"int32"}},"away_scores":{"type":"array","items":{"type":"integer","format":"int32"}},"home_position":{"type":"string"},"away_position":{"type":"string"},"related_id":{"type":"string"},"agg_score":{"type":"array","items":{"type":"integer","format":"int32"}},"updated_at":{"type":"integer","format":"int64"},"home_team":{"$ref":"#/components/schemas/TeamDTO"},"away_team":{"$ref":"#/components/schemas/TeamDTO"},"venue_name":{"type":"string"},"has_custom_stream":{"type":"integer","format":"int32"},"is_blocked":{"type":"integer","format":"int32"},"seo_blocked":{"type":"integer","format":"int32"},"real_time_data":{"$ref":"#/components/schemas/RealTimeData"}}},"QueryMatchDiaryResp":{"type":"object","properties":{"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"total":{"type":"integer","format":"int64"},"results":{"type":"array","items":{"$ref":"#/components/schemas/MatchDiaryResultDTO"}}}},"RealTimeData":{"type":"object","properties":{"status_id":{"type":"integer","format":"int32"},"kickoff_time":{"type":"integer","format":"int64"}}},"Round":{"type":"object","properties":{"stage_id":{"type":"string"},"group_num":{"type":"integer","format":"int32"},"round_num":{"type":"integer","format":"int32"}}},"TeamDTO":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"logo":{"type":"string"},"country_logo":{"type":"string"},"name_en":{"type":"string"}}},"UserDTO":{"type":"object","properties":{"userId":{"type":"string"},"nickname":{"type":"string"},"avatar":{"type":"string"},"robot":{"type":"boolean"}}},"QueryMatchDiaryReq":{"type":"object","properties":{"fromIndex":{"type":"integer","format":"int32"},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"id":{"type":"string"},"competitionId":{"type":"string"},"teamId":{"type":"string"},"statusId":{"type":"string"},"matchTimeStart":{"type":"integer","format":"int64"},"matchTimeEnd":{"type":"integer","format":"int64"},"matchTimeStartDate":{"type":"string","format":"date-time"},"matchTimeEndDate":{"type":"string","format":"date-time"},"sort":{"type":"string"},"hasStream":{"type":"boolean"},"mlive":{"type":"boolean"},"anchorId":{"type":"string"},"returnUser":{"type":"boolean"},"withCount":{"type":"boolean"},"hotMatch":{"type":"boolean"},"block":{"type":"boolean"},"blockCid":{"type":"array","items":{"type":"string"}}}},"EeResultNewsStatus":{"type":"object","properties":{"traceId":{"type":"string"},"timestamp":{"type":"integer","format":"int64"},"status":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/NewsStatus"},"msg":{"type":"string"}}},"NewsStatus":{"type":"object","properties":{"likeStatus":{"type":"string","enum":["Liked","NotLiked"]},"favoriteStatus":{"type":"string","enum":["Favorited","NotFavorited"]}}},"EeResult":{"type":"object","properties":{"traceId":{"type":"string"},"timestamp":{"type":"integer","format":"int64"},"status":{"type":"integer","format":"int32"},"data":{"type":"object"},"msg":{"type":"string"}}},"EeResultPageTeamDTO":{"type":"object","properties":{"traceId":{"type":"string"},"timestamp":{"type":"integer","format":"int64"},"status":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/PageTeamDTO"},"msg":{"type":"string"}}},"OrderItem":{"type":"object","properties":{"column":{"type":"string"},"asc":{"type":"boolean"}}},"PageTeamDTO":{"type":"object","properties":{"records":{"type":"array","items":{"$ref":"#/components/schemas/TeamDTO"}},"total":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int64"},"current":{"type":"integer","format":"int64"},"orders":{"type":"array","deprecated":true,"items":{"$ref":"#/components/schemas/OrderItem"}},"optimizeCountSql":{"type":"boolean","deprecated":true},"searchCount":{"type":"boolean","deprecated":true},"optimizeJoinOfCountSql":{"type":"boolean","writeOnly":true},"maxLimit":{"type":"integer","format":"int64","deprecated":true},"countId":{"type":"string","deprecated":true},"pages":{"type":"integer","format":"int64"}}},"EeResultPagePlayerDTO":{"type":"object","properties":{"traceId":{"type":"string"},"timestamp":{"type":"integer","format":"int64"},"status":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/PagePlayerDTO"},"msg":{"type":"string"}}},"PagePlayerDTO":{"type":"object","properties":{"records":{"type":"array","items":{"$ref":"#/components/schemas/PlayerDTO"}},"total":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int64"},"current":{"type":"integer","format":"int64"},"orders":{"type":"array","deprecated":true,"items":{"$ref":"#/components/schemas/OrderItem"}},"optimizeCountSql":{"type":"boolean","deprecated":true},"searchCount":{"type":"boolean","deprecated":true},"optimizeJoinOfCountSql":{"type":"boolean","writeOnly":true},"maxLimit":{"type":"integer","format":"int64","deprecated":true},"countId":{"type":"string","deprecated":true},"pages":{"type":"integer","format":"int64"}}},"PlayerDTO":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"logo":{"type":"string"},"age":{"type":"integer","format":"int32"},"position":{"type":"string"},"nationality":{"type":"string"},"country_id":{"type":"string"},"market_value":{"type":"integer","format":"int64"},"market_value_currency":{"type":"string"}}},"EeResultPageNewsDTO":{"type":"object","properties":{"traceId":{"type":"string"},"timestamp":{"type":"integer","format":"int64"},"status":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/PageNewsDTO"},"msg":{"type":"string"}}},"MatchObj":{"type":"object","properties":{"id":{"type":"string"},"home":{"$ref":"#/components/schemas/NameObj"},"away":{"$ref":"#/components/schemas/NameObj"}}},"NameObj":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"ar_name":{"type":"string"},"hi_name":{"type":"string"},"bn_name":{"type":"string"},"logo":{"type":"string"}}},"NewsDTO":{"required":["audit_status","competition_ids","createBy","createTime","groupId","id","kindId","kindName","language","match_ids","news_id","nodes","player_ids","publishTime","sport_live_news_poster","sport_live_news_show","sport_live_news_title","sports_live_news_edit","sports_live_news_keyword","team_ids","top","updateBy","updateTime"],"type":"object","properties":{"get_id":{"type":"string"},"id":{"type":"string"},"pv":{"type":"integer","format":"int64"},"groupId":{"type":"string"},"sport_live_news_poster":{"type":"array","items":{"$ref":"#/components/schemas/Poster"}},"sport_live_news_title":{"type":"string"},"kindId":{"type":"integer","format":"int64"},"kindName":{"type":"string"},"audit_status":{"type":"integer","format":"int32"},"sport_live_news_show":{"type":"string"},"language":{"type":"string"},"top":{"type":"integer","format":"int32"},"like_num":{"type":"integer","format":"int64"},"sports_live_news_keyword":{"type":"string"},"news_id":{"type":"string"},"sports_live_news_edit":{"type":"string"},"sports_live_news_description":{"type":"string"},"publishTime":{"type":"string","format":"date-time"},"createTime":{"type":"string","format":"date-time"},"updateTime":{"type":"string","format":"date-time"},"createBy":{"type":"string"},"updateBy":{"type":"string"},"auditBy":{"type":"string"},"sports_live_news_hot":{"type":"integer","format":"int32"},"sports_live_news_weight":{"type":"integer","format":"int32"},"sports_live_news_auth":{"type":"string"},"author":{"$ref":"#/components/schemas/UserObj"},"sports_live_news_tags":{"type":"array","items":{"type":"string"}},"player_ids":{"type":"array","items":{"type":"string"}},"match_ids":{"type":"array","items":{"type":"string"}},"team_ids":{"type":"array","items":{"type":"string"}},"competition_ids":{"type":"array","items":{"type":"string"}},"player_objs":{"type":"array","items":{"$ref":"#/components/schemas/NameObj"}},"match_objs":{"type":"array","items":{"$ref":"#/components/schemas/MatchObj"}},"team_objs":{"type":"array","items":{"$ref":"#/components/schemas/NameObj"}},"competition_objs":{"type":"array","items":{"$ref":"#/components/schemas/NameObj"}},"nodes":{"type":"array","items":{"type":"string"}}}},"PageNewsDTO":{"type":"object","properties":{"records":{"type":"array","items":{"$ref":"#/components/schemas/NewsDTO"}},"total":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int64"},"current":{"type":"integer","format":"int64"},"orders":{"type":"array","deprecated":true,"items":{"$ref":"#/components/schemas/OrderItem"}},"optimizeCountSql":{"type":"boolean","deprecated":true},"searchCount":{"type":"boolean","deprecated":true},"optimizeJoinOfCountSql":{"type":"boolean","writeOnly":true},"maxLimit":{"type":"integer","format":"int64","deprecated":true},"countId":{"type":"string","deprecated":true},"pages":{"type":"integer","format":"int64"}}},"Poster":{"required":["url"],"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"status":{"type":"string"},"url":{"type":"string"}}},"UserObj":{"type":"object","properties":{"userId":{"type":"string"},"nickname":{"type":"string"},"avatar":{"type":"string"}}},"EeResultPageCompetitionDTO":{"type":"object","properties":{"traceId":{"type":"string"},"timestamp":{"type":"integer","format":"int64"},"status":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/PageCompetitionDTO"},"msg":{"type":"string"}}},"PageCompetitionDTO":{"type":"object","properties":{"records":{"type":"array","items":{"$ref":"#/components/schemas/CompetitionDTO"}},"total":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int64"},"current":{"type":"integer","format":"int64"},"orders":{"type":"array","deprecated":true,"items":{"$ref":"#/components/schemas/OrderItem"}},"optimizeCountSql":{"type":"boolean","deprecated":true},"searchCount":{"type":"boolean","deprecated":true},"optimizeJoinOfCountSql":{"type":"boolean","writeOnly":true},"maxLimit":{"type":"integer","format":"int64","deprecated":true},"countId":{"type":"string","deprecated":true},"pages":{"type":"integer","format":"int64"}}},"EeResultLikeResp":{"type":"object","properties":{"traceId":{"type":"string"},"timestamp":{"type":"integer","format":"int64"},"status":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/LikeResp"},"msg":{"type":"string"}}},"LikeResp":{"type":"object","properties":{"currentStatus":{"type":"string","enum":["Liked","NotLiked"]}}},"EeResultObject":{"type":"object","properties":{"traceId":{"type":"string"},"timestamp":{"type":"integer","format":"int64"},"status":{"type":"integer","format":"int32"},"data":{"type":"object"},"msg":{"type":"string"}}},"EeResultFavoriteResp":{"type":"object","properties":{"traceId":{"type":"string"},"timestamp":{"type":"integer","format":"int64"},"status":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/FavoriteResp"},"msg":{"type":"string"}}},"FavoriteResp":{"type":"object","properties":{"currentStatus":{"type":"string","enum":["Favorited","NotFavorited"]}}},"CompetitionAggPageResp":{"type":"object","properties":{"result":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/CompetitionDTO"}}}}},"EeResultCompetitionAggPageResp":{"type":"object","properties":{"traceId":{"type":"string"},"timestamp":{"type":"integer","format":"int64"},"status":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/CompetitionAggPageResp"},"msg":{"type":"string"}}},"EeResultListSportsNewsLikeNumDTO":{"type":"object","properties":{"traceId":{"type":"string"},"timestamp":{"type":"integer","format":"int64"},"status":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/SportsNewsLikeNumDTO"}},"msg":{"type":"string"}}},"SportsNewsLikeNumDTO":{"type":"object","properties":{"id":{"type":"string"},"num":{"type":"integer","format":"int64"}}},"EeResultRecommendResp":{"type":"object","properties":{"traceId":{"type":"string"},"timestamp":{"type":"integer","format":"int64"},"status":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/RecommendResp"},"msg":{"type":"string"}}},"RecommendResp":{"type":"object","properties":{"competitions":{"type":"array","items":{"$ref":"#/components/schemas/CompetitionDTO"}},"teams":{"type":"array","items":{"$ref":"#/components/schemas/TeamDTO"}}}},"EeResultListMatchInfo":{"type":"object","properties":{"traceId":{"type":"string"},"timestamp":{"type":"integer","format":"int64"},"status":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/MatchInfo"}},"msg":{"type":"string"}}},"MatchInfo":{"type":"object","properties":{"match_id":{"type":"string"},"match_time":{"type":"integer","format":"int64"},"competition":{"$ref":"#/components/schemas/CompetitionDTO"},"home_team":{"$ref":"#/components/schemas/TeamDTO"},"away_team":{"$ref":"#/components/schemas/TeamDTO"}}},"SearchReq":{"type":"object","properties":{"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"type":{"type":"string","description":"可用值：all,match,team,competition,player,news"},"content":{"type":"string"}}},"EeResultSearchResp":{"type":"object","properties":{"traceId":{"type":"string"},"timestamp":{"type":"integer","format":"int64"},"status":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/SearchResp"},"msg":{"type":"string"}}},"NewsIndex":{"type":"object","properties":{"id":{"type":"string"},"sport_live_news_poster":{"type":"array","items":{"$ref":"#/components/schemas/Poster"}},"sport_live_news_title":{"type":"string"},"language":{"type":"string"},"top":{"type":"integer","format":"int32"},"sports_live_news_keyword":{"type":"string"},"news_id":{"type":"string"},"sports_live_news_edit":{"type":"string"},"sports_live_news_description":{"type":"string"},"createTime":{"type":"string","format":"date-time"},"updateTime":{"type":"string","format":"date-time"},"author":{"$ref":"#/components/schemas/UserObj"},"match_objs":{"type":"array","items":{"$ref":"#/components/schemas/MatchObj"}},"team_objs":{"type":"array","items":{"$ref":"#/components/schemas/NameObj"}},"competition_objs":{"type":"array","items":{"$ref":"#/components/schemas/NameObj"}},"nodes":{"type":"array","items":{"type":"string"}}}},"PageMatchDiaryResultDTO":{"type":"object","properties":{"records":{"type":"array","items":{"$ref":"#/components/schemas/MatchDiaryResultDTO"}},"total":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int64"},"current":{"type":"integer","format":"int64"},"orders":{"type":"array","deprecated":true,"items":{"$ref":"#/components/schemas/OrderItem"}},"optimizeCountSql":{"type":"boolean","deprecated":true},"searchCount":{"type":"boolean","deprecated":true},"optimizeJoinOfCountSql":{"type":"boolean","writeOnly":true},"maxLimit":{"type":"integer","format":"int64","deprecated":true},"countId":{"type":"string","deprecated":true},"pages":{"type":"integer","format":"int64"}}},"PageNewsIndex":{"type":"object","properties":{"records":{"type":"array","items":{"$ref":"#/components/schemas/NewsIndex"}},"total":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int64"},"current":{"type":"integer","format":"int64"},"orders":{"type":"array","deprecated":true,"items":{"$ref":"#/components/schemas/OrderItem"}},"optimizeCountSql":{"type":"boolean","deprecated":true},"searchCount":{"type":"boolean","deprecated":true},"optimizeJoinOfCountSql":{"type":"boolean","writeOnly":true},"maxLimit":{"type":"integer","format":"int64","deprecated":true},"countId":{"type":"string","deprecated":true},"pages":{"type":"integer","format":"int64"}}},"PageSearchPlayerDTO":{"type":"object","properties":{"records":{"type":"array","items":{"$ref":"#/components/schemas/SearchPlayerDTO"}},"total":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int64"},"current":{"type":"integer","format":"int64"},"orders":{"type":"array","deprecated":true,"items":{"$ref":"#/components/schemas/OrderItem"}},"optimizeCountSql":{"type":"boolean","deprecated":true},"searchCount":{"type":"boolean","deprecated":true},"optimizeJoinOfCountSql":{"type":"boolean","writeOnly":true},"maxLimit":{"type":"integer","format":"int64","deprecated":true},"countId":{"type":"string","deprecated":true},"pages":{"type":"integer","format":"int64"}}},"SearchPlayerDTO":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"logo":{"type":"string"},"team":{"$ref":"#/components/schemas/TeamDTO"}}},"SearchResp":{"type":"object","properties":{"team":{"$ref":"#/components/schemas/PageTeamDTO"},"competition":{"$ref":"#/components/schemas/PageCompetitionDTO"},"match":{"$ref":"#/components/schemas/PageMatchDiaryResultDTO"},"player":{"$ref":"#/components/schemas/PageSearchPlayerDTO"},"news":{"$ref":"#/components/schemas/PageNewsIndex"}}},"EeResultHotSearchResp":{"type":"object","properties":{"traceId":{"type":"string"},"timestamp":{"type":"integer","format":"int64"},"status":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/HotSearchResp"},"msg":{"type":"string"}}},"HotSearchDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"keyword":{"type":"string"},"weight":{"type":"integer","format":"int32"},"jumpType":{"type":"string"},"url":{"type":"string"}}},"HotSearchResp":{"type":"object","properties":{"records":{"type":"array","items":{"$ref":"#/components/schemas/HotSearchDTO"}}}},"EeResultListNewsDTO":{"type":"object","properties":{"traceId":{"type":"string"},"timestamp":{"type":"integer","format":"int64"},"status":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/NewsDTO"}},"msg":{"type":"string"}}},"FormDataPageRequest":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortDTO"},"sorts":{"type":"array","items":{"$ref":"#/components/schemas/SortDTO"}},"queryList":{"type":"array","items":{"$ref":"#/components/schemas/QueryDTO"}},"appointField":{"type":"array","items":{"type":"string"}},"node":{"type":"string"}}},"QueryDTO":{"type":"object","properties":{"key":{"type":"string"},"type":{"type":"string"},"value1":{"type":"string"},"value2":{"type":"string"},"isOrNotRange":{"type":"integer","format":"int32"},"isOrNotLike":{"type":"integer","format":"int32"}}},"SortDTO":{"type":"object","properties":{"key":{"type":"string"},"sort":{"type":"string"}}},"AuditNewsRequest":{"required":["auditBy","groupId","updateTime"],"type":"object","properties":{"audit_status":{"maximum":1,"minimum":0,"type":"integer","format":"int32"},"groupId":{"type":"string"},"updateTime":{"type":"string"},"auditBy":{"type":"string"}}},"AggregateNewsKindDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"num":{"type":"integer","format":"int64"}}},"EeResultListAggregateNewsKindDTO":{"type":"object","properties":{"traceId":{"type":"string"},"timestamp":{"type":"integer","format":"int64"},"status":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/AggregateNewsKindDTO"}},"msg":{"type":"string"}}},"UserForecastReq":{"type":"object","properties":{"matchId":{"type":"string","description":"比赛id"},"lastId":{"type":"integer","description":"最后一条记录id","format":"int64"},"pageSize":{"type":"integer","format":"int32"}},"description":"用户预测请求"},"EeResultUserForecastResp":{"type":"object","properties":{"traceId":{"type":"string"},"timestamp":{"type":"integer","format":"int64"},"status":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/UserForecastResp"},"msg":{"type":"string"}}},"UserForecastDTO":{"type":"object","properties":{"id":{"type":"integer","description":"id","format":"int64"},"matchId":{"type":"string","description":"比赛id"},"homeTeamId":{"type":"string","description":"主队"},"awayTeamId":{"type":"string","description":"客队"},"userId":{"type":"string","description":"用户"},"userForecast":{"type":"string","description":"用户预测: HOME主胜,AWAY客胜,DRAW平局"},"userBet":{"type":"integer","description":"用户押注金额","format":"int64"},"userBetRate":{"type":"number","description":"用户赔率"},"status":{"type":"string","description":"状态: INIT等待开奖, LOSE输, WIN赢"},"matchResult":{"type":"string","description":"比赛结果: HOME主胜,AWAY客胜,DRAW平局"},"silverDiamond":{"type":"integer","description":"奖励银钻","format":"int64"},"rewardId":{"type":"integer","description":"奖励id","format":"int64"},"settleTime":{"type":"string","description":"结算时间","format":"date-time"},"createTime":{"type":"string","description":"创建时间","format":"date-time"},"match":{"$ref":"#/components/schemas/MatchDiaryResultDTO"}},"description":"用户预测DTO"},"UserForecastResp":{"type":"object","properties":{"lastId":{"type":"integer","description":"最后一条记录id","format":"int64"},"list":{"type":"array","items":{"$ref":"#/components/schemas/UserForecastDTO"}}},"description":"用户预测响应"},"ForecastMatchReq":{"type":"object","properties":{"current":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"startDate":{"type":"integer","description":"比赛开始日期","format":"int64"},"endDate":{"type":"integer","description":"比赛结束日期","format":"int64"},"lastId":{"type":"integer","description":"最后一条记录id","format":"int64"},"pageSize":{"type":"integer","format":"int32"},"offset":{"type":"integer","format":"int64"}},"description":"预测比赛请求"},"EeResultForecastMatchResp":{"type":"object","properties":{"traceId":{"type":"string"},"timestamp":{"type":"integer","format":"int64"},"status":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/ForecastMatchResp"},"msg":{"type":"string"}}},"ForecastMatchActDTO":{"type":"object","properties":{"id":{"type":"integer","description":"id","format":"int64"},"matchId":{"type":"string","description":"比赛id"},"homeTeamId":{"type":"string","description":"主队"},"awayTeamId":{"type":"string","description":"客队"},"homeWinRate":{"type":"number","description":"主胜赔率"},"awayWinRate":{"type":"number","description":"客胜赔率"},"drawRate":{"type":"number","description":"平局赔率"},"matchResult":{"type":"string","description":"比赛结果: HOME主胜,AWAY客胜,DRAW平局"},"status":{"type":"string","description":"状态: INIT预测中, STOP_BET待开奖, DONE已结束，REWARD已发奖励, STOP_ACT停止活动"},"rateUpdateTs":{"type":"integer","description":"赔率更新时间","format":"int64"},"userCount":{"type":"integer","description":"参与人数","format":"int32"},"match":{"$ref":"#/components/schemas/MatchDiaryResultDTO"}},"description":"预测比赛活动DTO"},"ForecastMatchResp":{"type":"object","properties":{"lastId":{"type":"integer","description":"最后一条记录id","format":"int64"},"list":{"type":"array","items":{"$ref":"#/components/schemas/ForecastMatchActDTO"}}},"description":"预测比赛响应"},"ForecastBetReq":{"type":"object","properties":{"actId":{"type":"integer","description":"活动id","format":"int64"},"matchId":{"type":"string","description":"比赛id"},"userForecast":{"type":"string","description":"用户预测: HOME主胜,AWAY客胜,DRAW平局","enum":["HOME","AWAY","DRAW"]},"userBet":{"type":"integer","description":"用户押注金额","format":"int64"},"userBetRate":{"type":"number","description":"赔率"}},"description":"预测下注请求"},"EeResultForecastBetResp":{"type":"object","properties":{"traceId":{"type":"string"},"timestamp":{"type":"integer","format":"int64"},"status":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/ForecastBetResp"},"msg":{"type":"string"}}},"ForecastBetResp":{"type":"object","properties":{"betReturnStatus":{"type":"string","description":"用户下注结果枚举","enum":["SUCCESS","INSUFFICIENT_BALANCE","USER_SINGLE_MAX","USER_DAILY_MAX","BET_RATE","ACT_STATUS"]},"actWinRate":{"type":"number","description":"请求下注赔率"},"homeWinRate":{"type":"number","description":"当前主胜赔率"},"awayWinRate":{"type":"number","description":"当前客胜赔率"},"drawRate":{"type":"number","description":"当前平局赔率"},"userDailyTotal":{"type":"integer","description":"用户已经参与银钻","format":"int64"}},"description":"预测下注响应"},"FAQ":{"type":"object","properties":{"id":{"type":"string"},"weight":{"type":"integer","format":"int32"},"en_title":{"type":"string"},"en_content":{"type":"string"},"ar_title":{"type":"string"},"ar_content":{"type":"string"},"hi_title":{"type":"string"},"hi_content":{"type":"string"},"bn_title":{"type":"string"},"bn_content":{"type":"string"},"id_title":{"type":"string"},"id_content":{"type":"string"}}},"TranslateDTO":{"required":["content","lang","title"],"type":"object","properties":{"lang":{"type":"string"},"title":{"type":"string"},"keyword":{"type":"string"},"description":{"type":"string"},"content":{"type":"string"},"target_language":{"type":"string"}}},"EeResultTranslateResp":{"type":"object","properties":{"traceId":{"type":"string"},"timestamp":{"type":"integer","format":"int64"},"status":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/TranslateResp"},"msg":{"type":"string"}}},"TranslateResp":{"type":"object","properties":{"zhTitle":{"type":
[...]
