{"openapi":"3.0.1","info":{"title":"API文档","description":"API文档","version":"v1"},"servers":[{"url":"http://camel-api-gateway05.svc.elelive.cn","description":"Generated server url"}],"paths":{"/user/generate":{"post":{"tags":["user-controller"],"operationId":"generate","parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultString"}}}}}}},"/user/clearUserZone":{"post":{"tags":["user-controller"],"operationId":"clearUserZone","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultBoolean"}}}}}}},"/user/clearRoomUser":{"post":{"tags":["user-controller"],"operationId":"clearRoomUser","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultBoolean"}}}}}}},"/user/clearLocalUser":{"post":{"tags":["user-controller"],"operationId":"clearLocalUser","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultBoolean"}}}}}}},"/user/allUser":{"post":{"tags":["user-controller"],"operationId":"allUser","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultMapObjectObject"}}}}}}},"/user/allUserNum":{"post":{"tags":["user-controller"],"operationId":"allUserNum","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultLong"}}}}}}},"/session/expire":{"post":{"tags":["session-controller"],"operationId":"expire","parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResult"}}}}}}},"/room/members/online":{"post":{"tags":["room-controller"],"operationId":"getSizeOfMembers","parameters":[{"name":"roomId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResult"}}}}}}},"/room/members/all":{"post":{"tags":["room-controller"],"operationId":"allMembers","parameters":[{"name":"roomId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultCollectionString"}}}}}}},"/room/member/leave":{"post":{"tags":["room-controller"],"operationId":"leave","parameters":[{"name":"roomId","in":"query","required":true,"schema":{"type":"string"}},{"name":"userId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultBoolean"}}}}}}},"/room/member/join":{"post":{"tags":["room-controller"],"operationId":"join","parameters":[{"name":"roomId","in":"query","required":true,"schema":{"type":"string"}},{"name":"userId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultBoolean"}}}}}}},"/room/getZoneByUserId":{"post":{"tags":["room-controller"],"operationId":"getZoneByUserId","parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultString"}}}}}}},"/room/destroy":{"post":{"tags":["room-controller"],"operationId":"destroy","parameters":[{"name":"roomId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultBoolean"}}}}}}},"/room/create":{"post":{"tags":["room-controller"],"operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoomDefinitionInfo"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultBoolean"}}}}}}},"/message/s2s/room":{"post":{"tags":["message-s-2-s-controller"],"operationId":"roomMessage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendMessageDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultListFailedReasonDTO"}}}}}}},"/message/s2s/p2p":{"post":{"tags":["message-s-2-s-controller"],"operationId":"p2pMessage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendMessageDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultListFailedReasonDTO"}}}}}}},"/message/p2p/delete":{"post":{"tags":["delete-message-controller"],"operationId":"delete","parameters":[{"name":"minute","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"maxCount","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResult"}}}}}}},"/session/load":{"get":{"tags":["session-controller"],"operationId":"loadByUserId","parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResult"}}}}}}},"/session/list":{"get":{"tags":["session-controller"],"operationId":"listAll","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/room/exists":{"get":{"tags":["room-controller"],"operationId":"exists","parameters":[{"name":"roomId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultBoolean"}}}}}}},"/message/test/session_total":{"get":{"tags":["test-metric-controller"],"operationId":"session_total","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResult"}}}}}}},"/message/test/msg_total":{"get":{"tags":["test-metric-controller"],"operationId":"msg_total","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResult"}}}}}}},"/ee/version/version":{"get":{"tags":["ee-version-controller"],"operationId":"version","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultString"}}}}}}},"/ee/version/pubData":{"get":{"tags":["ee-version-controller"],"operationId":"pubData","parameters":[{"name":"formKey","in":"query","required":true,"schema":{"type":"string"}},{"name":"data","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultBoolean"}}}}}}},"/ee/redis/zmultiGet":{"get":{"tags":["ee-redis-controller"],"operationId":"zmultiGet","parameters":[{"name":"key","in":"query","required":true,"schema":{"type":"string"}},{"name":"members","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultListString"}}}}}}},"/ee/redis/zget":{"get":{"tags":["ee-redis-controller"],"operationId":"zget","parameters":[{"name":"key","in":"query","required":true,"schema":{"type":"string"}},{"name":"member","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultDouble"}}}}}}},"/ee/redis/top":{"get":{"tags":["ee-redis-controller"],"operationId":"top","parameters":[{"name":"key","in":"query","required":true,"schema":{"type":"string"}},{"name":"num","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultSetTypedTupleString"}}}}}}},"/ee/redis/multiGet":{"get":{"tags":["ee-redis-controller"],"operationId":"multiGet","parameters":[{"name":"keys","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultListString"}}}}}}},"/ee/redis/hmultiGet":{"get":{"tags":["ee-redis-controller"],"operationId":"hmultiGet","parameters":[{"name":"key","in":"query","required":true,"schema":{"type":"string"}},{"name":"fields","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultListString"}}}}}}},"/ee/redis/hget":{"get":{"tags":["ee-redis-controller"],"operationId":"hget","parameters":[{"name":"key","in":"query","required":true,"schema":{"type":"string"}},{"name":"field","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultString"}}}}}}},"/ee/redis/hGetAll":{"get":{"tags":["ee-redis-controller"],"operationId":"hGetAll","parameters":[{"name":"key","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultMapStringString"}}}}}}},"/ee/redis/get":{"get":{"tags":["ee-redis-controller"],"operationId":"get","parameters":[{"name":"key","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultString"}}}}}}},"/ee/redis/expired":{"get":{"tags":["ee-redis-controller"],"operationId":"expired","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultBoolean"}}}}}}},"/ee/redis/clear":{"get":{"tags":["ee-redis-controller"],"operationId":"clear","parameters":[{"name":"patternPrefix","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EeResultBoolean"}}}}}}}},"components":{"schemas":{"EeResultString":{"type":"object","properties":{"traceId":{"type":"string","description":"traceId,用于日志跟踪。前端对接忽略此字段"},"timestamp":{"type":"integer","description":"当前时间戳","format":"int64"},"status":{"type":"integer","description":"状态码； 200:成功；400:失败 ","format":"int32"},"data":{"type":"string","description":"返回数据"},"msg":{"type":"string","description":"返回提示信息"}}},"EeResultBoolean":{"type":"object","properties":{"traceId":{"type":"string","description":"traceId,用于日志跟踪。前端对接忽略此字段"},"timestamp":{"type":"integer","description":"当前时间戳","format":"int64"},"status":{"type":"integer","description":"状态码； 200:成功；400:失败 ","format":"int32"},"data":{"type":"boolean","description":"返回数据"},"msg":{"type":"string","description":"返回提示信息"}}},"EeResultMapObjectObject":{"type":"object","properties":{"traceId":{"type":"string","description":"traceId,用于日志跟踪。前端对接忽略此字段"},"timestamp":{"type":"integer","description":"当前时间戳","format":"int64"},"status":{"type":"integer","description":"状态码； 200:成功；400:失败 ","format":"int32"},"data":{"type":"object","additionalProperties":{"type":"object","description":"返回数据"},"description":"返回数据"},"msg":{"type":"string","description":"返回提示信息"}}},"EeResultLong":{"type":"object","properties":{"traceId":{"type":"string","description":"traceId,用于日志跟踪。前端对接忽略此字段"},"timestamp":{"type":"integer","description":"当前时间戳","format":"int64"},"status":{"type":"integer","description":"状态码； 200:成功；400:失败 ","format":"int32"},"data":{"type":"integer","description":"返回数据","format":"int64"},"msg":{"type":"string","description":"返回提示信息"}}},"EeResult":{"type":"object","properties":{"traceId":{"type":"string","description":"traceId,用于日志跟踪。前端对接忽略此字段"},"timestamp":{"type":"integer","description":"当前时间戳","format":"int64"},"status":{"type":"integer","description":"状态码； 200:成功；400:失败 ","format":"int32"},"data":{"type":"object","description":"返回数据"},"msg":{"type":"string","description":"返回提示信息"}}},"EeResultCollectionString":{"type":"object","properties":{"traceId":{"type":"string","description":"traceId,用于日志跟踪。前端对接忽略此字段"},"timestamp":{"type":"integer","description":"当前时间戳","format":"int64"},"status":{"type":"integer","description":"状态码； 200:成功；400:失败 ","format":"int32"},"data":{"type":"array","description":"返回数据","items":{"type":"string","description":"返回数据"}},"msg":{"type":"string","description":"返回提示信息"}}},"RoomDefinitionInfo":{"required":["capacity","owner","roomId"],"type":"object","properties":{"roomId":{"type":"string"},"owner":{"type":"string"},"capacity":{"type":"integer","format":"int32"},"ttl":{"type":"integer","format":"int64"},"createdDate":{"type":"string","format":"date-time"}}},"SendMessageDTO":{"required":["content","from","targets"],"type":"object","properties":{"from":{"type":"string"},"targets":{"type":"array","items":{"type":"string"}},"excludeSet":{"uniqueItems":true,"type":"array","items":{"type":"string"}},"content":{"type":"string"},"subType":{"type":"string"}}},"EeResultListFailedReasonDTO":{"type":"object","properties":{"traceId":{"type":"string","description":"traceId,用于日志跟踪。前端对接忽略此字段"},"timestamp":{"type":"integer","description":"当前时间戳","format":"int64"},"status":{"type":"integer","description":"状态码； 200:成功；400:失败 ","format":"int32"},"data":{"type":"array","description":"返回数据","items":{"$ref":"#/components/schemas/FailedReasonDTO"}},"msg":{"type":"string","description":"返回提示信息"}}},"FailedReasonDTO":{"type":"object","properties":{"key":{"type":"string"},"msg":{"type":"string"}},"description":"返回数据"},"EeResultListString":{"type":"object","properties":{"traceId":{"type":"string","description":"traceId,用于日志跟踪。前端对接忽略此字段"},"timestamp":{"type":"integer","description":"当前时间戳","format":"int64"},"status":{"type":"integer","description":"状态码； 200:成功；400:失败 ","format":"int32"},"data":{"type":"array","description":"返回数据","items":{"type":"string","description":"返回数据"}},"msg":{"type":"string","description":"返回提示信息"}}},"EeResultDouble":{"type":"object","properties":{"traceId":{"type":"string","description":"traceId,用于日志跟踪。前端对接忽略此字段"},"timestamp":{"type":"integer","description":"当前时间戳","format":"int64"},"status":{"type":"integer","description":"状态码； 200:成功；400:失败 ","format":"int32"},"data":{"type":"number","description":"返回数据","format":"double"},"msg":{"type":"string","description":"返回提示信息"}}},"EeResultSetTypedTupleString":{"type":"object","properties":{"traceId":{"type":"string","description":"traceId,用于日志跟踪。前端对接忽略此字段"},"timestamp":{"type":"integer","description":"当前时间戳","format":"int64"},"status":{"type":"integer","description":"状态码； 200:成功；400:失败 ","format":"int32"},"data":{"uniqueItems":true,"type":"array","description":"返回数据","items":{"$ref":"#/components/schemas/TypedTupleString"}},"msg":{"type":"string","description":"返回提示信息"}}},"TypedTupleString":{"type":"object","properties":{"value":{"type":"string"},"score":{"type":"number","format":"double"}},"description":"返回数据"},"EeResultMapStringString":{"type":"object","properties":{"traceId":{"type":"string","description":"traceId,用于日志跟踪。前端对接忽略此字段"},"timestamp":{"type":"integer","description":"当前时间戳","format":"int64"},"status":{"type":"integer","description":"状态码； 200:成功；400:失败 ","format":"int32"},"data":{"type":"object","additionalProperties":{"type":"string","description":"返回数据"},"description":"返回数据"},"msg":{"type":"string","description":"返回提示信息"}}}}}}