{"swagger":"2.0","info":{"description":"直播平台接口文档","version":"1.0.0","title":"直播平台接口文档","termsOfService":"https://www.elelive.tv/"},"host":"camel-api-gateway05.svc.elelive.cn","basePath":"/live-platform","tags":[{"name":"APP配置","description":"App Controller"},{"name":"h265配置","description":"H 265 Controller"},{"name":"刷新配置相关","description":"Config Refresh Controller"},{"name":"区域偏好设置","description":"Region Preference Controller"},{"name":"区域线路比例设置","description":"Region Channel Ratio Controller"},{"name":"回调配置","description":"Callback Controller"},{"name":"用户SDK相关接口","description":"User Sdk Controller"},{"name":"用户偏好设置","description":"User Preference Controller"},{"name":"直播流相关接口","description":"Stream Controller"},{"name":"第三方回调接口","description":"Third Party Callback Controller"},{"name":"线路优先级","description":"Channel Priority Controller"},{"name":"质量设置","description":"Config Controller"},{"name":"质量设置（用户维度）","description":"User Config Controller"}],"paths":{"/app/add":{"post":{"tags":["APP配置"],"summary":"添加APP","operationId":"addAppUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"name","in":"query","description":"name","required":true,"type":"string"},{"name":"secretKey","in":"query","description":"secretKey","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/app/getById":{"get":{"tags":["APP配置"],"summary":"根据ID查询APP","operationId":"getByIdUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«App»","$ref":"#/definitions/结果响应«App»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/app/getByName":{"get":{"tags":["APP配置"],"summary":"根据name查询APP","operationId":"getByNameUsingGET","produces":["*/*"],"parameters":[{"name":"name","in":"query","description":"name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«App»","$ref":"#/definitions/结果响应«App»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/app/removeById":{"post":{"tags":["APP配置"],"summary":"根据ID删除APP","operationId":"removeByIdUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/app/removeByName":{"post":{"tags":["APP配置"],"summary":"根据名称删除APP","operationId":"removeByNameUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"name","in":"query","description":"name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/app/update":{"post":{"tags":["APP配置"],"summary":"修改APP名称和秘钥","operationId":"updateAppUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"integer","format":"int32"},{"name":"name","in":"query","description":"name","required":true,"type":"string"},{"name":"secretKey","in":"query","description":"secretKey","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/callback/del":{"post":{"tags":["回调配置"],"summary":"删除回调","operationId":"delCallbackUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"appId","in":"query","description":"appId","required":true,"type":"integer","format":"int32"},{"name":"type","in":"query","description":"type","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/callback/set":{"post":{"tags":["回调配置"],"summary":"设置回调","operationId":"setCallbackUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"appId","in":"query","description":"appId","required":true,"type":"integer","format":"int32"},{"name":"type","in":"query","description":"type","required":true,"type":"integer","format":"int32"},{"name":"url","in":"query","description":"url","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/channelPriority/del":{"post":{"tags":["线路优先级"],"summary":"删除线路优先级","operationId":"delChannelPriorityUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"channelType","in":"query","description":"channelType","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/channelPriority/set":{"post":{"tags":["线路优先级"],"summary":"设置线路优先级","operationId":"setChannelPriorityUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"channelType","in":"query","description":"channelType","required":true,"type":"integer","format":"int32"},{"name":"priority","in":"query","description":"priority","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/config/h265/update":{"post":{"tags":["h265配置"],"summary":"更新h265配置（全局）","operationId":"updateUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"appId","in":"query","description":"appId","required":true,"type":"integer","format":"int32"},{"name":"channelType","in":"query","description":"channelType","required":true,"type":"integer","format":"int32"},{"in":"body","name":"h265Config","description":"h265Config","required":true,"schema":{"originalRef":"H265ConfigDTO","$ref":"#/definitions/H265ConfigDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/config/h265/user/del":{"post":{"tags":["h265配置"],"summary":"删除用户h265配置","operationId":"delByUserUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"appId","in":"query","description":"appId","required":true,"type":"integer","format":"int32"},{"name":"userId","in":"query","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/config/h265/user/update":{"post":{"tags":["h265配置"],"summary":"更新h265配置（用户维度）","operationId":"updateByUserUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"appId","in":"query","description":"appId","required":true,"type":"integer","format":"int32"},{"name":"channelType","in":"query","description":"channelType","required":true,"type":"integer","format":"int32"},{"in":"body","name":"h265Config","description":"h265Config","required":true,"schema":{"originalRef":"H265ConfigDTO","$ref":"#/definitions/H265ConfigDTO"}},{"name":"userId","in":"query","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/config/quality/link/set":{"post":{"tags":["质量设置"],"summary":"连麦质量设置","operationId":"linkUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"appId","in":"query","description":"appId","required":true,"type":"integer","format":"int32"},{"name":"channelType","in":"query","description":"channelType","required":false,"type":"integer","format":"int32"},{"in":"body","name":"quality","description":"quality","required":true,"schema":{"originalRef":"VideoQualityDTO","$ref":"#/definitions/VideoQualityDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/config/quality/normal/set":{"post":{"tags":["质量设置"],"summary":"开播质量设置","operationId":"normalUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"appId","in":"query","description":"appId","required":true,"type":"integer","format":"int32"},{"name":"channelType","in":"query","description":"channelType","required":false,"type":"integer","format":"int32"},{"in":"body","name":"quality","description":"quality","required":true,"schema":{"originalRef":"VideoQualityDTO","$ref":"#/definitions/VideoQualityDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/config/quality/pk/set":{"post":{"tags":["质量设置"],"summary":"PK质量设置","operationId":"pkUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"appId","in":"query","description":"appId","required":true,"type":"integer","format":"int32"},{"name":"channelType","in":"query","description":"channelType","required":false,"type":"integer","format":"int32"},{"in":"body","name":"quality","description":"quality","required":true,"schema":{"originalRef":"VideoQualityDTO","$ref":"#/definitions/VideoQualityDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/config/user/quality/link/set":{"post":{"tags":["质量设置（用户维度）"],"summary":"连麦质量设置","operationId":"linkUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"appId","in":"query","description":"appId","required":true,"type":"integer","format":"int32"},{"name":"channelType","in":"query","description":"channelType","required":false,"type":"integer","format":"int32"},{"in":"body","name":"quality","description":"quality","required":true,"schema":{"originalRef":"VideoQualityDTO","$ref":"#/definitions/VideoQualityDTO"}},{"name":"userId","in":"query","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/config/user/quality/normal/set":{"post":{"tags":["质量设置（用户维度）"],"summary":"开播质量设置","operationId":"normalUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"appId","in":"query","description":"appId","required":true,"type":"integer","format":"int32"},{"name":"channelType","in":"query","description":"channelType","required":false,"type":"integer","format":"int32"},{"in":"body","name":"quality","description":"quality","required":true,"schema":{"originalRef":"VideoQualityDTO","$ref":"#/definitions/VideoQualityDTO"}},{"name":"userId","in":"query","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/config/user/quality/pk/set":{"post":{"tags":["质量设置（用户维度）"],"summary":"PK质量设置","operationId":"pkUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"appId","in":"query","description":"appId","required":true,"type":"integer","format":"int32"},{"name":"channelType","in":"query","description":"channelType","required":false,"type":"integer","format":"int32"},{"in":"body","name":"quality","description":"quality","required":true,"schema":{"originalRef":"VideoQualityDTO","$ref":"#/definitions/VideoQualityDTO"}},{"name":"userId","in":"query","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/config_refresh/list_config":{"get":{"tags":["刷新配置相关"],"summary":"查询配置","operationId":"listConfigUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/config_refresh/refresh":{"post":{"tags":["刷新配置相关"],"summary":"刷新配置","operationId":"refreshUsingPOST","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/regionChannelRatio/del":{"post":{"tags":["区域线路比例设置"],"summary":"删除区域线路比例","operationId":"delUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"appId","in":"query","description":"appId","required":true,"type":"integer","format":"int32"},{"name":"region","in":"query","description":"region","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/regionChannelRatio/set":{"post":{"tags":["区域线路比例设置"],"summary":"设置区域线路比例","operationId":"setUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"appId","in":"query","description":"appId","required":true,"type":"integer","format":"int32"},{"in":"body","name":"channelRatio","description":"channelRatio","required":true,"schema":{"type":"object","additionalProperties":{"type":"integer","format":"int32"}}},{"name":"region","in":"query","description":"region","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/regionPreference/del":{"post":{"tags":["区域偏好设置"],"summary":"删除区域偏好线路","operationId":"delUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"appId","in":"query","description":"appId","required":true,"type":"integer","format":"int32"},{"name":"region","in":"query","description":"region","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/regionPreference/set":{"post":{"tags":["区域偏好设置"],"summary":"设置区域偏好线路","operationId":"setUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"appId","in":"query","description":"appId","required":true,"type":"integer","format":"int32"},{"name":"channelType","in":"query","description":"channelType","required":true,"type":"integer","format":"int32"},{"name":"region","in":"query","description":"region","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/stream/broken":{"get":{"tags":["直播流相关接口"],"summary":"断流","operationId":"brokenStreamUsingGET","produces":["*/*"],"parameters":[{"name":"channelType","in":"query","description":"channelType","required":true,"type":"integer","format":"int32"},{"name":"streamId","in":"query","description":"streamId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/stream/channel/choose":{"get":{"tags":["直播流相关接口"],"summary":"选择线路","operationId":"chooseChannelUsingGET","produces":["*/*"],"parameters":[{"name":"appId","in":"query","description":"appId","required":true,"type":"integer","format":"int32"},{"name":"region","in":"header","description":"region","required":false,"type":"string"},{"name":"supportedChannelTypes","in":"query","description":"supportedChannelTypes","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"userId","in":"query","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«Map«string,object»»","$ref":"#/definitions/结果响应«Map«string,object»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/stream/client/mix":{"post":{"tags":["直播流相关接口"],"summary":"客户端混流","operationId":"mixUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"channelType","in":"query","description":"channelType","required":false,"type":"integer","format":"int32"},{"name":"region","in":"header","description":"region","required":false,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"originalRef":"MixStreamRequest","$ref":"#/definitions/MixStreamRequest"}},{"name":"supportedChannelTypes","in":"query","description":"supportedChannelTypes","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«List«StreamDTO»»","$ref":"#/definitions/结果响应«List«StreamDTO»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/stream/forbid":{"get":{"tags":["直播流相关接口"],"summary":"禁流","operationId":"forbidStreamUsingGET","produces":["*/*"],"parameters":[{"name":"channelType","in":"query","description":"channelType","required":true,"type":"integer","format":"int32"},{"name":"streamId","in":"query","description":"streamId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/stream/generate":{"post":{"tags":["直播流相关接口"],"summary":"生成流地址(不存储)","operationId":"generateStreamUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"channelType","in":"query","description":"channelType","required":false,"type":"integer","format":"int32"},{"in":"body","name":"definition","description":"definition","required":true,"schema":{"originalRef":"StreamDefinition","$ref":"#/definitions/StreamDefinition"}},{"name":"region","in":"header","description":"region","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«StreamDTO»","$ref":"#/definitions/结果响应«StreamDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/stream/local/isAlive":{"get":{"tags":["直播流相关接口"],"summary":"查询本地维护的流状态","operationId":"isStreamAliveUsingGET","produces":["*/*"],"parameters":[{"name":"channelType","in":"query","description":"channelType","required":true,"type":"integer","format":"int32"},{"name":"streamId","in":"query","description":"streamId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/stream/makeUpForBrokenCallback":{"post":{"tags":["直播流相关接口"],"summary":"补偿断流回调","operationId":"makeUpForBrokenCallbackUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"channelType","in":"query","description":"channelType","required":true,"type":"integer","format":"int32"},{"name":"streamId","in":"query","description":"streamId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/stream/pullStreamThenPush":{"post":{"tags":["直播流相关接口"],"summary":"拉流转推","operationId":"pullStreamThenPushUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"originalRef":"PullStreamThenPushReq","$ref":"#/definitions/PullStreamThenPushReq"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«PullStreamThenPushResp»","$ref":"#/definitions/结果响应«PullStreamThenPushResp»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/stream/record":{"get":{"tags":["直播流相关接口"],"summary":"录制(返回录制任务ID)","operationId":"startRecordUsingGET","produces":["*/*"],"parameters":[{"name":"channelType","in":"query","description":"channelType","required":true,"type":"integer","format":"int32"},{"name":"streamId","in":"query","description":"streamId","required":true,"type":"string"},{"name":"templateId","in":"query","description":"templateId","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«string»","$ref":"#/definitions/结果响应«string»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/stream/refresh":{"post":{"tags":["直播流相关接口"],"summary":"刷新流","operationId":"refreshStreamUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"channelType","in":"query","description":"channelType","required":false,"type":"integer","format":"int32"},{"in":"body","name":"definition","description":"definition","required":true,"schema":{"originalRef":"StreamDefinition","$ref":"#/definitions/StreamDefinition"}},{"name":"region","in":"header","description":"region","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«StreamDTO»","$ref":"#/definitions/结果响应«StreamDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/stream/remote/isAlive":{"get":{"tags":["直播流相关接口"],"summary":"调用第三方接口查询流状态","operationId":"isStreamAliveByRemoteUsingGET","produces":["*/*"],"parameters":[{"name":"channelType","in":"query","description":"channelType","required":true,"type":"integer","format":"int32"},{"name":"streamId","in":"query","description":"streamId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/stream/resume":{"get":{"tags":["直播流相关接口"],"summary":"恢复流","operationId":"resumeStreamUsingGET","produces":["*/*"],"parameters":[{"name":"channelType","in":"query","description":"channelType","required":true,"type":"integer","format":"int32"},{"name":"streamId","in":"query","description":"streamId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/stream/stopPullStreamThenPush":{"post":{"tags":["直播流相关接口"],"summary":"停止拉流转推","operationId":"stopPullStreamThenPushUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"region","in":"query","description":"region","required":true,"type":"string"},{"name":"taskId","in":"query","description":"taskId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/thirdPartyCallback/tencent/streamEvent":{"post":{"tags":["第三方回调接口"],"summary":"腾讯云回调接口","operationId":"tencentCallbackUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"obj","description":"obj","required":true,"schema":{"originalRef":"ObjectNode","$ref":"#/definitions/ObjectNode"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/thirdPartyCallback/ws/screenshot":{"post":{"tags":["第三方回调接口"],"summary":"网宿截图回调接口","operationId":"wsScreenshotCallbackUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"message_type","in":"query","description":"message_type","required":true,"type":"string"},{"in":"body","name":"str","description":"str","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/thirdPartyCallback/zego/streamEvent":{"post":{"tags":["第三方回调接口"],"summary":"即构回调接口","operationId":"zegoCallbackUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"obj","description":"obj","required":true,"schema":{"originalRef":"ObjectNode","$ref":"#/definitions/ObjectNode"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/thirdPartyCallback/zenlayer/streamEvent":{"get":{"tags":["第三方回调接口"],"summary":"zenlayer推流/断流回调","operationId":"zenlayerCallbackUsingGET","produces":["*/*"],"parameters":[{"name":"action","in":"query","required":false,"type":"string"},{"name":"app","in":"query","required":false,"type":"string"},{"name":"domain","in":"query","required":false,"type":"string"},{"name":"ip","in":"query","required":false,"type":"string"},{"name":"streamId","in":"query","required":false,"type":"string"},{"name":"streamname","in":"query","required":false,"type":"string"},{"name":"time","in":"query","required":false,"type":"integer","format":"int64"},{"name":"usrargs","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/userPreference/del":{"post":{"tags":["用户偏好设置"],"summary":"删除用户偏好线路","operationId":"delUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"appId","in":"query","description":"appId","required":true,"type":"integer","format":"int32"},{"name":"userId","in":"query","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/userPreference/set":{"post":{"tags":["用户偏好设置"],"summary":"设置用户偏好线路","operationId":"setUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"appId","in":"query","description":"appId","required":true,"type":"integer","format":"int32"},{"name":"channelType","in":"query","description":"channelType","required":true,"type":"integer","format":"int32"},{"name":"userId","in":"query","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/user_sdk/get_config":{"get":{"tags":["用户SDK相关接口"],"summary":"获取指定用户的SDK配置","operationId":"sdkConfigUsingGET","produces":["*/*"],"parameters":[{"name":"appId","in":"query","description":"appId","required":true,"type":"integer","format":"int32"},{"name":"region","in":"header","description":"region","required":false,"type":"string"},{"name":"supportedChannelTypes","in":"query","description":"supportedChannelTypes","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"userId","in":"query","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«Map«string,object»»","$ref":"#/definitions/结果响应«Map«string,object»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}}},"definitions":{"App":{"type":"object","properties":{"createTime":{"type":"string","format":"date-time"},"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"secretKey":{"type":"string"}},"title":"App"},"H265ConfigDTO":{"type":"object","properties":{"enabled":{"type":"boolean"},"h264Template":{"type":"string"}},"title":"H265ConfigDTO"},"MixStreamRequest":{"type":"object","properties":{"appId":{"type":"integer","format":"int32","description":"应用ID"},"streams":{"type":"array","description":"多个流","items":{"originalRef":"StreamBase","$ref":"#/definitions/StreamBase"}}},"title":"MixStreamRequest"},"ObjectNode":{"type":"object","title":"ObjectNode"},"PullStreamThenPushReq":{"type":"object","properties":{"callbackUrl":{"type":"string"},"endTime":{"type":"integer","format":"int64"},"region":{"type":"string"},"sourceType":{"type":"string","enum":["PullLivePushLive","PullVodPushLive","PullPicPushLive"]},"sourceUrl":{"type":"string"},"specifyTaskId":{"type":"string"},"startTime":{"type":"integer","format":"int64"},"streamId":{"type":"string"},"vodLoopTimes":{"type":"integer","format":"int32"}},"title":"PullStreamThenPushReq"},"PullStreamThenPushResp":{"type":"object","properties":{"flvPullUrl":{"type":"string"},"m3u8PullUrl":{"type":"string"},"taskId":{"type":"string"}},"title":"PullStreamThenPushResp"},"StreamBase":{"type":"object","properties":{"expires":{"type":"integer","format":"int32","description":"过期时间(单位：秒)，选填"},"extraParam":{"type":"object","description":"扩展参数，会拼在StreamUrl的参数上","additionalProperties":{"type":"string"}},"extraString":{"type":"string","description":"扩展字符串，会拼在StreamId上"},"userId":{"type":"string","description":"用户ID"}},"title":"StreamBase"},"StreamDTO":{"type":"object","properties":{"appId":{"type":"integer","format":"int32","description":"appId"},"channelType":{"type":"integer","format":"int32","description":"第三方渠道类型：0 腾讯RTMP，1 即构RTMP，2 即构RTC"},"expires":{"type":"integer","format":"int64","description":"流的有效期"},"extraString":{"type":"string","description":"扩展字符串,和传入时相同"},"flvPullUrl":{"type":"string","description":"flv拉流地址"},"hlsPullUrl":{"type":"string","description":"hls拉流地址"},"pullUrl":{"type":"string","description":"当前协议支持的最低延时的拉流地址，可能为rtmp、rtmp_acc、webrtc、私有rtc，不能为空"},"pushUrl":{"type":"string","description":"当前协议支持的最低延时的推流地址，可能为rtmp、webrtc、私有rtc，不能为空"},"refreshed":{"type":"boolean","description":"地址是否已刷新，默认true表示刷新了新的地址，若为false则代表返回的是之前使用的旧地址"},"rtmpPullUrl":{"type":"string","description":"rtmp拉流地址"},"rtmpPushUrl":{"type":"string","description":"rtmp推流地址，已弃用，使用pushUrl代替"},"srtUrl":{"type":"string","description":"srt推流地址，仅腾讯有"},"streamId":{"type":"string","description":"流ID"},"streamParam":{"type":"string","description":"流参数"},"userId":{"type":"string","description":"用户ID"}},"title":"StreamDTO"},"StreamDefinition":{"type":"object","properties":{"appId":{"type":"integer","format":"int32","description":"应用ID"},"expires":{"type":"integer","format":"int32","description":"过期时间(单位：秒)，选填"},"extraParam":{"type":"object","description":"扩展参数，会拼在StreamUrl的参数上","additionalProperties":{"type":"string"}},"extraString":{"type":"string","description":"扩展字符串，会拼在StreamId上"},"userId":{"type":"string","description":"用户ID"}},"title":"StreamDefinition"},"VideoQualityDTO":{"type":"object","properties":{"fps":{"type":"integer","format":"int32","description":"帧率，只能设置为15~60之间的整数"},"gop":{"type":"integer","format":"int32","description":"关键帧间隔（单位：秒）"},"maxVideoBitrate":{"type":"integer","format":"int32","description":"最大码率"},"minVideoBitrate":{"type":"integer","format":"int32","description":"最小码率"},"quality":{"type":"string","description":"视频质量档位","enum":["STANDARD","HIGHT","SUPER","ULTRA","LinkMicSubPublisher"]}},"title":"VideoQualityDTO"},"结果响应«App»":{"type":"object","properties":{"data":{"description":"返回数据","originalRef":"App","$ref":"#/definitions/App"},"msg":{"type":"string","description":"返回提示信息"},"status":{"type":"integer","format":"int32","description":"状态码； 200:成功；400:失败 "},"timestamp":{"type":"integer","format":"int64","description":"当前时间戳"},"traceId":{"type":"string","description":"traceId,用于日志跟踪。前端对接忽略此字段"}},"title":"结果响应«App»"},"结果响应«List«StreamDTO»»":{"type":"object","properties":{"data":{"type":"array","description":"返回数据","items":{"originalRef":"StreamDTO","$ref":"#/definitions/StreamDTO"}},"msg":{"type":"string","description":"返回提示信息"},"status":{"type":"integer","format":"int32","description":"状态码； 200:成功；400:失败 "},"timestamp":{"type":"integer","format":"int64","description":"当前时间戳"},"traceId":{"type":"string","description":"traceId,用于日志跟踪。前端对接忽略此字段"}},"title":"结果响应«List«StreamDTO»»"},"结果响应«Map«string,object»»":{"type":"object","properties":{"data":{"type":"object","description":"返回数据"},"msg":{"type":"string","description":"返回提示信息"},"status":{"type":"integer","format":"int32","description":"状态码； 200:成功；400:失败 "},"timestamp":{"type":"integer","format":"int64","description":"当前时间戳"},"traceId":{"type":"string","description":"traceId,用于日志跟踪。前端对接忽略此字段"}},"title":"结果响应«Map«string,object»»"},"结果响应«PullStreamThenPushResp»":{"type":"object","properties":{"data":{"description":"返回数据","originalRef":"PullStreamThenPushResp","$ref":"#/definitions/PullStreamThenPushResp"},"msg":{"type":"string","description":"返回提示信息"},"status":{"type":"integer","format":"int32","description":"状态码； 200:成功；400:失败 "},"timestamp":{"type":"integer","format":"int64","description":"当前时间戳"},"traceId":{"type":"string","description":"traceId,用于日志跟踪。前端对接忽略此字段"}},"title":"结果响应«PullStreamThenPushResp»"},"结果响应«StreamDTO»":{"type":"object","properties":{"data":{"description":"返回数据","originalRef":"StreamDTO","$ref":"#/definitions/StreamDTO"},"msg":{"type":"string","description":"返回提示信息"},"status":{"type":"integer","format":"int32","description":"状态码； 200:成功；400:失败 "},"timestamp":{"type":"integer","format":"int64","description":"当前时间戳"},"traceId":{"type":"string","description":"traceId,用于日志跟踪。前端对接忽略此字段"}},"title":"结果响应«StreamDTO»"},"结果响应«boolean»":{"type":"object","properties":{"data":{"type":"boolean","description":"返回数据"},"msg":{"type":"string","description":"返回提示信息"},"status":{"type":"integer","format":"int32","description":"状态码； 200:成功；400:失败 "},"timestamp":{"type":"integer","format":"int64","description":"当前时间戳"},"traceId":{"type":"string","description":"traceId,用于日志跟踪。前端对接忽略此字段"}},"title":"结果响应«boolean»"},"结果响应«string»":{"type":"object","properties":{"data":{"type":"string","description":"返回数据"},"msg":{"type":"string","description":"返回提示信息"},"status":{"type":"integer","format":"int32","description":"状态码； 200:成功；400:失败 "},"timestamp":{"type":"integer","format":"int64","description":"当前时间戳"},"traceId":{"type":"string","description":"traceId,用于日志跟踪。前端对接忽略此字段"}},"title":"结果响应«string»"}}}