{"swagger":"2.0","info":{"description":"# 小象直播API文档","version":"1.0","termsOfService":"http://www.elelive.tv/"},"host":"camel-api-gateway05.svc.elelive.cn","basePath":"/payment-service","tags":[{"name":"admin-payment-controller","description":"Admin Payment Controller"},{"name":"dire-pay-controller","description":"Dire Pay Controller"},{"name":"jdpay-controller","description":"Jdpay Controller"},{"name":"pay-controller","description":"Pay Controller"},{"name":"super-pay-controller","description":"Super Pay Controller"},{"name":"utp-controller","description":"Utp Controller"},{"name":"web-controller","description":"Web Controller"},{"name":"版本信息","description":"Ee Version Controller"}],"paths":{"/admin/channel/update":{"post":{"tags":["admin-payment-controller"],"summary":"updateChannel","operationId":"updateChannelUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"originalRef":"SaveTopupChannelDTO","$ref":"#/definitions/SaveTopupChannelDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/item/add":{"post":{"tags":["admin-payment-controller"],"summary":"addItem","operationId":"addItemUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"originalRef":"AddTopupItemDTO","$ref":"#/definitions/AddTopupItemDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/item/update":{"post":{"tags":["admin-payment-controller"],"summary":"编辑充值产品","operationId":"updateItemUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"originalRef":"AddTopupItemDTO","$ref":"#/definitions/AddTopupItemDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/reTransaction":{"post":{"tags":["admin-payment-controller"],"summary":"reTransaction","operationId":"reTransactionUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"paymentId","in":"query","description":"paymentId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/recharge/activity/delete":{"post":{"tags":["admin-payment-controller"],"summary":"删除充值活动","operationId":"deleteRechargeActivityUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"activityId","in":"query","description":"activityId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/recharge/activity/save":{"post":{"tags":["admin-payment-controller"],"summary":"新增/编辑充值活动","operationId":"saveRechargeActivityUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"originalRef":"SaveRechargeActivityDTO","$ref":"#/definitions/SaveRechargeActivityDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«long»","$ref":"#/definitions/结果响应«long»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/recharge/crypto-rule/add":{"post":{"tags":["admin-payment-controller"],"summary":"新增加密奖励规则","operationId":"addRechargeCryptoRuleUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"originalRef":"AddRechargeCryptoRuleDTO","$ref":"#/definitions/AddRechargeCryptoRuleDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«long»","$ref":"#/definitions/结果响应«long»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/recharge/crypto-rule/delete":{"post":{"tags":["admin-payment-controller"],"summary":"删除加密奖励规则","operationId":"deleteRechargeCryptoRuleUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ruleId","in":"query","description":"ruleId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/recharge/fiat-rule/add":{"post":{"tags":["admin-payment-controller"],"summary":"新增法币奖励规则","operationId":"addRechargeFiatRuleUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"originalRef":"AddRechargeFiatRuleDTO","$ref":"#/definitions/AddRechargeFiatRuleDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«long»","$ref":"#/definitions/结果响应«long»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/recharge/fiat-rule/delete":{"post":{"tags":["admin-payment-controller"],"summary":"删除法币奖励规则","operationId":"deleteRechargeFiatRuleUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ruleId","in":"query","description":"ruleId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«boolean»","$ref":"#/definitions/结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/direPay/callback/payin":{"post":{"tags":["dire-pay-controller"],"summary":"handlePayinCallback","operationId":"handlePayinCallbackUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"data","description":"data","required":true,"schema":{"type":"object"}},{"name":"Signature","in":"header","description":"Signature","required":false,"type":"string"},{"name":"X-Real-IP","in":"header","description":"X-Real-IP","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/jdpay/callback/payin":{"post":{"tags":["jdpay-controller"],"summary":"handlePayinCallback","operationId":"handlePayinCallbackUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"data","description":"data","required":true,"schema":{"type":"object"}},{"name":"X-Real-IP","in":"header","description":"X-Real-IP","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/pay/submit":{"post":{"tags":["pay-controller"],"summary":"提交订单","operationId":"submitUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Device","in":"header","description":"Device","required":false,"type":"string"},{"name":"Node","in":"header","description":"Node","required":false,"type":"string"},{"in":"body","name":"req","description":"req","required":true,"schema":{"originalRef":"PlaceOrderReq","$ref":"#/definitions/PlaceOrderReq"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«PlaceOrderResultDTO»","$ref":"#/definitions/结果响应«PlaceOrderResultDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/pay/submit-crypto":{"post":{"tags":["pay-controller"],"summary":"提交加密货币订单","operationId":"submitCryptoUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Device","in":"header","description":"Device","required":false,"type":"string"},{"name":"Node","in":"header","description":"Node","required":false,"type":"string"},{"in":"body","name":"req","description":"req","required":true,"schema":{"originalRef":"PlaceCryptoOrderReq","$ref":"#/definitions/PlaceCryptoOrderReq"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«PlaceOrderResultDTO»","$ref":"#/definitions/结果响应«PlaceOrderResultDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/superPay/callback/payin":{"post":{"tags":["super-pay-controller"],"summary":"handlePayinCallback","operationId":"handlePayinCallbackUsingPOST_2","consumes":["application/x-www-form-urlencoded"],"produces":["*/*"],"parameters":[{"name":"mchOrderNo","in":"formData","required":false,"type":"string"},{"name":"X-Real-IP","in":"header","description":"X-Real-IP","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/utp/callback/payin":{"post":{"tags":["utp-controller"],"summary":"handlePayinCallback","operationId":"handlePayinCallbackUsingPOST_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"data","description":"data","required":true,"schema":{"type":"object"}},{"name":"X-Real-IP","in":"header","description":"X-Real-IP","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/utp/callback/payout":{"post":{"tags":["utp-controller"],"summary":"handlePayoutCallback","operationId":"handlePayoutCallbackUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"data","description":"data","required":true,"schema":{"type":"object"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/web/crypto/currency":{"get":{"tags":["web-controller"],"summary":"获取加密货币币种","operationId":"cryptoCurrencyUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«List«string»»","$ref":"#/definitions/结果响应«List«string»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/web/crypto/query":{"get":{"tags":["web-controller"],"summary":"获取加密货币充值产品. 限制IP每秒60次","operationId":"listCryptoForWebSiteUsingGET","produces":["*/*"],"parameters":[{"name":"currency","in":"query","description":"currency","required":true,"type":"string"},{"name":"X-Real-IP","in":"header","description":"X-Real-IP","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«List«WebTopUpChannelDTO»»","$ref":"#/definitions/结果响应«List«WebTopUpChannelDTO»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/web/currency":{"get":{"tags":["web-controller"],"summary":"获取币种","operationId":"currencyUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«List«string»»","$ref":"#/definitions/结果响应«List«string»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/web/payReturn":{"get":{"tags":["web-controller"],"summary":"payReturn","operationId":"payReturnUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"string"},{"name":"node","in":"query","description":"node","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"ModelAndView","$ref":"#/definitions/ModelAndView"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/web/query":{"get":{"tags":["web-controller"],"summary":"获取充值产品. 限制IP每秒60次","operationId":"listForWebSiteUsingGET","produces":["*/*"],"parameters":[{"name":"currency","in":"query","description":"currency","required":true,"type":"string"},{"name":"X-Real-IP","in":"header","description":"X-Real-IP","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«List«WebTopUpChannelDTO»»","$ref":"#/definitions/结果响应«List«WebTopUpChannelDTO»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/web/queryOrder":{"get":{"tags":["web-controller"],"summary":"queryOrder","operationId":"queryOrderUsingGET","produces":["*/*"],"parameters":[{"name":"orderSn","in":"query","description":"orderSn","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«PaymentInfoDTO»","$ref":"#/definitions/结果响应«PaymentInfoDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/client/web/queryStatus":{"get":{"tags":["web-controller"],"summary":"queryStatus","operationId":"queryStatusUsingGET","produces":["*/*"],"parameters":[{"name":"orderSn","in":"query","description":"orderSn","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«int»","$ref":"#/definitions/结果响应«int»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/version/push":{"get":{"tags":["版本信息"],"summary":"push","operationId":"pushUsingGET","produces":["*/*"],"parameters":[{"name":"orderIds","in":"query","description":"orderIds","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«string»","$ref":"#/definitions/结果响应«string»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/version/version":{"get":{"tags":["版本信息"],"summary":"version","operationId":"versionUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"originalRef":"结果响应«string»","$ref":"#/definitions/结果响应«string»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}}},"definitions":{"AddRechargeCryptoRuleDTO":{"type":"object","properties":{"activityId":{"type":"integer","format":"int64"},"bonusCoinPreUnit":{"type":"number"},"currency":{"type":"string"},"maxAmount":{"type":"number"},"minAmount":{"type":"number"}},"title":"AddRechargeCryptoRuleDTO"},"AddRechargeFiatRuleDTO":{"type":"object","properties":{"activityId":{"type":"integer","format":"int64"},"bonusCoin":{"type":"number"},"productId":{"type":"string"}},"title":"AddRechargeFiatRuleDTO"},"AddTopupItemDTO":{"type":"object","properties":{"basicCoin":{"type":"number"},"cap":{"type":"integer","format":"int32"},"channelId":{"type":"integer","format":"int64"},"hidden":{"type":"integer","format":"int32"},"isEnable":{"type":"integer","format":"int32"},"productId":{"type":"string"},"salePrice":{"type":"number"},"weight":{"type":"integer","format":"int32"}},"title":"AddTopupItemDTO"},"CryptoBonusRuleDTO":{"type":"object","properties":{"bonusCoinPreUnit":{"type":"number","description":"单个数字货币赠送骆驼币"},"bonusRuleId":{"type":"integer","format":"int64","description":"奖励规则ID"},"currency":{"type":"string","description":"货币类型，如 USDT"},"maxAmount":{"type":"number","description":"奖励区间上限（含），null 表示无上限"},"minAmount":{"type":"number","description":"奖励区间下限（含）"}},"title":"CryptoBonusRuleDTO"},"CryptoPayInfoDTO":{"type":"object","properties":{"address":{"type":"string","description":"收款地址"},"amount":{"type":"string","description":"应付加密货币金额"},"cryptoCurrency":{"type":"string","description":"加密货币例如 USDT、BTC、ETH"},"expireTime":{"type":"integer","format":"int64","description":"付款过期时间戳, 毫秒。前端用于倒计时；null 表示无过期"},"rate":{"type":"string","description":"汇率 (法币 -> 加密货币)"},"token":{"type":"string","description":"加密货币代币/链, 例如 TRC20-USDT、ERC20-USDT、BTC、ETH"}},"title":"CryptoPayInfoDTO"},"ModelAndView":{"type":"object","properties":{"empty":{"type":"boolean"},"model":{"type":"object"},"modelMap":{"type":"object","additionalProperties":{"type":"object"}},"reference":{"type":"boolean"},"status":{"type":"string","enum":["ACCEPTED","ALREADY_REPORTED","BAD_GATEWAY","BAD_REQUEST","BANDWIDTH_LIMIT_EXCEEDED","CHECKPOINT","CONFLICT","CONTINUE","CREATED","DESTINATION_LOCKED","EXPECTATION_FAILED","FAILED_DEPENDENCY","FORBIDDEN","FOUND","GATEWAY_TIMEOUT","GONE","HTTP_VERSION_NOT_SUPPORTED","IM_USED","INSUFFICIENT_SPACE_ON_RESOURCE","INSUFFICIENT_STORAGE","INTERNAL_SERVER_ERROR","I_AM_A_TEAPOT","LENGTH_REQUIRED","LOCKED","LOOP_DETECTED","METHOD_FAILURE","METHOD_NOT_ALLOWED","MOVED_PERMANENTLY","MOVED_TEMPORARILY","MULTIPLE_CHOICES","MULTI_STATUS","NETWORK_AUTHENTICATION_REQUIRED","NON_AUTHORITATIVE_INFORMATION","NOT_ACCEPTABLE","NOT_EXTENDED","NOT_FOUND","NOT_IMPLEMENTED","NOT_MODIFIED","NO_CONTENT","OK","PARTIAL_CONTENT","PAYLOAD_TOO_LARGE","PAYMENT_REQUIRED","PERMANENT_REDIRECT","PRECONDITION_FAILED","PRECONDITION_REQUIRED","PROCESSING","PROXY_AUTHENTICATION_REQUIRED","REQUESTED_RANGE_NOT_SATISFIABLE","REQUEST_ENTITY_TOO_LARGE","REQUEST_HEADER_FIELDS_TOO_LARGE","REQUEST_TIMEOUT","REQUEST_URI_TOO_LONG","RESET_CONTENT","SEE_OTHER","SERVICE_UNAVAILABLE","SWITCHING_PROTOCOLS","TEMPORARY_REDIRECT","TOO_EARLY","TOO_MANY_REQUESTS","UNAUTHORIZED","UNAVAILABLE_FOR_LEGAL_REASONS","UNPROCESSABLE_ENTITY","UNSUPPORTED_MEDIA_TYPE","UPGRADE_REQUIRED","URI_TOO_LONG","USE_PROXY","VARIANT_ALSO_NEGOTIATES"]},"view":{"originalRef":"View","$ref":"#/definitions/View"},"viewName":{"type":"string"}},"title":"ModelAndView"},"PaymentInfoDTO":{"type":"object","properties":{"amount":{"type":"number"},"coin":{"type":"number"},"currency":{"type":"string"},"orderSn":{"type":"string"},"payStatus":{"type":"integer","format":"int32","description":"100 已支付, 其他:支付中"},"payTime":{"type":"integer","format":"int64"}},"title":"PaymentInfoDTO"},"PlaceCryptoOrderReq":{"type":"object","properties":{"activityBonusCoin":{"type":"number","description":"奖励金币"},"activityId":{"type":"integer","format":"int64","description":"活动ID"},"activityRuleId":{"type":"integer","format":"int64","description":"奖励规则ID"},"amount":{"type":"number","description":"充值金额, 与套餐id二选一必填"},"channelId":{"type":"integer","format":"int64","description":"充值渠道id，必填"},"productId":{"type":"string"},"userId":{"type":"string"}},"title":"PlaceCryptoOrderReq"},"PlaceOrderReq":{"type":"object","properties":{"activityBonusCoin":{"type":"number","description":"奖励金币"},"activityId":{"type":"integer","format":"int64","description":"活动ID"},"activityRuleId":{"type":"integer","format":"int64","description":"奖励规则ID"},"productId":{"type":"string"},"userId":{"type":"string"}},"title":"PlaceOrderReq"},"PlaceOrderResultDTO":{"type":"object","properties":{"cryptoPayInfo":{"description":"加密货币代收返回信息 (dire 等加密货币渠道使用)","originalRef":"CryptoPayInfoDTO","$ref":"#/definitions/CryptoPayInfoDTO"},"payUrl":{"type":"string","description":"支付跳转地址 (传统第三方渠道使用)"},"paymentId":{"type":"string","description":"订单号"}},"title":"PlaceOrderResultDTO"},"SaveRechargeActivityDTO":{"type":"object","properties":{"activityName":{"type":"string"},"channelType":{"type":"integer","format":"int32"},"endTime":{"type":"string","format":"date-time"},"id":{"type":"integer","format":"int64"},"maxBonusCoin":{"type":"number"},"remark":{"type":"string"},"startTime":{"type":"string","format":"date-time"}},"title":"SaveRechargeActivityDTO"},"SaveTopupChannelDTO":{"type":"object","properties":{"channelType":{"type":"integer","format":"int32"},"cryptoCoinRate":{"type":"number"},"cryptoNetwork":{"type":"string"},"hidden":{"type":"integer","format":"int32"},"iconUrl":{"type":"string"},"id":{"type":"integer","format":"int64"},"innerName":{"type":"string"},"minAmount":{"type":"number"},"showName":{"type":"string"},"weight":{"type":"integer","format":"int32"}},"title":"SaveTopupChannelDTO"},"View":{"type":"object","properties":{"contentType":{"type":"string"}},"title":"View"},"WebTopUpChannelDTO":{"type":"object","properties":{"activityCryptoBonusRules":{"type":"array","description":"活动加密货币奖励区间配置","items":{"originalRef":"CryptoBonusRuleDTO","$ref":"#/definitions/CryptoBonusRuleDTO"}},"bonusActivityId":{"type":"integer","format":"int64","description":"奖励活动ID"},"cryptoCoinRate":{"type":"number","description":"加密货币与 coin 的换算比例，仅加密货币渠道使用"},"currency":{"type":"string"},"iconUrl":{"type":"string","description":"图标"},"id":{"type":"string"},"maxBonusCoin":{"type":"number","description":"奖励封顶金币"},"minAmount":{"type":"number","description":"渠道最小充值加密货币数额"},"name":{"type":"string","description":"名称"},"payMode":{"type":"string","description":"渠道方式"},"products":{"type":"array","description":"渠道下的充值套餐","items":{"originalRef":"WebTopUpItemDTO","$ref":"#/definitions/WebTopUpItemDTO"}}},"title":"WebTopUpChannelDTO"},"WebTopUpItemDTO":{"type":"object","required":["baseCoin","cap","currency","enable","salePrice","weight"],"properties":{"baseCoin":{"type":"number","description":"基础币"},"bonusActivityId":{"type":"integer","format":"int64","description":"奖励活动ID"},"bonusCoin":{"type":"number","description":"奖励金币"},"bonusRuleId":{"type":"integer","format":"int64","description":"奖励规则ID"},"cap":{"type":"integer","format":"int32","description":"对于每个人单次支付的次数上限"},"currency":{"type":"string","description":"货币类型"},"enable":{"type":"boolean","description":"是否启用"},"payMode":{"type":"string"},"productId":{"type":"string","description":"产品编号"},"salePrice":{"type":"number","description":"售价"},"weight":{"type":"integer","format":"int32","description":"显示顺序"}},"title":"WebTopUpItemDTO"},"结果响应«List«WebTopUpChannelDTO»»":{"type":"object","properties":{"data":{"type":"array","description":"返回数据","items":{"originalRef":"WebTopUpChannelDTO","$ref":"#/definitions/WebTopUpChannelDTO"}},"msg":{"type":"string","description":"返回提示信息"},"status":{"type":"integer","format":"int32","description":"状态码； 200:成功；400:失败 "},"timestamp":{"type":"integer","format":"int64","description":"当前时间戳"},"traceId":{"type":"string","description":"traceId,用于日志跟踪。前端对接忽略此字段"}},"title":"结果响应«List«WebTopUpChannelDTO»»"},"结果响应«List«string»»":{"type":"object","properties":{"data":{"type":"array","description":"返回数据","items":{"type":"string"}},"msg":{"type":"string","description":"返回提示信息"},"status":{"type":"integer","format":"int32","description":"状态码； 200:成功；400:失败 "},"timestamp":{"type":"integer","format":"int64","description":"当前时间戳"},"traceId":{"type":"string","description":"traceId,用于日志跟踪。前端对接忽略此字段"}},"title":"结果响应«List«string»»"},"结果响应«PaymentInfoDTO»":{"type":"object","properties":{"data":{"description":"返回数据","originalRef":"PaymentInfoDTO","$ref":"#/definitions/PaymentInfoDTO"},"msg":{"type":"string","description":"返回提示信息"},"status":{"type":"integer","format":"int32","description":"状态码； 200:成功；400:失败 "},"timestamp":{"type":"integer","format":"int64","description":"当前时间戳"},"traceId":{"type":"string","description":"traceId,用于日志跟踪。前端对接忽略此字段"}},"title":"结果响应«PaymentInfoDTO»"},"结果响应«PlaceOrderResultDTO»":{"type":"object","properties":{"data":{"description":"返回数据","originalRef":"PlaceOrderResultDTO","$ref":"#/definitions/PlaceOrderResultDTO"},"msg":{"type":"string","description":"返回提示信息"},"status":{"type":"integer","format":"int32","description":"状态码； 200:成功；400:失败 "},"timestamp":{"type":"integer","format":"int64","description":"当前时间戳"},"traceId":{"type":"string","description":"traceId,用于日志跟踪。前端对接忽略此字段"}},"title":"结果响应«PlaceOrderResultDTO»"},"结果响应«boolean»":{"type":"object","properties":{"data":{"type":"boolean","description":"返回数据"},"msg":{"type":"string","description":"返回提示信息"},"status":{"type":"integer","format":"int32","description":"状态码； 200:成功；400:失败 "},"timestamp":{"type":"integer","format":"int64","description":"当前时间戳"},"traceId":{"type":"string","description":"traceId,用于日志跟踪。前端对接忽略此字段"}},"title":"结果响应«boolean»"},"结果响应«int»":{"type":"object","properties":{"data":{"type":"integer","format":"int32","description":"返回数据"},"msg":{"type":"string","description":"返回提示信息"},"status":{"type":"integer","format":"int32","description":"状态码； 200:成功；400:失败 "},"timestamp":{"type":"integer","format":"int64","description":"当前时间戳"},"traceId":{"type":"string","description":"traceId,用于日志跟踪。前端对接忽略此字段"}},"title":"结果响应«int»"},"结果响应«long»":{"type":"object","properties":{"data":{"type":"integer","format":"int64","description":"返回数据"},"msg":{"type":"string","description":"返回提示信息"},"status":{"type":"integer","format":"int32","description":"状态码； 200:成功；400:失败 "},"timestamp":{"type":"integer","format":"int64","description":"当前时间戳"},"traceId":{"type":"string","description":"traceId,用于日志跟踪。前端对接忽略此字段"}},"title":"结果响应«long»"},"结果响应«string»":{"type":"object","properties":{"data":{"type":"string","description":"返回数据"},"msg":{"type":"string","description":"返回提示信息"},"status":{"type":"integer","format":"int32","description":"状态码； 200:成功；400:失败 "},"timestamp":{"type":"integer","format":"int64","description":"当前时间戳"},"traceId":{"type":"string","description":"traceId,用于日志跟踪。前端对接忽略此字段"}},"title":"结果响应«string»"}}}