{"swagger":"2.0","info":{"description":"# 小象直播API文档","version":"1.0","termsOfService":"http://www.elelive.tv/"},"host":"camel-api-gateway05.svc.elelive.cn","basePath":"/studio-service","tags":[{"name":"admin-controller","description":"Admin Controller"},{"name":"anchor-range-report-controller","description":"Anchor Range Report Controller"},{"name":"association-admin-controller","description":"Association Admin Controller"},{"name":"coefficient-controller","description":"Coefficient Controller"},{"name":"comment-controller","description":"Comment Controller"},{"name":"comment-manage-controller","description":"Comment Manage Controller"},{"name":"dynamic-cover-white-admin-controller","description":"Dynamic Cover White Admin Controller"},{"name":"ee-anchor-customization-controller","description":"Ee Anchor Customization Controller"},{"name":"ee-forbidden-controller","description":"Ee Forbidden Controller"},{"name":"ee-redis-controller","description":"Ee Redis Controller"},{"name":"ee-room-controller","description":"Ee Room Controller"},{"name":"ee-studio-controller","description":"Ee Studio Controller"},{"name":"effect-entry-controller","description":"Effect Entry Controller"},{"name":"effect-entry-related-user-controller","description":"Effect Entry Related User Controller"},{"name":"effect-entry-template-controller","description":"Effect Entry Template Controller"},{"name":"effect-history-controller","description":"Effect History Controller"},{"name":"focus-controller","description":"Focus Controller"},{"name":"forbidden-admin-controller","description":"Forbidden Admin Controller"},{"name":"forbidden-track-controller","description":"Forbidden Track Controller"},{"name":"global-admin-manage-controller","description":"Global Admin Manage Controller"},{"name":"global-forbidden-client-controller","description":"Global Forbidden Client Controller"},{"name":"hot-rate-controller","description":"Hot Rate Controller"},{"name":"hot-rate-refresh-controller","description":"Hot Rate Refresh Controller"},{"name":"hot-word-controller","description":"Hot Word Controller"},{"name":"konfi-controller","description":"Konfi Controller"},{"name":"live-detail-record-controller","description":"Live Detail Record Controller"},{"name":"live-stream-identification-controller","description":"Live Stream Identification Controller"},{"name":"lives-controller","description":"Lives Controller"},{"name":"media-share-controller","description":"Media Share Controller"},{"name":"new-studio-controller","description":"New Studio Controller"},{"name":"noble-controller","description":"Noble Controller"},{"name":"obs-studio-controller","description":"Obs Studio Controller"},{"name":"obs-white-list-controller","description":"Obs White List Controller"},{"name":"official-channel-admin-controller","description":"Official Channel Admin Controller"},{"name":"official-channel-controller","description":"Official Channel Controller"},{"name":"official-channel-live-admin-controller","description":"Official Channel Live Admin Controller"},{"name":"official-channel-performance-admin-controller","description":"Official Channel Performance Admin Controller"},{"name":"pool-size-controller","description":"Pool Size Controller"},{"name":"record-config-controller","description":"Record Config Controller"},{"name":"recorded-live-controller","description":"Recorded Live Controller"},{"name":"room-admin-client-controller","description":"Room Admin Client Controller"},{"name":"room-admin-manage-controller","description":"Room Admin Manage Controller"},{"name":"room-controller","description":"Room Controller"},{"name":"room-cover-check-admin-controller","description":"Room Cover Check Admin Controller"},{"name":"room-cover-check-client-controller","description":"Room Cover Check Client Controller"},{"name":"room-forbidden-client-controller","description":"Room Forbidden Client Controller"},{"name":"room-link-admin-controller","description":"Room Link Admin Controller"},{"name":"room-link-controller","description":"Room Link Controller"},{"name":"room-manage-controller","description":"Room Manage Controller"},{"name":"room-manage-recommend-controller","description":"Room Manage Recommend Controller"},{"name":"room-manage-recommend-type-controller","description":"Room Manage Recommend Type Controller"},{"name":"room-validation-controller","description":"Room Validation Controller"},{"name":"schedule-controller","description":"Schedule Controller"},{"name":"studio-controller","description":"Studio Controller"},{"name":"user-profile-cache-controller","description":"User Profile Cache Controller"},{"name":"user-sdk-controller","description":"User Sdk Controller"},{"name":"video-clip-controller","description":"Video Clip Controller"},{"name":"video-clip-group-controller","description":"Video Clip Group Controller"},{"name":"video-clip-manage-controller","description":"Video Clip Manage Controller"},{"name":"video-identification-controller","description":"Video Identification Controller"},{"name":"主播白名单","description":"Pay Room Anchor Whitelist Controller"},{"name":"主播直播间贴纸","description":"Live Room Sticker Controller"},{"name":"付费，密码房","description":"Pay Room Controller"},{"name":"关联房","description":"Pay Room Relation Controller"},{"name":"版本信息","description":"Ee Version Controller"},{"name":"用户白名单","description":"Pay Room User Whitelist Controller"},{"name":"管理后台-语音房-房间相关","description":"Admin Audio Room Controller"},{"name":"语音房-坐席(麦位)相关","description":"Seat Controller"},{"name":"语音房-密码房","description":"Audio Room Password Controller"},{"name":"语音房-房间相关","description":"Audio Room Controller"},{"name":"语音房打招呼","description":"Greeting Settings Controller"},{"name":"语音房计时功能","description":"Audio Room Counter Controller"},{"name":"语音房麦位表情","description":"Audio Room Emote Controller"}],"paths":{"/admin/livecode/exist":{"post":{"tags":["admin-controller"],"summary":"判断单个回放是否存在","operationId":"existLiveCodeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BooleanResult","originalRef":"BooleanResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/officialChannelAdmin/add":{"post":{"tags":["official-channel-admin-controller"],"summary":"add","operationId":"addUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/OfficialChannelAdminDTO","originalRef":"OfficialChannelAdminDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/officialChannelAdmin/getDetailsById":{"post":{"tags":["official-channel-admin-controller"],"summary":"根据id查询","operationId":"getDetailsByIdUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult«OfficialChannelAdminDTO»","originalRef":"BaseResult«OfficialChannelAdminDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/officialChannelAdmin/query":{"post":{"tags":["official-channel-admin-controller"],"summary":"查询","operationId":"queryUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/OfficialChannelAdminReq","originalRef":"OfficialChannelAdminReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult«OfficialChannelAdminDTO»","originalRef":"BaseResult«OfficialChannelAdminDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/officialChannelAdmin/remove":{"post":{"tags":["official-channel-admin-controller"],"summary":"删除","operationId":"removeUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/officialChannelAdmin/update":{"post":{"tags":["official-channel-admin-controller"],"summary":"update","operationId":"updateUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/OfficialChannelAdminDTO","originalRef":"OfficialChannelAdminDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/officialChannelAdmin/updateOfficialChannelUser":{"post":{"tags":["official-channel-admin-controller"],"summary":"updateOfficialChannelUser","operationId":"updateOfficialChannelUserUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/OfficialChannelUserDTO","originalRef":"OfficialChannelUserDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应","originalRef":"结果响应"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/officialChannelLiveAdmin/add":{"post":{"tags":["official-channel-live-admin-controller"],"summary":"addPendant","operationId":"addPendantUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/OfficialChannelLiveAdminReq","originalRef":"OfficialChannelLiveAdminReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/officialChannelLiveAdmin/getDetailsById":{"post":{"tags":["official-channel-live-admin-controller"],"summary":"根据id查询","operationId":"getDetailsByIdUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"officialLiveCode","in":"query","description":"officialLiveCode","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult«OfficialChannelLiveAdminDTO»","originalRef":"BaseResult«OfficialChannelLiveAdminDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/officialChannelLiveAdmin/query":{"post":{"tags":["official-channel-live-admin-controller"],"summary":"查询","operationId":"queryUsingPOST_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/OfficialChannelLiveAdminReq","originalRef":"OfficialChannelLiveAdminReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult«OfficialChannelLiveAdminDTO»","originalRef":"BaseResult«OfficialChannelLiveAdminDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/officialChannelLiveAdmin/queryUncompleted":{"post":{"tags":["official-channel-live-admin-controller"],"summary":"查询未完成的场次","operationId":"queryUncompletedUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"officialId","in":"query","description":"officialId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult«OfficialChannelLiveAdminDTO»","originalRef":"BaseResult«OfficialChannelLiveAdminDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/officialChannelLiveAdmin/update":{"post":{"tags":["official-channel-live-admin-controller"],"summary":"updatePendant","operationId":"updatePendantUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/OfficialChannelLiveAdminReq","originalRef":"OfficialChannelLiveAdminReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/officialChannelPerformanceAdmin/add":{"post":{"tags":["official-channel-performance-admin-controller"],"summary":"add","operationId":"addUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/OfficialChannePerformanceAdminDTO","originalRef":"OfficialChannePerformanceAdminDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/officialChannelPerformanceAdmin/getDetailsById":{"post":{"tags":["official-channel-performance-admin-controller"],"summary":"根据id查询","operationId":"getDetailsByIdUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult«OfficialChannePerformanceAdminDTO»","originalRef":"BaseResult«OfficialChannePerformanceAdminDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/officialChannelPerformanceAdmin/query":{"post":{"tags":["official-channel-performance-admin-controller"],"summary":"查询","operationId":"queryUsingPOST_4","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/OfficialChannePerformanceAdminReq","originalRef":"OfficialChannePerformanceAdminReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult«OfficialChannePerformanceAdminDTO»","originalRef":"BaseResult«OfficialChannePerformanceAdminDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/officialChannelPerformanceAdmin/remove":{"post":{"tags":["official-channel-performance-admin-controller"],"summary":"删除","operationId":"removeUsingPOST_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/officialChannelPerformanceAdmin/update":{"post":{"tags":["official-channel-performance-admin-controller"],"summary":"update","operationId":"updateUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/OfficialChannePerformanceAdminDTO","originalRef":"OfficialChannePerformanceAdminDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/officialChannelPerformanceAdmin/verify":{"post":{"tags":["official-channel-performance-admin-controller"],"summary":"verify","operationId":"verifyUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/OfficialChannePerformanceAdminDTO","originalRef":"OfficialChannePerformanceAdminDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/room/exist":{"post":{"tags":["admin-controller"],"summary":"判断直播间是否存在","operationId":"existRoomUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BooleanResult","originalRef":"BooleanResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/room/load":{"post":{"tags":["admin-controller"],"summary":"加载直播间详情","operationId":"getUserRoomInfoUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult«RoomControlInfo»","originalRef":"BaseResult«RoomControlInfo»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/user/videoInfo":{"post":{"tags":["admin-controller"],"summary":"加载单个用户视频信息","operationId":"getVideoInfoUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"userId","in":"query","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult«UserInfoDetailsVideoDTO»","originalRef":"BaseResult«UserInfoDetailsVideoDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/admin/videoclip/exist":{"post":{"tags":["admin-controller"],"summary":"判断单个短视频是否存在","operationId":"existVideoClipUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BooleanResult","originalRef":"BooleanResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/association/advance/query":{"post":{"tags":["association-admin-controller"],"summary":"工会旗下主播搜索综合查询","operationId":"advanceQueryUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Accept-Language","in":"header","description":"Accept-Language","required":true,"type":"string"},{"in":"body","name":"criteria","description":"criteria","required":true,"schema":{"$ref":"#/definitions/AssociationAnchorsQueryCriteria","originalRef":"AssociationAnchorsQueryCriteria"}},{"name":"needLog","in":"query","description":"needLog","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/association/reception":{"get":{"tags":["association-admin-controller"],"summary":"用于获取某个公会底主播收益汇总","operationId":"summaryByReceptionUsingGET","produces":["*/*"],"parameters":[{"name":"associationId","in":"query","description":"工会ID","required":true,"type":"integer","format":"int32"},{"name":"date","in":"query","description":"为了方便测试,允许传入特定的日期, 以yyyy-MM-dd HH:mm:ss传入. 但实际生产上, 是不需要传值的. 会默认以当前时间为入参","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/association/reception/range/detail":{"get":{"tags":["association-admin-controller"],"summary":"用于获取某个公会底某一天里按主播做分组汇总,添加分页加载操作, 同时, 如果返回的detail为空,则意味着数据请求到底了","operationId":"summaryRangeDetailByReceptionUsingGET","produces":["*/*"],"parameters":[{"name":"associationId","in":"query","description":"工会ID","required":true,"type":"integer","format":"int32"},{"name":"day","in":"query","description":"对应的天数","required":true,"type":"integer","maximum":31,"exclusiveMaximum":false,"minimum":1,"exclusiveMinimum":false,"format":"int32"},{"name":"month","in":"query","description":"月份","required":true,"type":"integer","maximum":12,"exclusiveMaximum":false,"minimum":1,"exclusiveMinimum":false,"format":"int32"},{"name":"page","in":"query","description":"页码","required":true,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"页长","required":true,"type":"integer","format":"int32"},{"name":"year","in":"query","description":"年份","required":true,"type":"integer","maximum":9999,"exclusiveMaximum":false,"minimum":1970,"exclusiveMinimum":false,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/association/reception/ranges":{"get":{"tags":["association-admin-controller"],"summary":"用于获取某个公会底按日期分组的汇总","operationId":"summaryRangeByReceptionUsingGET","produces":["*/*"],"parameters":[{"name":"associationId","in":"query","description":"工会ID","required":true,"type":"integer","format":"int32"},{"name":"month","in":"query","description":"月份","required":true,"type":"integer","maximum":12,"exclusiveMaximum":false,"minimum":1,"exclusiveMinimum":false,"format":"int32"},{"name":"year","in":"query","description":"年份","required":true,"type":"integer","maximum":9999,"exclusiveMaximum":false,"minimum":1970,"exclusiveMinimum":false,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/association/summary":{"get":{"tags":["association-admin-controller"],"summary":"用于获取某个公会底下所有的主播信息","operationId":"summaryUsingGET","produces":["*/*"],"parameters":[{"name":"associationId","in":"query","description":"工会ID","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/audio/counter/end":{"post":{"tags":["语音房计时功能"],"summary":"结束计时","operationId":"endUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/AudioRoomCounterReq","originalRef":"AudioRoomCounterReq"}},{"name":"uid","in":"header","description":"uid","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应","originalRef":"结果响应"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/audio/counter/queryCountStatus":{"post":{"tags":["语音房计时功能"],"summary":"查询计时开关状态","operationId":"queryCountStatusUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/AudioRoomCounterReq","originalRef":"AudioRoomCounterReq"}},{"name":"uid","in":"header","description":"uid","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«AudioRoomDTO»","originalRef":"结果响应«AudioRoomDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/audio/counter/queryUserList":{"post":{"tags":["语音房计时功能"],"summary":"查询房间所有人收益","operationId":"queryUserListUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/AudioRoomCounterReq","originalRef":"AudioRoomCounterReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«AudioRoomCounterDTO»","originalRef":"结果响应«AudioRoomCounterDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/audio/counter/start":{"post":{"tags":["语音房计时功能"],"summary":"开始计时","operationId":"startUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/AudioRoomCounterReq","originalRef":"AudioRoomCounterReq"}},{"name":"uid","in":"header","description":"uid","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应","originalRef":"结果响应"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/audio/greeting/setting/delete":{"post":{"tags":["语音房打招呼"],"summary":"删除","description":"仅需要传mediaType即可","operationId":"deleteUsingPOST_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/GreetingSettingsTypeReq","originalRef":"GreetingSettingsTypeReq"}},{"name":"uid","in":"header","description":"uid","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«GreetingSettingsDTO»","originalRef":"结果响应«GreetingSettingsDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/audio/greeting/setting/edit":{"post":{"tags":["语音房打招呼"],"summary":"编辑","operationId":"editUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/GreetingSettingsReq","originalRef":"GreetingSettingsReq"}},{"name":"uid","in":"header","description":"uid","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«GreetingSettingsDTO»","originalRef":"结果响应«GreetingSettingsDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/audio/greeting/setting/get":{"post":{"tags":["语音房打招呼"],"summary":"获取打招呼内容","operationId":"getUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"uid","in":"header","description":"uid","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«GreetingSettingsDTO»","originalRef":"结果响应«GreetingSettingsDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/audio/greeting/setting/isShow":{"post":{"tags":["语音房打招呼"],"summary":"是否显示编辑自动打招呼","operationId":"showBtnUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/AnchorRequest","originalRef":"AnchorRequest"}},{"name":"uid","in":"header","description":"uid","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/clip/create":{"post":{"tags":["video-clip-controller"],"summary":"用户发布新的短视频","description":"用户发布新的短视频","operationId":"createUsingPOST_5","consumes":["multipart/form-data"],"produces":["*/*"],"parameters":[{"in":"body","name":"cover","description":"封面图片","required":true,"schema":{"type":"string","format":"binary"}},{"in":"body","name":"firstFrame","description":"首帧图","required":true,"schema":{"type":"string","format":"binary"}},{"name":"title","in":"query","description":"短视频的标题","required":false,"type":"string","pattern":"[\\s\\S]*\\S+[\\s\\S]*"},{"name":"uid","in":"header","description":"请求的发起者","required":true,"type":"string"},{"in":"body","name":"video","description":"短视频本身","required":true,"schema":{"type":"string","format":"binary"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/clip/finished":{"post":{"tags":["video-clip-controller"],"summary":"每当某一个短视频完成一次播放时，触发","operationId":"finishedUsingPOST","consumes":["application/x-www-form-urlencoded"],"produces":["*/*"],"parameters":[{"name":"refId","in":"formData","required":false,"type":"string"},{"name":"uid","in":"header","description":"userId","required":false,"type":"string","default":"AnonyDefaultUser"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/clip/group/create":{"post":{"tags":["video-clip-group-controller"],"summary":"新增一个分组","description":"新增一个分组","operationId":"createUsingPOST_6","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"title","in":"query","description":"分组标题","required":true,"type":"string"},{"name":"weight","in":"query","description":"分组排序权重","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/clip/group/item/add":{"post":{"tags":["video-clip-group-controller"],"summary":"为特定分组新增短视频","description":"为特定分组新增短视频","operationId":"addItemUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"groupId","in":"query","description":"分组Id","required":true,"type":"string"},{"name":"videoIds","in":"query","description":"短视频Id","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/clip/group/item/batch":{"post":{"tags":["video-clip-group-controller"],"summary":"批量导入短视频","operationId":"batchImportUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"file","in":"query","description":"只支持xls文件","required":true,"type":"string","format":"byte"},{"name":"groupId","in":"query","description":"分组Id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BatchImportResult«List«string»»","originalRef":"BatchImportResult«List«string»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/clip/group/item/query":{"post":{"tags":["video-clip-group-controller"],"summary":"分组下的视频查询","description":"分组下的视频查询","operationId":"itemQueryUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"criteria","description":"criteria","required":true,"schema":{"$ref":"#/definitions/SortingGroupVideoClipQueryCriteria","originalRef":"SortingGroupVideoClipQueryCriteria"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/clip/group/item/remove":{"post":{"tags":["video-clip-group-controller"],"summary":"从已经有的组中移除相关的短视频","description":"从已经有的组中移除相关的短视频","operationId":"removeItemUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"groupId","in":"query","description":"分组Id","required":true,"type":"string"},{"name":"videoIds","in":"query","description":"短视频Id","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/clip/group/list":{"get":{"tags":["video-clip-group-controller"],"summary":"分组搜索,支持分页","operationId":"listUsingGET_2","produces":["*/*"],"parameters":[{"name":"clipId","in":"query","description":"短视频编号","required":false,"type":"string"},{"name":"page","in":"query","description":"page","required":true,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"size","required":true,"type":"integer","format":"int32"},{"name":"title","in":"query","description":"分组标题","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/clip/group/remove/{groupId}":{"post":{"tags":["video-clip-group-controller"],"summary":"删除一个分组","description":"删除一个分组","operationId":"removeUsingPOST_9","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/clip/group/report":{"get":{"tags":["video-clip-group-controller"],"summary":"exportReport","operationId":"exportReportUsingGET_1","produces":["application/octet-stream"],"parameters":[{"name":"report","in":"query","description":"批量导入结果的报告文件","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string","format":"byte"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/clip/group/update":{"post":{"tags":["video-clip-group-controller"],"summary":"编辑一个分组","operationId":"updateUsingPOST_5","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"groupId","in":"query","description":"分组Id","required":true,"type":"string"},{"name":"title","in":"query","description":"分组标题","required":true,"type":"string"},{"name":"weight","in":"query","description":"分组排序权重","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/clip/ids":{"get":{"tags":["video-clip-controller"],"summary":"短视频批量查询","description":"用于服务端调用，不涉及用户","operationId":"findByIdsUsingGET","produces":["*/*"],"parameters":[{"name":"ids","in":"query","description":"短视频Id集合,一次查询最多100条","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult«VideoClipDTO»","originalRef":"BaseResult«VideoClipDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/clip/isAvailable/{refId}":{"get":{"tags":["video-clip-controller"],"summary":"(服务端用于查询对应的短视频是否可用状态)","operationId":"isAvailableUsingGET","produces":["*/*"],"parameters":[{"name":"refId","in":"path","description":"refId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/clip/like":{"post":{"tags":["video-clip-controller"],"summary":"点赞","operationId":"likeUsingPOST_2","consumes":["application/x-www-form-urlencoded"],"produces":["*/*"],"parameters":[{"name":"refId","in":"formData","required":false,"type":"string"},{"name":"uid","in":"header","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/clip/load/all":{"get":{"tags":["video-clip-controller"],"summary":"短视频-全部","operationId":"loadAllUsingGET","produces":["*/*"],"parameters":[{"name":"page","in":"query","description":"页码","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"页长(默认10，最大100)","required":false,"type":"integer","default":10,"maximum":100,"exclusiveMaximum":false,"format":"int32"},{"name":"uid","in":"header","description":"UID","required":true,"type":"string","default":"AnonyDefaultUser"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["video-clip-controller"],"summary":"短视频-全部","operationId":"loadAllUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"报文体","required":true,"schema":{"$ref":"#/definitions/ClipLoadQueryRequest","originalRef":"ClipLoadQueryRequest"}},{"name":"uid","in":"header","description":"UID","required":true,"type":"string","default":"AnonyDefaultUser"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/clip/load/follow":{"get":{"tags":["video-clip-controller"],"summary":"短视频-关注用户发布的","operationId":"loadFollowUsingGET","produces":["*/*"],"parameters":[{"name":"page","in":"query","description":"页码","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"页长(默认10，最大100)","required":false,"type":"integer","default":10,"maximum":100,"exclusiveMaximum":false,"format":"int32"},{"name":"uid","in":"header","description":"UID","required":true,"type":"string","default":"AnonyDefaultUser"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["video-clip-controller"],"summary":"短视频-关注用户发布的","operationId":"loadFollowUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"报文体","required":true,"schema":{"$ref":"#/definitions/ClipLoadQueryRequest","originalRef":"ClipLoadQueryRequest"}},{"name":"uid","in":"header","description":"UID","required":true,"type":"string","default":"AnonyDefaultUser"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/clip/load/groups":{"get":{"tags":["video-clip-controller"],"summary":"根据分组分页获取短视频信息","description":"不包含社交关系、点赞数等信息。不记录PV","operationId":"loadGroupsUsingGET","produces":["*/*"],"parameters":[{"name":"groupIds","in":"query","description":"短视频组Id集合","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"页码","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"页长(默认10，最大100)","required":false,"type":"integer","default":10,"maximum":100,"exclusiveMaximum":false,"format":"int32"},{"name":"uid","in":"header","description":"UID","required":true,"type":"string","default":"AnonyDefaultUser"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/clip/load/latest":{"get":{"tags":["video-clip-controller"],"summary":"短视频-最新发布","operationId":"loadLatestUsingGET","produces":["*/*"],"parameters":[{"name":"page","in":"query","description":"页码","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"页长(默认10，最大100)","required":false,"type":"integer","default":10,"maximum":100,"exclusiveMaximum":false,"format":"int32"},{"name":"uid","in":"header","description":"UID","required":true,"type":"string","default":"AnonyDefaultUser"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["video-clip-controller"],"summary":"短视频-最新发布","operationId":"loadLatestUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"报文体","required":true,"schema":{"$ref":"#/definitions/ClipLoadQueryRequest","originalRef":"ClipLoadQueryRequest"}},{"name":"uid","in":"header","description":"UID","required":true,"type":"string","default":"AnonyDefaultUser"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/clip/load/multi":{"get":{"tags":["video-clip-controller"],"summary":"批量加载短视频详情","description":"批量加载短视频详情","operationId":"loadUsingGET_4","produces":["*/*"],"parameters":[{"name":"ids","in":"query","description":"短视频Id集合,一次查询最多100条","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"uid","in":"header","description":"userId","required":false,"type":"string","default":"AnonyDefaultUser"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/clip/load/multi2":{"post":{"tags":["video-clip-controller"],"summary":"新批量加载短视频详情","description":"批量加载短视频详情","operationId":"load2UsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"ids","description":"短视频Id集合,一次查询最多100条","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"uid","in":"header","description":"userId","required":false,"type":"string","default":"AnonyDefaultUser"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应","originalRef":"结果响应"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/clip/load/region":{"get":{"tags":["video-clip-controller"],"summary":"短视频-当前ip对应区域发布的","operationId":"loadRegionUsingGET_1","produces":["*/*"],"parameters":[{"name":"page","in":"query","description":"页码","required":false,"type":"integer","default":0,"format":"int32"},{"name":"region","in":"header","description":"region","required":true,"type":"string"},{"name":"size","in":"query","description":"页长(默认10，最大100)","required":false,"type":"integer","default":10,"maximum":100,"exclusiveMaximum":false,"format":"int32"},{"name":"uid","in":"header","description":"UID","required":true,"type":"string","default":"AnonyDefaultUser"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/clip/load/single":{"get":{"tags":["video-clip-controller"],"summary":"加载单个短视频详情","description":"加载单个短视频详情","operationId":"loadUsingGET_3","produces":["*/*"],"parameters":[{"name":"refId","in":"query","description":"短视频Id","required":true,"type":"string"},{"name":"uid","in":"header","description":"userId","required":false,"type":"string","default":"AnonyDefaultUser"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/clip/load/someone":{"get":{"tags":["video-clip-controller"],"summary":"批量加载某人创作的短视频","description":"用于查询指定用户创作的短视频","operationId":"loadMineUsingGET_1","produces":["*/*"],"parameters":[{"name":"page","in":"query","description":"分页 页码，默认值为0","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"分页尺寸，默认值为12","required":false,"type":"integer","default":12,"format":"int32"},{"name":"targetId","in":"query","description":"指定用户ID,必填项，如果是看自己的话，就要传自己ID","required":true,"type":"string"},{"name":"uid","in":"header","description":"uid","required":false,"type":"string","default":"AnonyDefaultUser"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/clip/manage/create":{"post":{"tags":["video-clip-manage-controller"],"summary":"运营后台发布新的短视频","description":"运营后台发布新的短视频","operationId":"createUsingPOST_7","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"clip","description":"clip","required":true,"schema":{"$ref":"#/definitions/ClipUploadDTO","originalRef":"ClipUploadDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/clip/manage/delete/{refId}":{"post":{"tags":["video-clip-manage-controller"],"summary":"短视频标记为删除","description":"仅限运营操作，软删除","operationId":"deleteUsingPOST_6","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"refId","in":"path","description":"refId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/clip/manage/export":{"post":{"tags":["video-clip-manage-controller"],"summary":"短视频导出(xlsx格式)","operationId":"exportUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"criteria","description":"criteria","required":true,"schema":{"$ref":"#/definitions/VideoClipQueryCriteria","originalRef":"VideoClipQueryCriteria"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult«VideoClipDTO»","originalRef":"BaseResult«VideoClipDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/clip/manage/find":{"post":{"tags":["video-clip-manage-controller"],"summary":"短视频条件查询","operationId":"findUsingPOST_6","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"criteria","description":"criteria","required":true,"schema":{"$ref":"#/definitions/VideoClipQueryCriteria","originalRef":"VideoClipQueryCriteria"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/clip/manage/update/recommendPriorityValue":{"post":{"tags":["video-clip-manage-controller"],"summary":"运营后台更新短视频推荐优先值","description":"运营后台更新短视频推荐优先值","operationId":"updateRecommendPriorityValueUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"recommendPriorityValue","in":"query","description":"recommendPriorityValue","required":true,"type":"integer","format":"int32"},{"name":"refId","in":"query","description":"refId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/clip/recommend":{"get":{"tags":["video-clip-controller"],"summary":"短视频推荐接口","operationId":"recommendUsingGET","produces":["*/*"],"parameters":[{"name":"page","in":"query","description":"分页 页码，默认值为0","required":true,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"分页尺寸，默认值为10","required":true,"type":"integer","default":10,"format":"int32"},{"name":"uid","in":"header","description":"userId","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/clip/remove":{"post":{"tags":["video-clip-controller"],"summary":"删除短视频","description":"仅允许视频作者操作","operationId":"removeUsingPOST_8","consumes":["application/x-www-form-urlencoded"],"produces":["*/*"],"parameters":[{"name":"refId","in":"formData","required":false,"type":"string"},{"name":"uid","in":"header","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/clip/sync/contractRegion":{"get":{"tags":["video-clip-controller"],"summary":"同步签约区域","operationId":"loadRegionUsingGET","produces":["*/*"],"parameters":[{"name":"size","in":"query","description":"页长(默认10，最大100)","required":false,"type":"integer","default":10,"maximum":10000,"exclusiveMaximum":false,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/clip/syncLike":{"post":{"tags":["video-clip-controller"],"summary":"同步点赞数至广场","operationId":"syncLikeUsingPOST","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/clip/syncMoment":{"get":{"tags":["video-clip-controller"],"summary":"同步小视频至广场","operationId":"syncMomentUsingGET","produces":["*/*"],"parameters":[{"name":"lastTime","in":"query","description":"lastTime","required":true,"type":"integer","format":"int64"},{"name":"size","in":"query","description":"size","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«long»","originalRef":"结果响应«long»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/clip/unlike":{"post":{"tags":["video-clip-controller"],"summary":"取消点赞","operationId":"unlikeUsingPOST_2","consumes":["application/x-www-form-urlencoded"],"produces":["*/*"],"parameters":[{"name":"refId","in":"formData","required":false,"type":"string"},{"name":"uid","in":"header","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/clip/updateContractRegion":{"get":{"tags":["video-clip-controller"],"summary":"同步签约区域","operationId":"updateContractRegionUsingGET","produces":["*/*"],"parameters":[{"name":"region","in":"header","description":"region","required":true,"type":"string"},{"name":"uid","in":"header","description":"UID","required":true,"type":"string","default":"AnonyDefaultUser"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/coefficient/list":{"post":{"tags":["coefficient-controller"],"summary":"返回所有的热度值配置信息","operationId":"findAllUsingPOST","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/coefficient/modify":{"post":{"tags":["coefficient-controller"],"summary":"修改","operationId":"modifyUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"在保存时，需要把整个组的热度值，一起传过来。也就是说，哪怕你只改了其中某一个项，也要把整个组的数据一起提交过来，整体做更新","required":true,"schema":{"$ref":"#/definitions/CoefficientDTO","originalRef":"CoefficientDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/coefficient/schedule":{"post":{"tags":["coefficient-controller"],"summary":"由定时器触发，对正在直播的房间进行热度计算","operationId":"scheduleUsingPOST","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/comment/create":{"post":{"tags":["comment-controller"],"summary":"发布评论(Req:RSA,Resp:RSA)","operationId":"createUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/CreateCommentReq","originalRef":"CreateCommentReq"}},{"name":"uid","in":"header","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/comment/like":{"post":{"tags":["comment-controller"],"summary":"点赞","operationId":"likeUsingPOST","consumes":["application/x-www-form-urlencoded"],"produces":["*/*"],"parameters":[{"name":"commentId","in":"formData","required":false,"type":"string"},{"name":"uid","in":"header","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/comment/manage/delete":{"post":{"tags":["comment-manage-controller"],"summary":"批量删除评论","operationId":"deleteUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"commentIds","in":"query","description":"评论ID集合","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/comment/manage/import":{"post":{"tags":["comment-manage-controller"],"summary":"批量导入评论","operationId":"importBatchUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"file","in":"query","description":"文件","required":true,"type":"string","format":"byte"},{"name":"type","in":"query","description":"短视频/回放","required":true,"type":"string","enum":["CLIP","RECORDED_LIVE"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/comment/query":{"post":{"tags":["comment-controller"],"summary":"用于分页加载评论(Req:RSA,Resp:RSA)","operationId":"queryUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/CommentQueryCriteria","originalRef":"CommentQueryCriteria"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/comment/remove/{commentId}":{"post":{"tags":["comment-controller"],"summary":"删除评论","operationId":"removeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"commentId","in":"path","description":"评论ID","required":true,"type":"string"},{"name":"uid","in":"header","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/comment/syncComment":{"post":{"tags":["comment-controller"],"summary":"评论同步至广场服务","operationId":"syncCommentUsingPOST","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/comment/unlike":{"post":{"tags":["comment-controller"],"summary":"取消点赞","operationId":"unlikeUsingPOST","consumes":["application/x-www-form-urlencoded"],"produces":["*/*"],"parameters":[{"name":"commentId","in":"formData","required":false,"type":"string"},{"name":"uid","in":"header","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult","originalRef":"BaseResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/dynamic/white/add":{"post":{"tags":["dynamic-cover-white-admin-controller"],"summary":"add","operationId":"addUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"userId","in":"query","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应","originalRef":"结果响应"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/dynamic/white/delete":{"post":{"tags":["dynamic-cover-white-admin-controller"],"summary":"delete","operationId":"deleteUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"userId","in":"query","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应","originalRef":"结果响应"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/admin/audio_room/room/close":{"post":{"tags":["管理后台-语音房-房间相关"],"summary":"启停房间(关闭/恢复)","operationId":"closeRoomUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/AdminCloseRoomReq","originalRef":"AdminCloseRoomReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/admin/audio_room/room/create":{"post":{"tags":["管理后台-语音房-房间相关"],"summary":"创建房间","operationId":"createRoomUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/AdminCreateRoomReq","originalRef":"AdminCreateRoomReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/admin/audio_room/room/deleteAudioRoom":{"post":{"tags":["管理后台-语音房-房间相关"],"summary":"删除语音房（公会+个人）","operationId":"deleteAudioRoomUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"roomId","in":"query","description":"roomId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/admin/audio_room/room/deletePersonAudioRoom":{"post":{"tags":["管理后台-语音房-房间相关"],"summary":"删除个人房","operationId":"deletePersonAudioRoomUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"roomId","in":"query","description":"roomId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/admin/audio_room/room/syncPersonAudioRoomStatus":{"post":{"tags":["管理后台-语音房-房间相关"],"summary":"syncPersonAudioRoomStatus","operationId":"syncPersonAudioRoomStatusUsingPOST","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/admin/audio_room/room/update":{"post":{"tags":["管理后台-语音房-房间相关"],"summary":"修改房间","operationId":"updateRoomUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/AdminUpdateRoomReq","originalRef":"AdminUpdateRoomReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/anchor/customization/updateAnchorWelcomeContent":{"post":{"tags":["ee-anchor-customization-controller"],"summary":"修改自定义欢迎语","operationId":"updateAnchorWelcomeContentUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"content","in":"query","description":"content","required":true,"type":"string"},{"name":"roomId","in":"query","description":"roomId","required":false,"type":"string"},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/anchor/customization/updateAnchorWelcomeState":{"post":{"tags":["ee-anchor-customization-controller"],"summary":"开启或关闭自定义欢迎语","operationId":"updateAnchorWelcomeStateUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"enable","in":"query","description":"enable","required":true,"type":"integer","format":"int32"},{"name":"roomId","in":"query","description":"roomId","required":false,"type":"string"},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/anchor/customization/updateNewReceptionsState":{"get":{"tags":["ee-anchor-customization-controller"],"summary":"修改展示总收益状态(新)","description":"收益开关状态，0都展示，1展示总收益，2展示本场收益","operationId":"updateNewReceptionsStateUsingGET","produces":["*/*"],"parameters":[{"name":"showIncome","in":"query","description":"0都不展示，1展示总收益，2展示本场收益","required":true,"type":"integer","format":"int32"},{"name":"uid","in":"header","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应","originalRef":"结果响应"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/anchor/customization/updateReceptionsBalanceState":{"get":{"tags":["ee-anchor-customization-controller"],"summary":"修改展示总收益状态","description":"修改展示总收益状态；showIncome: 显示(true)/关闭(false)","operationId":"updateReceptionsBalanceStateUsingGET","produces":["*/*"],"parameters":[{"name":"showIncome","in":"query","description":"显示(true)/关闭(false) 状态","required":true,"type":"boolean"},{"name":"uid","in":"header","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/ee/audio/emote/pushEmoteIM":{"post":{"tags":["语音房麦位表情"],"summary":"麦位表情IM","operationId":"pushEmoteIMUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/AudioEmoteDTO","originalRef":"AudioEmoteDTO"}},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/audio_room/password/passwordState":{"post":{"tags":["语音房-密码房"],"summary":"密码房-查看设置密码状态","operationId":"passwordStateUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/PasswordReq","originalRef":"PasswordReq"}},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«PasswordStateDTO»","originalRef":"结果响应«PasswordStateDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/audio_room/password/setPassword":{"post":{"tags":["语音房-密码房"],"summary":"密码房-设置密码","operationId":"setPasswordUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/SetPasswordReq","originalRef":"SetPasswordReq"}},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应","originalRef":"结果响应"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/audio_room/password/verifyPassword":{"post":{"tags":["语音房-密码房"],"summary":"密码房-验证密码","operationId":"verifyPasswordUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/VerifyPasswordReq","originalRef":"VerifyPasswordReq"}},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«PasswordResultDTO»","originalRef":"结果响应«PasswordResultDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/audio_room/room/allAssoAudioRoom":{"post":{"tags":["语音房-房间相关"],"summary":"获取所有可用的公会语音房(服务端调用)","operationId":"allAssoAudioRoomUsingPOST","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Set«string»»","originalRef":"结果响应«Set«string»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/audio_room/room/allPersonAudioRoom":{"post":{"tags":["语音房-房间相关"],"summary":"获取所有可用的个人语音房(服务端调用)","operationId":"allPersonAudioRoomUsingPOST","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Set«string»»","originalRef":"结果响应«Set«string»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/audio_room/room/allSeat":{"post":{"tags":["语音房-房间相关"],"summary":"获取所有房间的麦位信息","operationId":"allSeatUsingPOST","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Map«string,string»»","originalRef":"结果响应«Map«string,string»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/audio_room/room/availableRooms":{"post":{"tags":["语音房-房间相关"],"summary":"获取所有可用的语音房(服务端调用)","operationId":"availableRoomsUsingPOST","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Set«string»»","originalRef":"结果响应«Set«string»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/audio_room/room/getAllPartyRoom":{"post":{"tags":["语音房-房间相关"],"summary":"获取所有在播房间","operationId":"getAllPartyRoomUsingPOST","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Map«string,string»»","originalRef":"结果响应«Map«string,string»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/audio_room/room/isAudioRoom":{"post":{"tags":["语音房-房间相关"],"summary":"判断一个小象号是否为语音房的房主,包括公会房和个人房","operationId":"isAudioRoomUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"userId","in":"query","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/audio_room/room/is_mounted":{"post":{"tags":["语音房-房间相关"],"summary":"查询【上首页】状态","operationId":"isMountedUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/CommonRoomReq","originalRef":"CommonRoomReq"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/audio_room/room/listByAdministrator":{"post":{"tags":["语音房-房间相关"],"summary":"公会管理员查询公会旗下所有房间","operationId":"listByAdministratorUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«List«AppRoomDTO»»","originalRef":"结果响应«List«AppRoomDTO»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/audio_room/room/mount":{"post":{"tags":["语音房-房间相关"],"summary":"上首页/下首页","operationId":"mountRoomUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/MountReq","originalRef":"MountReq"}},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Void»","originalRef":"结果响应«Void»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/audio_room/room/obs_refresh":{"post":{"tags":["语音房-房间相关"],"summary":"OBS刷新地址","operationId":"obsRefreshUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"region","in":"header","description":"region","required":true,"type":"string"},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«ObsRefreshResultDTO»","originalRef":"结果响应«ObsRefreshResultDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/audio_room/room/obs_start":{"post":{"tags":["语音房-房间相关"],"summary":"OBS开播","operationId":"obsStartUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"region","in":"header","description":"region","required":true,"type":"string"},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Void»","originalRef":"结果响应«Void»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/audio_room/room/obs_stop":{"post":{"tags":["语音房-房间相关"],"summary":"关闭OBS直播","operationId":"obsStopUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/CommonRoomReq","originalRef":"CommonRoomReq"}},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Void»","originalRef":"结果响应«Void»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/audio_room/room/play_video":{"post":{"tags":["语音房-房间相关"],"summary":"播放录像","operationId":"playVideoUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Void»","originalRef":"结果响应«Void»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/audio_room/room/update":{"post":{"tags":["语音房-房间相关"],"summary":"修改房间","operationId":"updateRoomUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/UpdateRoomReq","originalRef":"UpdateRoomReq"}},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«Void»","originalRef":"结果响应«Void»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/audio_room/seat/forbid":{"post":{"tags":["语音房-坐席(麦位)相关"],"summary":"禁麦/解禁","operationId":"forbidSeatUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/ForbidSeatReq","originalRef":"ForbidSeatReq"}},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«SimpleResp»","originalRef":"结果响应«SimpleResp»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/audio_room/seat/getPartyRoomUsers":{"post":{"tags":["语音房-坐席(麦位)相关"],"summary":"获取语音房抱麦列表","operationId":"getPartyRoomUsersUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/抱麦请求","originalRef":"抱麦请求"}},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«List«语音房抱麦列表数据»»","originalRef":"结果响应«List«语音房抱麦列表数据»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/audio_room/seat/lock":{"post":{"tags":["语音房-坐席(麦位)相关"],"summary":"锁麦/解锁","operationId":"lockSeatUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/LockSeatReq","originalRef":"LockSeatReq"}},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«SimpleResp»","originalRef":"结果响应«SimpleResp»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/audio_room/seat/seatDown":{"post":{"tags":["语音房-坐席(麦位)相关"],"summary":"下麦/抱下麦","operationId":"seatDownUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/SeatDownReq","originalRef":"SeatDownReq"}},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«SimpleResp»","originalRef":"结果响应«SimpleResp»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/audio_room/seat/seatList":{"post":{"tags":["语音房-坐席(麦位)相关"],"summary":"获取麦序列表","operationId":"seatListUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/SeatRequest","originalRef":"SeatRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«List«AudioRoomSeatDTO»»","originalRef":"结果响应«List«AudioRoomSeatDTO»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/audio_room/seat/seatUp":{"post":{"tags":["语音房-坐席(麦位)相关"],"summary":"上麦/抱上麦","operationId":"seatUpUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/SeatUpReq","originalRef":"SeatUpReq"}},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«SimpleResp»","originalRef":"结果响应«SimpleResp»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/forbidden/isForbidden":{"post":{"tags":["ee-forbidden-controller"],"summary":"是否封禁","operationId":"isForbiddenUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"forbiddenInfo","description":"forbiddenInfo","required":true,"schema":{"$ref":"#/definitions/ForbiddenInfoDTO","originalRef":"ForbiddenInfoDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/konfi/getFormData":{"post":{"tags":["konfi-controller"],"summary":"getFormData","operationId":"getFormDataUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/FormDataPageRequest","originalRef":"FormDataPageRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/official_channel/addRank":{"post":{"tags":["official-channel-controller"],"summary":"手动加榜单","operationId":"addRankUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/ActivityGiftEventDTO","originalRef":"ActivityGiftEventDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应","originalRef":"结果响应"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/official_channel/anchor_choice":{"post":{"tags":["official-channel-controller"],"summary":"官频-主播选择继续开播or留在官频","operationId":"anchorChoiceUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"choice","in":"query","description":"follow: 跟随(继续开播), focus: 关注(留在官频)","required":true,"type":"string"},{"name":"groupId","in":"query","description":"官频的im群组id","required":true,"type":"string"},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/official_channel/anchor_end":{"post":{"tags":["official-channel-controller"],"summary":"官频-主播下播","operationId":"anchorEndUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"region","in":"header","description":"region","required":true,"type":"string","enum":["ID","MS","SG","TW","US","VN","XM"]},{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/PerformanceEndReq","originalRef":"PerformanceEndReq"}},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/official_channel/anchor_obs_refresh":{"post":{"tags":["official-channel-controller"],"summary":"官频-OBS刷新地址","operationId":"obsRefreshUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"region","in":"header","description":"region","required":true,"type":"string","enum":["ID","MS","SG","TW","US","VN","XM"]},{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/OfficialChannelObsRefreshReq","originalRef":"OfficialChannelObsRefreshReq"}},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«OfficialChannelObsRefreshResultDTO»","originalRef":"结果响应«OfficialChannelObsRefreshResultDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/official_channel/anchor_obs_start":{"post":{"tags":["official-channel-controller"],"summary":"官频-OBS开播","operationId":"obsStartUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"region","in":"header","description":"region","required":true,"type":"string","enum":["ID","MS","SG","TW","US","VN","XM"]},{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/ObsEnterRoomReq","originalRef":"ObsEnterRoomReq"}},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«RoomLiveShowDTO»","originalRef":"结果响应«RoomLiveShowDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/official_channel/anchor_start":{"post":{"tags":["official-channel-controller"],"summary":"官频-主播开播","operationId":"anchorStartUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"region","in":"header","description":"region","required":true,"type":"string","enum":["ID","MS","SG","TW","US","VN","XM"]},{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/PerformanceStartReq","originalRef":"PerformanceStartReq"}},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«RoomLiveShowDTO»","originalRef":"结果响应«RoomLiveShowDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/official_channel/channel_data":{"post":{"tags":["official-channel-controller"],"summary":"官频-返回channelData","operationId":"enterUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"officialId","in":"query","description":"官频ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«OfficialChannelLiveDTO»","originalRef":"结果响应«OfficialChannelLiveDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/official_channel/getAllId":{"post":{"tags":["official-channel-controller"],"summary":"获取所有官频id","operationId":"getAllIdUsingPOST","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«List«string»»","originalRef":"结果响应«List«string»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/official_channel/getAnchorIdByOfficialId":{"get":{"tags":["official-channel-controller"],"summary":"通过官频id查询主播id","operationId":"getAnchorIdUsingGET","produces":["*/*"],"parameters":[{"name":"officialId","in":"query","description":"officialId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«string»","originalRef":"结果响应«string»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/official_channel/getPerformanceIdByOfficialId":{"get":{"tags":["official-channel-controller"],"summary":"通过官频id查询表演内容id，返回有可能为空","operationId":"getPerformanceIdByOfficialIdUsingGET","produces":["*/*"],"parameters":[{"name":"officialId","in":"query","description":"officialId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«long»","originalRef":"结果响应«long»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/official_channel/inOfficialChannel":{"get":{"tags":["official-channel-controller"],"summary":"判断主播是否在官配开播","operationId":"inOfficialChannelUsingGET_1","produces":["*/*"],"parameters":[{"name":"anchorId","in":"query","description":"anchorId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/official_channel/incomeDetail":{"post":{"tags":["official-channel-controller"],"summary":"查询收益榜","operationId":"incomeDetailUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"officialLiveCode","in":"query","description":"officialLiveCode","required":true,"type":"string"},{"name":"performanceId","in":"query","description":"performanceId","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«OfficialChannelRankDTO»","originalRef":"结果响应«OfficialChannelRankDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/official_channel/official_end_page":{"post":{"tags":["official-channel-controller"],"summary":"官频结束页信息展示接口","operationId":"officialEndPageUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"officialId","in":"query","description":"officialId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«OfficialChannelEndPageDTO»","originalRef":"结果响应«OfficialChannelEndPageDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/official_channel/official_start":{"post":{"tags":["official-channel-controller"],"summary":"官频手动开播，用于定时开播有问题时补偿","operationId":"officialStartUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"officialId","in":"query","description":"officialId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«boolean»","originalRef":"结果响应«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/official_channel/rule":{"post":{"tags":["official-channel-controller"],"summary":"查询规则页信息","operationId":"ruleUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"officialId","in":"query","description":"官频ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«string»","originalRef":"结果响应«string»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/official_channel/showDetail":{"post":{"tags":["official-channel-controller"],"summary":"查询节目单","operationId":"showDetailUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"officialLiveCode","in":"query","description":"officialLiveCode","required":true,"type":"string"},{"name":"performanceId","in":"query","description":"performanceId","required":false,"type":"integer","format":"int64"},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«List«节目单»»","originalRef":"结果响应«List«节目单»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/official_channel/star":{"post":{"tags":["official-channel-controller"],"summary":"查询星光值","operationId":"starUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"performanceId","in":"query","description":"performanceId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«double»","originalRef":"结果响应«double»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/official_channel/updateCache":{"post":{"tags":["official-channel-controller"],"summary":"更新缓存","operationId":"updateCacheUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"performanceId","in":"query","description":"performanceId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应","originalRef":"结果响应"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/official_channel/userContribute":{"post":{"tags":["official-channel-controller"],"summary":"查询用户贡献榜","operationId":"userContributeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"performanceId","in":"query","description":"performanceId","required":true,"type":"integer","format":"int64"},{"name":"uid","in":"header","description":"uid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«OfficialChannelRankDTO»","originalRef":"结果响应«OfficialChannelRankDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/payroom/anchorWhitelist/isExitsWhitelist":{"get":{"tags":["主播白名单"],"summary":"判断是否付费房间开放主播","operationId":"isExitsWhitelistUsingGET","produces":["*/*"],"parameters":[{"name":"anchorId","in":"query","description":"anchorId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应","originalRef":"结果响应"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/payroom/config":{"post":{"tags":["付费，密码房"],"summary":"付费房间配置","operationId":"payRoomConfigUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"region","in":"header","description":"请求发起者所属区域","required":true,"type":"string"},{"name":"uid","in":"header","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«付费房间价格与观看时间配置»","originalRef":"结果响应«付费房间价格与观看时间配置»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/payroom/correct/time":{"post":{"tags":["付费，密码房"],"summary":"客户端回调修正剩余观看时间","operationId":"correctExcessTimeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/TimeRequest","originalRef":"TimeRequest"}},{"name":"uid","in":"header","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应","originalRef":"结果响应"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/payroom/excess/time":{"post":{"tags":["付费，密码房"],"summary":"剩余可观看时长","operationId":"getExcessTimeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"anchorId","in":"query","description":"anchorId","required":true,"type":"string"},{"name":"uid","in":"header","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«付费房间用户剩余时间DTO»","originalRef":"结果响应«付费房间用户剩余时间DTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/payroom/order":{"post":{"tags":["付费，密码房"],"summary":"付费房支付接口","operationId":"orderUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/AnchorRequest","originalRef":"AnchorRequest"}},{"name":"uid","in":"header","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«付费房间支付»","originalRef":"结果响应«付费房间支付»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/payroom/password/room/check":{"post":{"tags":["付费，密码房"],"summary":"加入密码房时校验密码","operationId":"checkPasswordUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/密码房密码校验","originalRef":"密码房密码校验"}},{"name":"uid","in":"header","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应«密码房密码校验»","originalRef":"结果响应«密码房密码校验»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/payroom/relation/add":{"post":{"tags":["关联房"],"summary":"添加关联房","operationId":"addUsingPOST_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"payRoomRelationDTO","description":"payRoomRelationDTO","required":true,"schema":{"$ref":"#/definitions/PayRoomRelationDTO","originalRef":"PayRoomRelationDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/结果响应","originalRef":"结果响应"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/ee/payroom
[...]
